<apex:component access="global" controller="CafApprovalRequestEmailComponentCtrl">
    <apex:attribute name="contractId" type="Id" description="Id of the Contract" assignTo="{!emailContractId}"/>
    <html>
        <body>
            <div style="width:100%">
               <!--
                <img src="https://ccms--full--c.cs95.content.force.com/servlet/servlet.ImageServer?id=0150x0000009Chd&oid=00D0x0000008i5i" alt="Comcast Logo Header"/>
                -->
<!--
<img src="https://ccms--full--c.cs95.content.force.com/servlet/servlet.ImageServer?id=0150x000000HYOq&oid=00D0x0000008i5i" alt="Comcast Logo Header"/>                
-->
<img src="{!$Label.DocumentInstanceLink}{!DocId}&oid={!$Organization.Id}" alt="Comcast Logo Header"/>
                <br/><br/>
            </div>
            
               <div style="width:90%">
                    <p style="font-family:Arial">Dear {!contract.CreatedBy.Name},</p>
                    <p style="font-family:Arial">Your Contract Approval Request has been rejected. You may not move forward 
                    with this request. Review the comments within the <b>Approver Details</b> below.  If revisions are required, contact <a href="mailto:Legal_Technology_Support@comcast.com">Legal_Technology_Support@comcast.com</a>.</p>
                    
                <!-- <a href="{!$Label.BaseLabel}/apex/ReviewCAF?id={!contract.Id}" target="_blank">click here</a> to edit and re-submit your request.</p> -->
                </div>
                <div style="width: 100%; font-family: Arial"> 
                    <b><u>Request Summary:</u><br/>Summary</b><br/><apex:outputText value="{!Contract.Brief_Summary__c}" escape="false"/> 
                </div> 
                <div style="width: 100%; font-family: Arial"> 
                    <b>Request Details<br/></b>
                </div> 
                <div>
                    <table style="font-family:Arial;width:100%">
                        <tbody>
                            <tr style="font-family:Arial">
                                <td>Contract Approval Form</td>
                                <td>{!contract.CAF_Type__c}</td>
                            </tr>
                            <tr>
                                <td>Contract Name</td>
                                <td>{!contract.Name}</td>
                            </tr>
                            <tr>
                                <td>Contract Request Number</td>
                                <td>{!contract.REVVY__ContractId__c}</td>
                            </tr>
                            <tr>
                                <td>Counterparty</td>
                                <td>{!contract.Counterparty__c}
                                </td> 
                            </tr>
                            <tr>
                                <td>Business Unit</td>
                                <td>{!contract.Business_Unit__c}
                                </td>
                            </tr>
                            <tr>
                                <td>Contract Value</td>
                                <td><apex:outputText value="{!if(Contract.Contract_Value__c != null,'$','')}{0, Number, Integer}"><apex:param value="{!Contract.Contract_Value__c}" /> </apex:outputText></td>
                            </tr>
                            
                            
                        </tbody>
                    </table>
                </div>
                <br/><br/>
                <!-- Approvers Table starts here -->
                <div style="width: 100%; font-family: Arial"> 
                    <b>Approver Details<br/></b>
                </div> 
                <div style="width: 100%; font-family: Arial;" class="Approverdiv">
                    <!-- <b>Approvers:</b> --> 
                    <div class="show" style="display:none">
                        <br/><br/>
                    </div>
                    <table style="font-family: Arial;table-layout: fixed;width:100%">
                        <thead style="border: 1px solid black;">
                            <th style="width:30%;text-align:left;" class="th1"><b>Approval Role</b></th>
                            <th style="width:18.2%;text-align:left;" class="th2"><b>Approver</b></th>
                            <th style="width:14%;text-align:left;" class="th3"><b>Status</b></th>
                            <th style="width:38.6%;text-align:left;" id="commentheader" class="td4"><b>Comments</b></th>
                            <!-- <th style="width:17.5%;text-align:left;"><b>DateTime (Eastern)</b></th> -->
                        </thead>
                    </table>
                    <table style="font-family: Arial;border-collapse: collapse;table-layout: fixed;width:100%"> 
                        <tbody>
                            <apex:repeat value="{!Approver}" var="App">
                                <tr>
                                    <td style="width:30%;text-align:left;white-space: normal;" class="td1">
                                        <apex:outputText value="{!App.Name}" title="Approver Name"/>
                                    </td>
                                    <td>
                                        <apex:repeat value="{!App.REVVY__StepInstApprovers__r}" var="AL">
                                            <table style="font-family: Arial;border-collapse: collapse;padding: 0px;table-layout: fixed;width:100%;">
                                                <tr>
                                                    <td style="width:26%;text-align:left;white-space: normal;" class="td2">
                                                        <apex:outputText value="{!AL.Name}"/>
                                                    </td>
                                                    <td style="width:20%;text-align:left;white-space: normal;" class="td3">
                                                        <apex:outputText value="{!AL.REVVY__Status__c}"/>
                                                    </td>
                                                    <td style="width:54%;text-align:left;white-space: normal;" id="commentvalue" class="td4">
                                                        <apex:outputText value="{!AL.REVVY__ApprovalComments__c}"/>
                                                    </td>
                                                </tr>
                                            </table>
                                        </apex:repeat>
                                    </td>
                                </tr>
                            </apex:repeat>
                        </tbody>
                    </table>
                </div>
            <div style="width: 100%; font-family: Arial">
                <p style="font-family:Arial">For inquiries regarding the contract approval process or for technical support, contact <a href="mailto:Legal_Technology_Support@comcast.com">Legal_Technology_Support@comcast.com</a>.</p>
                <p style="font-family:Arial; font-size:12pt">Thank you.</p>
            </div>
        </body>
    </html>
</apex:component>