<apex:component access="global" controller="CafApprovalRequestEmailComponentCtrl">
    <apex:attribute name="contractId" type="Id" description="Id of the Contract" assignTo="{!emailContractId}"/>
    <html>
        <body style ="font-family:arial">
            <div style="width:100%">
            <!--
                <img src="https://ccms--full--c.cs95.content.force.com/servlet/servlet.ImageServer?id=0150x0000009Chd&oid=00D0x0000008i5i" alt="Comcast Logo Header"/>
                
                <img src="https://ccms--full--c.cs95.content.force.com/servlet/servlet.ImageServer?id=0150x000000HYOq&oid=00D0x0000008i5i" alt="Comcast Logo Header"/>
                -->
                <img src="{!$Label.DocumentInstanceLink}{!DocId}&oid={!$Organization.Id}" alt="Comcast Logo Header"/>
                <br/><br/>
            </div>
            <div style="width:90%">
                <p style="font-family:Arial"><REVVY:CMnApprovalItemCmp value="Approver Name"/> has rejected the CAF request "<a href="{!contract.Record_URL__c}" target="_blank">{!contract.Name}</a>" with the following rejection comments:</p>
                <p><REVVY:CMnApprovalItemCmp value="Approver Comments"/></p>
            </div>
            <div style="width: 100%; font-family: Arial">
                <p style="font-family:Arial"> If you have any questions or issues with the contract approval process, or if there are any technical issues with how the system is working, contact Legal_Technology_Support@comcast.com. </p>
                <br/>           
                <p style="font-family:Arial; font-size:12pt">Sincerely,</p>
                <p style="font-family:Arial; font-size:12pt">Legal Technology Operations </p>
            </div>
        </body>
    </html>
</apex:component>