<apex:component access="global" controller="CafApprovalRequestEmailComponentCtrl">
    <apex:attribute name="contractId" type="Id" description="Id of the Contract" assignTo="{!emailContractId}"/>
    
    <html><head>
        </head>
        <body><div>
            <div style="width:100%">
                <img src="https://ccms--full--c.cs95.content.force.com/servlet/servlet.ImageServer?id=0150x0000009Chd&oid=00D0x0000008i5i" alt="Comcast Logo Header"/>
                <br/><br/>
            </div>
            <div style="width:90%">
                <p style="font-family:Arial">Dear Accounting Team,</p>
                <p style="font-family:Arial">The following contract is pending your approval. </p>
                <p style="font-family:Arial">Please review the contract first by clicking on the link to the file below. To approve or reject this contract, click on the appropriate button below. </p>
                
            </div>
            <br/><br/>
                <!-- File List starts here -->
                <div style="width: 100%;">
                    <table style="width:100%;table-layout: fixed;font-family: Arial">
                        <thead >
                            <th width="30%" style="text-align:left">
                                File Name
                            </th>
                            <th width="15%" style="text-align:left">
                                Attachment Type
                            </th>
                            <th width="50%" style="text-align:left">
                                Description
                            </th>
                        </thead>
                        <tbody>
                            <apex:repeat value="{!Content}" var="con">
                                <tr>
                                    <td width="30%" style="text-align:left;vertical-align:top;white-space: normal;">
                                        <apex:outputLink value="{!BaseURL}/{!con.Id}" target="_blank">{!con.title}</apex:outputLink>
                                        <!-- when moved to production, change the above url to prod url -->
                                    </td>
                                    <td width="15%" style="text-align:left;vertical-align:top;">
                                        <apex:outputText value="{!con.Attachment_Type__c}"/>
                                    </td>
                                    <td width="50%" style="white-space: normal;text-align:left;vertical-align:top;">
                                        <apex:outputText value="{!con.Description}"/>
                                    </td>
                                </tr>
                            </apex:repeat>
                        </tbody>
                    </table>
                </div>
                <!-- File List Ends here -->
            <br/><br/>
            <div style="width: 100%; font-family: Arial">
                
                <b>Summary:</b><br/><apex:outputText value="{!Contract.Brief_Summary__c}" escape="false"/>  
            </div> 
            <div>
                <table style="font-family:Arial;width:100%">
                    <tbody>
                        <tr style="font-family:Arial">
                            <td><b>Contract Name: </b></td>
                            <td>{!contract.Name}</td>
                        </tr>
                        <tr>   
                            <td><b>Requester:</b></td>
                            <td>{!contract.CreatedBy.Name}
                            </td>
                        </tr>
                        <tr>
                            <td><b>Counterparty:</b></td>
                            <td>{!contract.Counterparty__c}
                            </td> 
                        </tr>
                        <tr>
                                
                                <td><b>Contract Request Number:</b></td>
                                <td>{!contract.REVVY__ContractId__c}
                                </td> 
                        </tr>
                        <tr>
                            <td><b>Business Unit:</b></td>
                            <td>{!contract.Business_Unit__c}
                            </td>
                        </tr>
                        <tr>
                            <td><b>Contract Value:</b></td>
                            <td><apex:outputText value="{!if(Contract.Contract_Value__c != null,'$','')}{0, Number, Integer}"><apex:param value="{!Contract.Contract_Value__c}" /> </apex:outputText></td>
                        </tr>
                    </tbody>
                </table>
        </div>
            <br/><br/>
            <div >
                <p style="font-family:Arial"><b>By approving the contract, you acknowledge that you have reviewed the contract to the degree reasonably required for you to grant your approval of this transaction.</b></p>
                <div align="center" style="width:100%; height:100%">
                    
                    <!--[if mso]>
<v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" style="height:50px;v-text-anchor:middle;width:150px;" href="{!Contract.Record_URL__c}" arcsize="5%" strokecolor="#085a9a" fillcolor="#085a9a">
<w:anchorlock/>
<center style="color:#ffffff;font-family:Helvetica, Arial,sans-serif;font-size:14PX;">Review</center>
</v:roundrect>
<![endif]-->
                    <a id="review" style="width:20%; background: linear-gradient(#0066b6, #085a9a); color: white; font-weight: bold;display: inline-block;padding: 1px 5px;margin-bottom: 10px;font-size:14PX;text-align: center;cursor: pointer;user-select: none;border: 1px solid transparent;border-radius: 4px;cursor: pointer;" href="{!Contract.Record_URL__c}" target="_blank">  Review </a>
                    
                    <!--[if mso]> 
<v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="mailto:advanced_approvals_email_service@2x1enlr3pi19hoqmql9yw006oji7lgra9i6mo0r46lgmiyizsc.0x-8i5ieaa.cs95.apex.sandbox.salesforce.com?bcc=Michael_Iacovelli@comcast.com&subject=Re:CAF%20Approval%20Request%20for%20Contract%20{!contractnameescaped}&body=Yes%20%0D%0D%2D%2D%2D%2D%2D%2D%2D%2D%2D%2D%2D%2D%2D%2D%2D%2D%2D%2D%2D%2D%0DIf%20you%20would%20like%20to%20add%20any%20comments%20to%20this%20approval,%20please%20enter%20them%20on%20the%20line%20after%20Yes.%0DPlease%20do%20not%20modify%20the%20reference%20id.%0D<stepInstance>{!StepInstance.Id}<%2FstepInstance>" style="height:50px;v-text-anchor:middle;width:150px;" arcsize="5%" strokecolor="#3e810b" fillcolor="#3e810b">
<w:anchorlock/>
<center style="color:#ffffff;font-family:Helvetica, Arial,sans-serif;font-size:14PX;">Approve</center>
</v:roundrect>
<![endif]-->
                    <a id="approve" href="mailto:advanced_approvals_email_service@2x1enlr3pi19hoqmql9yw006oji7lgra9i6mo0r46lgmiyizsc.0x-8i5ieaa.cs95.apex.sandbox.salesforce.com?bcc=Michael_Iacovelli@comcast.com&subject=Re:CAF Approval Request for Contract {!contractnameescaped}&body=Yes %0D%0D ----------------------- %0DIf you would like to add any comments to this approval, please enter them on the line after Yes.%0DPlease do not modify the reference id.%0D<stepInstance>{!StepInstance.Id}<%2FstepInstance>" style="width:20%; background: linear-gradient(#55b40c, #3e810b); color: white; font-weight: bold;display: inline-block;padding: 1px 5px;margin-bottom: 10PX;font-size:14PX;text-align: center;cursor: pointer;user-select: none;border: 1px solid transparent;border-radius: 4px;cursor: pointer;"  target="_blank">  Approve </a>
                    
                    <!--[if mso]>
<v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="mailto:advanced_approvals_email_service@2x1enlr3pi19hoqmql9yw006oji7lgra9i6mo0r46lgmiyizsc.0x-8i5ieaa.cs95.apex.sandbox.salesforce.com?bcc=Michael_Iacovelli@comcast.com&subject=Re:CAF%20Approval%20Request%20for%20Contract%20{!contractnameescaped}&body=No%20%0D%0D%2D%2D%2D%2D%2D%2D%2D%2D%2D%2D%2D%2D%2D%2D%2D%2D%2D%2D%2D%2D%0DIf%20you%20would%20like%20to%20add%20any%20comments%20to%20this%20approval,%20please%20enter%20them%20on%20the%20line%20after%20No.%0DPlease%20do%20not%20modify%20the%20reference%20id.%0D<stepInstance>{!StepInstance.Id}<%2FstepInstance>" style="height:50px;v-text-anchor:middle;width:150px;" arcsize="5%" strokecolor="#891a07" fillcolor="#891a07">
<w:anchorlock/>
<center style="color:#ffffff;font-family:Helvetica, Arial,sans-serif;font-size:14PX;">Reject</center>
</v:roundrect>
<![endif]-->
                    <a id="reject" href="mailto:advanced_approvals_email_service@2x1enlr3pi19hoqmql9yw006oji7lgra9i6mo0r46lgmiyizsc.0x-8i5ieaa.cs95.apex.sandbox.salesforce.com?bcc=Michael_Iacovelli@comcast.com&subject=Re:CAF Approval Request for Contract {!contractnameescaped}&body=No %0D%0D ----------------------- %0DIf you would like to add any comments to this approval, please enter them on the line after No.%0DPlease do not modify the reference id.%0D<stepInstance>{!StepInstance.Id}<%2FstepInstance>" style="width:20%; background: linear-gradient(#c5371e, #891a07); color: white; font-weight: bold;display: inline-block;padding: 1px 5px;margin-bottom: 10PX;font-size:14PX;text-align: center;cursor: pointer;user-select: none;border: 1px solid transparent;border-radius: 4px;cursor: pointer;"  target="_blank">  Reject </a>
                </div>
                
            </div>
            
        <!-- Approvers Table starts here -->
        <div style="width: 100%; font-family: Arial">
            <!-- <b>Approvers:</b> --><br/><br/>
            <table style="font-family: Arial;table-layout: fixed;width:100%">
                <thead >
                    <th style="width:30%;text-align:left;"><b>Approval Process</b></th>
                    <th style="width:14%;text-align:left;"><b>Approver</b></th>
                    <th style="width:10.5%;text-align:left;"><b>Status</b></th>
                    <th style="width:28%;text-align:left;"><b>Comments</b></th>
                    <th style="width:17.5%;text-align:left;"><b>DateTime</b></th>
                </thead>
            </table>
            <table style="font-family: Arial;border-collapse: collapse;table-layout: fixed;width:100%"> 
                <tbody>
                    <apex:repeat value="{!Approver}" var="App">
                        <tr>
                            <td style="width:30%;text-align:left;white-space: normal;">
                                <apex:outputText value="{!App.Name}" title="Approver Name"/>
                            </td>
                            <td>
                                <apex:repeat value="{!App.REVVY__StepInstApprovers__r}" var="AL">
                                    <table style="font-family: Arial;border-collapse: collapse;padding: 0px;table-layout: fixed;width:100%">
                                        <tr>
                                            <td style="width:20%;text-align:left;white-space: normal;">
                                                <apex:outputText value="{!AL.Name}"/>
                                            </td>
                                            <td style="width:16%;text-align:left;white-space: normal;">
                                                <apex:outputText value="{!AL.REVVY__Status__c}"/>
                                            </td>
                                            <td style="width:39%;text-align:left;white-space: normal;">
                                                <apex:outputText value="{!AL.REVVY__ApprovalComments__c}"/>
                                            </td>
                                            <td style="width:25%;text-align:left;white-space: normal;">
                                                <apex:outputText value="{0,date,MM/dd/yy hh:mm a}"><apex:param value="{!AL.REVVY__ActionDate__c-(1/6)}"/> </apex:outputText>
                                            </td>
                                        </tr>
                                    </table>
                                </apex:repeat>
                            </td>
                        </tr>
                    </apex:repeat>
                </tbody>
            </table>
        </div>
            <br/>
        <!-- Approvers Table Ends here -->
        <div>
             <p style="font-family:Arial">For inquiries regarding the contract approval process or for technical support, contact <a href="mailto:Legal_Technology_Support@comcast.com">Legal_Technology_Support@comcast.com</a>.</p>
             <p style="font-family:Arial; font-size:12pt">Thank you.</p>
        </div>
    </div>
</body>
</html>
</apex:component>