<apex:component access="global" controller="CafApprovalRequestEmailComponentCtrl">
    <apex:attribute name="contractId" type="Id" description="Id of the Contract" assignTo="{!emailContractId}"/>
    <html>
        <head>
            <style type="text/css">
                /* Samsung specific CSS */
                #MessageViewBody .hide {
                visibility:collapse !important;
                }
                #MessageViewBody .Approverdiv{
                align:center !important;
                width:100% !important;
                }
                #MessageViewBody .th1{
                width : 130% !important;
                }
                #MessageViewBody .th2{
                width : 60% !important;
                }
                #MessageViewBody .th3{
                width: 50% !important;
                }
                #MessageViewBody .td1{
                width: 45% !important;
                }
                #MessageViewBody .td2{
                width: 100% !important;
                }
                #MessageViewBody .td3{
                width: 100% !important;
                }
                 /* CSS for iOS devices */
                @supports (-webkit-overflow-scrolling: touch) { 
                div[id="IOS"] {display:block !important}
                div[id="nonIOS"] {display:none !important}
                div[id="android"] {display:none !important}
                div[id="desktop"] {display:none !important}
                a[id="reassign"] {visibility: visible !important}
                a[id="approve"] {visibility: visible !important}
                a[id="reject"] {visibility: visible !important}
                table[id="IOS"] {display:block !important}
                td[id="IOS1"] {display:block !important}
                td[id="IOS2"] {display:block !important}
                td[id="IOS3"] {display:block !important}
                th[id="commentheader"] {display:none !important}
                td[id="commentvalue"] {display : none !important}
                    .hide{
                        display : none !important
                    }
                    .show{
                        display : block !important
                    }
                    .th1{
                        width : 30% !important;
                    }
                    .th2{
                        width : 19.5% !important;
                    }
                    .th3{
                        width: 16.25% !important;   
                    }
                    .td1{
                        width: 45% !important;
                    }
                    .td2{
                        width: 30% !important;
                    }
                    .td3{
                        width: 25% !important;
                    }
                }
                /* CSS for other than iOS devices */
                @supports not (-webkit-overflow-scrolling: touch) { 
                    .hide{
                        display:none !important;
                    }   
                    .th1{
                        width : 30% !important;
                    }
                    .th2{
                        width : 19.5% !important;
                    }
                    .th3{
                        width: 16.25% !important;   
                    }
                    .td1{
                        width: 45% !important;
                    }
                    .td2{
                        width: 30% !important;
                    }
                    .td3{
                        width: 25% !important;
                    }
                }
                /*CSS for Outlook.com */
                [owa] .comment{
                    display: block !important;
                }
                [owa] .approver{
                    width :14% !important;
                }
                [owa] .status{
                    width :10.5% !important;
                }
                [owa] .approveowa{
                    font-size : 14px !important;
                }
            </style>
            <!--[if mso]>
                <style>
                /*CSS for Outlook Desktop App */
                .approveowa{
                    font-size : 0px !important;
                    text-decoration: none !important;
                    color : #3e810b !important;
                }
                .approvemso{
                    font-size : 14px !important;
                }
                .approver{
                    width :14% !important;
                }
                .status{
                    width :11.25% !important;
                }
                .comment{
                    display: block !important;
                }         
                .process{
                    width :22.5% !important;
                }
                .alname{
                    width :19.9% !important;
                }
                .processname{
                    width :29.8% !important;
                }
                </style>
            <![endif]-->
        </head>
        <body class="body"><div>
            <div style="width:100%">
            
                <img src="{!$Label.DocumentInstanceLink}{!DocId}&oid={!$Organization.Id}" alt="Comcast Logo Header"/>
            <!--    
                <img src="https://ccms--full--c.cs95.content.force.com/servlet/servlet.ImageServer?id=0150x000000HYOq&oid=00D0x0000008i5i" alt="Comcast Logo Header"/>
                -->
                <br/><br/>
            </div>
             
            <div style="width: 100%; font-family: Arial">
                <p style="font-family:Arial">Dear <REVVY:CMnApprovalItemCmp value="Approver Name"/>,</p>
                <p style="font-family:Arial">This is a reminder that a Contract Approval Request from {!contract.CreatedBy.Name} is pending your review. Review the details below and <a href="{!$Label.BaseLabel}/apex/ReviewCAF?id={!contract.Id}" target="_blank">click here</a> to take action on the request.</p>
            </div> 
            <div style="width: 100%; font-family: Arial"> 
                    <b><u>Request Summary:</u><br/>
                    <div style="width: 100%; font-family: Arial"> 
                    <b>Requester Details<br/></b>
                </div> 
                <div>
                    <table style="font-family:Arial;width:100%">
                        <tbody>
                            <tr style="font-family:Arial">
                                <td>Name</td>
                                <td>{!contract.CreatedBy.Name}</td>

                            </tr>
                         </tbody>
                    </table>
                </div>
                    <br/>Summary</b><br/><apex:outputText value="{!Contract.Brief_Summary__c}" escape="false"/> 
                </div> 
                <div style="width: 100%; font-family: Arial"> 
                    <b>Request Details<br/></b>
                </div> 
                <div>
                    <table style="font-family:Arial;width:100%">
                        <tbody>
                            <tr style="font-family:Arial">
                                <td>eCAF</td>
                                <td>{!contract.CAF_Type__c}</td>
                            </tr>
                            <tr>
                                <td>Contract Name </td>
                                <td>{!contract.Name}</td>
                            </tr>
                            <tr>
                                <td>Contract Request Number </td>
                                <td>{!contract.REVVY__ContractId__c}</td>
                            </tr>
                            <tr>
                                <td>Counterparty </td>
                                <td>{!contract.Counterparty__c}
                                </td> 
                            </tr>
                            <tr>
                                <td>Contract Value </td>
                                <td><apex:outputText value="{!if(Contract.Contract_Value__c != null,'$','')}{0, Number, Integer}"><apex:param value="{!Contract.Contract_Value__c}" /> </apex:outputText></td>
                            </tr>
                            <tr>
                                <td>Business Unit </td>
                                <td>{!contract.Business_Unit__c}
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <br/><br/>
                <!-- Approvers Table starts here -->
                <div style="width: 100%; font-family: Arial"> 
                    <b>Approver Details<br/></b>
                </div> 
                <div style="width: 100%; font-family: Arial;" class="Approverdiv">
                    <!-- <b>Approvers:</b> --> 
                    <div class="show" style="display:none">
                        <br/><br/>
                    </div>
                    <table style="font-family: Arial;table-layout: fixed;width:100%">
                        <thead style="border: 1px solid black;">
                            <th style="width:30%;text-align:left;" class="th1"><b>Approval Role</b></th>
                            <th style="width:18.2%;text-align:left;" class="th2"><b>Approver</b></th>
                            <th style="width:14%;text-align:left;" class="th3"><b>Status</b></th>
                            <th style="width:38.6%;text-align:left;" id="commentheader" class="td4"><b>Comments</b></th>
                            <!-- <th style="width:17.5%;text-align:left;"><b>DateTime (Eastern)</b></th> -->
                        </thead>
                    </table>
                    <table style="font-family: Arial;border-collapse: collapse;table-layout: fixed;width:100%"> 
                        <tbody>
                            <apex:repeat value="{!Approver}" var="App">
                                <tr>
                                    <td style="width:30%;text-align:left;white-space: normal;" class="td1">
                                        <apex:outputText value="{!App.Name}" title="Approver Name"/>
                                    </td>
                                    <td>
                                        <apex:repeat value="{!App.REVVY__StepInstApprovers__r}" var="AL">
                                            <table style="font-family: Arial;border-collapse: collapse;padding: 0px;table-layout: fixed;width:100%;">
                                                <tr>
                                                    <td style="width:26%;text-align:left;white-space: normal;" class="td2">
                                                        <apex:outputText value="{!AL.Name}"/>
                                                    </td>
                                                    <td style="width:20%;text-align:left;white-space: normal;" class="td3">
                                                        <apex:outputText value="{!AL.REVVY__Status__c}"/>
                                                    </td>
                                                    <td style="width:54%;text-align:left;white-space: normal;" id="commentvalue" class="td4">
                                                        <apex:outputText value="{!AL.REVVY__ApprovalComments__c}"/>
                                                    </td>
                                                </tr>
                                            </table>
                                        </apex:repeat>
                                    </td>
                                </tr>
                            </apex:repeat>
                        </tbody>
                    </table>
                </div>
                
            <!-- Approvers Table Ends here -->
            <div style="width: 100%; font-family: Arial">
                <p style="font-family:Arial">For inquiries regarding the contract approval process or technical support, contact <a href="mailto:Legal_Technology_Support@comcast.com">Legal_Technology_Support@comcast.com</a>.</p>
                <p style="font-family:Arial; font-size:12pt">Thank you.</p>
             </div>

            </div>
        </body>
    </html>
</apex:component>