<apex:component access="global" controller="CafApprovalRequestEmailComponentCtrl">
    <apex:attribute name="contractId" type="Id" description="Id of the Contract" assignTo="{!emailContractId}"/>
    <html>
        <head>
            <style type="text/css">
                /* Samsung specific CSS */
                #MessageViewBody .hide {
                visibility:collapse !important;
                }
                #MessageViewBody .Approverdiv{
                align:center !important;
                width:100% !important;
                }
                #MessageViewBody .th1{
                width : 130% !important;
                }
                #MessageViewBody .th2{
                width : 60% !important;
                }
                #MessageViewBody .th3{
                width: 50% !important;
                }
                #MessageViewBody .td1{
                width: 45% !important;
                }
                #MessageViewBody .td2{
                width: 100% !important;
                }
                #MessageViewBody .td3{
                width: 100% !important;
                }
                 /* CSS for iOS devices */
                @supports (-webkit-overflow-scrolling: touch) { 
                div[id="IOS"] {display:block !important}
                div[id="nonIOS"] {display:none !important}
                div[id="android"] {display:none !important}
                div[id="desktop"] {display:none !important}
                a[id="reassign"] {visibility: visible !important}
                a[id="approve"] {visibility: visible !important}
                a[id="reject"] {visibility: visible !important}
                table[id="IOS"] {display:block !important}
                td[id="IOS1"] {display:block !important}
                td[id="IOS2"] {display:block !important}
                td[id="IOS3"] {display:block !important}
                th[id="commentheader"] {display:none !important}
                td[id="commentvalue"] {display : none !important}
                    .hide{
                        display : none !important
                    }
                    .show{
                        display : block !important
                    }
                    .th1{
                        width : 30% !important;
                    }
                    .th2{
                        width : 19.5% !important;
                    }
                    .th3{
                        width: 16.25% !important;   
                    }
                    .td1{
                        width: 45% !important;
                    }
                    .td2{
                        width: 30% !important;
                    }
                    .td3{
                        width: 25% !important;
                    }
                }
                /* CSS for other than iOS devices */
                @supports not (-webkit-overflow-scrolling: touch) { 
                    .hide{
                        display:none !important;
                    }   
                    .th1{
                        width : 30% !important;
                    }
                    .th2{
                        width : 19.5% !important;
                    }
                    .th3{
                        width: 16.25% !important;   
                    }
                    .td1{
                        width: 45% !important;
                    }
                    .td2{
                        width: 30% !important;
                    }
                    .td3{
                        width: 25% !important;
                    }
                }
                /*CSS for Outlook.com */
                [owa] .comment{
                    display: block !important;
                }
                [owa] .approver{
                    width :14% !important;
                }
                [owa] .status{
                    width :10.5% !important;
                }
                [owa] .approveowa{
                    font-size : 14px !important;
                }
            </style>
            <!--[if mso]>
                <style>
                /*CSS for Outlook Desktop App */
                .approveowa{
                    font-size : 0px !important;
                    text-decoration: none !important;
                    color : #3e810b !important;
                }
                .approvemso{
                    font-size : 14px !important;
                }
                .approver{
                    width :14% !important;
                }
                .status{
                    width :11.25% !important;
                }
                .comment{
                    display: block !important;
                }         
                .process{
                    width :22.5% !important;
                }
                .alname{
                    width :19.9% !important;
                }
                .processname{
                    width :29.8% !important;
                }
                </style>
            <![endif]-->
        </head>
        <body class="body"><div>
            <div style="width:100%">
              
                <img src="{!$Label.DocumentInstanceLink}{!DocId}&oid={!$Organization.Id}" alt="Comcast Logo Header"/>
              <!--  
                <img src="https://ccms--full--c.cs95.content.force.com/servlet/servlet.ImageServer?id=0150x000000HYOq&oid=00D0x0000008i5i" alt="Comcast Logo Header"/>
                -->
                <br/><br/>
            </div>
            <div style="width: 100%; font-family: Arial">
                <p style="font-family:Arial">Dear <REVVY:CMnApprovalItemCmp value="Approver Name"/>,</p>
                <p style="font-family:Arial">The following contract has been reassigned to you and is pending your finance approval. </p>
                <p style="font-family:Arial">Please review the contract first by clicking on the link to the file(s) below. To approve or reject this contract, click on the appropriate button below. </p>
                                
                <p><a href="{!$Label.BaseLabel}/apex/ReviewCAF?id={!contract.Id}" target="_blank">View Contract Files</a></p>
                <b>Summary:</b><br/><apex:outputText value="{!Contract.Brief_Summary__c}" escape="false"/>
            </div>  
            <div>
                <table style="font-family:Arial;width:100%">
                    <tbody>
                        <tr style="font-family:Arial">
                            <td><b>eCAF</b></td>
                            <td>{!contract.CAF_Type__c}</td>
                        </tr>
                        <tr>
                            <tr style="font-family:Arial">
                                <td><b>Contract Name: </b></td>
                                <td>{!contract.Name}</td>
                        </tr>
                        <tr>   
                            <td><b>Requester:</b></td>
                            <td>{!contract.CreatedBy.Name}
                            </td>
                        </tr>
                        <tr>
                            <td><b>Counterparty:</b></td>
                            <td>{!contract.Counterparty__c}
                            </td> 
                        </tr>
                        <tr>
                                
                                <td><b>Contract Request Number:</b></td>
                                <td>{!contract.REVVY__ContractId__c}
                                </td> 
                        </tr>
                        <tr>
                            <td><b>Business Unit:</b></td>
                            <td>{!contract.Business_Unit__c}
                            </td>
                        </tr>
                        <tr>
                            <td><b>Contract Value:</b></td>
                            <td><apex:outputText value="{!if(Contract.Contract_Value__c != null,'$','')}{0, Number, Integer}"><apex:param value="{!Contract.Contract_Value__c}" /> </apex:outputText></td>
                        </tr>
                    </tr>
            </tbody>
            </table>
        </div>
        <br/><br/>
        <div>
            <p style="font-family:Arial"><b>By approving the contract, you acknowledge that you have reviewed the contract to the degree reasonably required for you to grant your approval of this transaction.</b></p><br/>
            <!-- Copy the style tag above too if you are copying buttons to other templates -->
            <div align="center" style="width:100%; height:100%;display:none;" id="IOS">
                <table cellspacing="10px" width="100%" id="IOS" style="display:none;">
                    <tr>
                        <td id="IOS1" style="display:none;width:30%; background: linear-gradient(#0066b6, #085a9a); color: white; 
                                             font-weight: bold;display: inline-block;padding: 1px 5px;margin-bottom: 10px;
                                             font-size:14PX;text-align: center;cursor: pointer;user-select: none;
                                             border: 1px solid transparent;border-radius: 4px;cursor: pointer;vertical-align: middle;">
                            <span>
                                <a id="reassign" style="visibility:hidden;color:white"
                                   href="{!ReviewURL}"
                                   target="_blank">Reassign / Add Approver</a>
                            </span>
                        </td>
                        <td id="IOS2" style="display:none;width:30%; background: linear-gradient(#55b40c, #3e810b); color: white; font-weight: bold;
                                             display: inline-block;padding: 1px 5px;margin-bottom: 10PX;font-size:14PX;text-align: center;
                                             cursor: pointer;user-select: none;border: 1px solid transparent;border-radius: 4px;
                                             cursor: pointer;vertical-align: middle;">
                            <span>
                                <a id="approve" href="{!ApproveURL}" target="_blank" 
                                           style="visibility: hidden;color:white">Approve</a>
                            </span>
                        </td>
                        <td id="IOS3" style="display:none;width:30%; background: linear-gradient(#c5371e, #891a07); color: white; 
                                             font-weight: bold;display: inline-block;padding: 1px 5px;margin-bottom: 10PX;
                                             font-size:14PX;text-align: center;cursor: pointer;user-select: none;
                                             border: 1px solid transparent;border-radius: 4px;cursor: pointer;vertical-align: middle;">
                            <span>
                                <a id="reject" style="visibility: hidden;color:white"
                                   href="{!RejectURL}"
                                   target="_blank">  Reject </a>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            <div align="center" style="width:100%; height:100%;" id="nonIOS"> 
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <table width="80%" border="0" cellspacing="25px" cellpadding="0">
                                <tr>
                                    <td bgcolor="#085a9a" style="padding: 12px 18px 12px 18px; border-radius:3px; 
                                                                 cursor: pointer;" align="center">
                                        <a href="{!ReviewURL}" target="_blank"
                                           style="font-size: 14px; font-family: Helvetica, Arial, sans-serif; font-weight: normal;
                                                  color: #ffffff; display: inline-block;">Reassign / Add Approver</a>
                                    </td>
                                    <td width="33%" bgcolor="#3e810b"
                                        style="padding: 12px 18px 12px 18px; border-radius:3px;cursor: pointer" 
                                        align="center">
                                        <span style="font-family: Helvetica, Arial, sans-serif; font-weight: normal;
                                                     color: #ffffff; display: inline-block;">
                                            <a href="mailto:{!ToAddress}?bcc=CMS_Notifications@comcast.com&subject=Re:CAF Approval Request for Contract {!contractnameescaped}&body=Approve%0D%0A ----------------------- %0D%0APlease do not modify the following line.%0D%0A<stepInstance>{!StepInstance.Id}</stepInstance>" 
                                               target="_top" style="color: #ffffff;font-size:0px" class="approvemso">  Approve </a>
                                            <a href="{!ApproveURL}"
                                               target="_blank" style="color: #ffffff;font-size: 14px;" class="approveowa">  Approve </a>
                                        </span>
                                    </td>
                                    <td width="33%" bgcolor="#891a07"
                                        style="padding: 12px 18px 12px 18px; border-radius:3px;cursor: pointer;" 
                                        align="center">
                                        <a href="{!RejectURL}" target="_blank"
                                           style="font-size: 14px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; 
                                                  display: inline-block;">Reject</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div> 
        </div>
        <!-- Approvers Table starts here -->
        <br/><br/><!-- for iphone -->
        <div style="width: 100%; font-family: Arial;" class="Approverdiv">
            <!-- <b>Approvers:</b> --> 
            <div class="show" style="display:none">
                <br/><br/>
            </div>
            <table style="font-family: Arial;table-layout: fixed;width:100%">
                <thead style="border: 1px solid black;">
                    <th style="width:30%;text-align:left;" class="th1"><b>Approval Process</b></th>
                    <th style="width:18.2%;text-align:left;" class="th2"><b>Approver</b></th>
                    <th style="width:14%;text-align:left;" class="th3"><b>Status</b></th>
                    <th style="width:38.6%;text-align:left;" id="commentheader" class="hide"><b>Date</b></th>
                   <!-- <th style="width:17.5%;text-align:left;"><b>DateTime (Eastern)</b></th> -->
                </thead>
            </table>
            <table style="font-family: Arial;border-collapse: collapse;table-layout: fixed;width:100%"> 
                <tbody>
                    <apex:repeat value="{!Approver}" var="App">
                        <tr>
                            <td style="width:30%;text-align:left;white-space: normal;" class="td1">
                                <apex:outputText value="{!App.Name}" title="Approver Name"/>
                            </td>
                            <td>
                                <apex:repeat value="{!App.REVVY__StepInstApprovers__r}" var="AL">
                                    <table style="font-family: Arial;border-collapse: collapse;padding: 0px;table-layout: fixed;width:100%;">
                                        <tr>
                                            <td style="width:26%;text-align:left;white-space: normal;" class="td2">
                                                <apex:outputText value="{!AL.Name}"/>
                                            </td>
                                            <td style="width:20%;text-align:left;white-space: normal;" class="td3">
                                                <apex:outputText value="{!AL.REVVY__Status__c}"/>
                                            </td>
                                            <td style="width:54%;text-align:left;white-space: normal;" id="commentvalue" class="hide">
                                                <apex:outputText value="{0,date,MM/dd/yy}"><apex:param value="{!AL.REVVY__ActionDate__c-(1/6)}"/></apex:outputText>
                                                
                                            </td>
                                           <!-- <td style="width:25%;text-align:left;white-space: normal;">
                                                <apex:outputText value="{0,date,MM/dd/yy hh:mm a}"><apex:param value="{!AL.REVVY__ActionDate__c - (1/6)}"/></apex:outputText>
                                            </td> -->
                                        </tr>
                                    </table>
                                </apex:repeat>
                            </td>
                        </tr>
                    </apex:repeat>
                </tbody>
            </table>
        </div>
        <br/>
        <!-- <p style="font-family:Arial">If you would like to view further details on this contract, please <a href="{!BaseURL}/apex/ReviewCAF?id={!Contract.Id}"  target="_blank"><I>click here.</I></a></p> -->
        
        <!-- Approvers Table Ends here -->
        <div style="width: 100%; font-family: Arial">
            <p style="font-family:Arial">For inquiries regarding the contract approval process or for technical support, contact Legal_Technology_Support@comcast.com.</p>
            <br/><br/>           
            <p style="font-family:Arial; font-size:12pt">Thank you.</p>
            </div>
    </div>
</body>
</html>
</apex:component>