<apex:component access="global" controller="CIEmailCompController">
    <apex:attribute name="contractId" type="Id" description="Id of the Contract" assignTo="{!emailContractId}"/>
    <html>
        <body>
            <div>
                <!-- Comcast Email Banner -->
                <div style="width:100%">
                    <img src="{!$Label.DocumentInstanceLink}{!DocId}&oid={!$Organization.Id}" alt="Comcast Logo Header"/>
                    <br/><br/>
                </div>
                <!-- Saluation and Notes -->
                <div style="width:90%">
                    <p style="font-family:Arial">Dear {!Contract.Requester_Name__c},</p>
                    <p style="font-family:Arial">The Cable Law Department has reviewed your contract request and determined that legal review is not required. Please review the comments below for additional information.</p>
                </div>
                <!-- Comments by Law dept members -->
                <div>
                    <table style="width:75%;table-layout: fixed;font-family: Arial;align:left;border: 1px solid black;border-collapse: collapse;">
                        <thead>
                        	<tr>
                            	<th style="text-align:left;border: 1px solid black;">Cable Law Department Member</th>
                                <th style="text-align:left;border: 1px solid black;">Comments</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align:left;border: 1px solid black;">{!Contract.LastModifiedBy.Name}</td>
                                <td style="text-align:left;vertical-align:top;text-overflow: ellipsis;border: 1px solid black;">
                                    {!Contract.Reason_Of_Rejection__c}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </body>
    </html>
</apex:component>