<apex:component access="global" controller="CISubmissionAttorneyCtrl">
    <apex:attribute name="contractId" type="Id" description="Id of the Contract" assignTo="{!emailContractId}"/>
    <html>
        <head>
        </head>
        <body>
            <div>
                <div style="width:100%">
                    <img src="https://ccms--full--c.cs95.content.force.com/servlet/servlet.ImageServer?id=0150x0000009Chd&oid=00D0x0000008i5i" alt="Comcast Logo Header"/>
                    <br/><br/>
                </div>
                <div style="width:90%">
                    <p style="font-family:Arial">Dear {!Contract.Assigned_Attorney__r.Name},</p>
                    <p style="font-family:Arial">The following contract is pending your Assignment.</p>
                    <p style="font-family:Arial">Please review the details below. To accept this assignment, reassign the request to another attorney, or close this contract, click on the appropriate button below.</p>
                </div>
               
                <div style="width: 100%; font-family: Arial;  white-space: nowrap">
                    <table>
                        <tr>
                            <td><b> Summary: </b> </td><td><apex:outputText escape="false" value="{!Contract.Brief_Summary__c}"/></td>
                        </tr>
                    </table>   
                </div>
                <div>
                    
                        <table style="font-family:Arial">
                            <tbody>
                                <tr style="font-family:Arial">
                                    <td><b>Requester Name: </b></td>
                                    <td><b>{!Contract.Requester_Name__c}</b></td>
                                </tr>          
                                <tr>
                                    <td><b>Counterparty:</b></td>
                                    <td>{!Contract.Counterparty__c}</td>
                                </tr>
                                <tr>
                                    <td><b>Business Unit:</b></td>
                                    <td>{!Contract.Business_Unit__c}</td>
                                </tr>
                                <tr>
                                    <td><b>Projected Dollar Amount:</b></td>
                                    <td>{!Contract.Projected_Dollar_Amount__c}</td>
                                </tr> 
                                <apex:outputPanel rendered="{!Flag}"> 
                                    <tr>
                                        <td><b>Procurement Contact:</b></td>
                                        <td>{!Contract.Procurement_Contact__c}</td>
                                    </tr>
                                </apex:outputPanel>
                           </tbody>
                        </table>
                    
                </div>
                <br/><br/>
             <!-- File List starts here -->
                <div style="width: 100%;">
                    <table style="width:100%;table-layout: fixed;font-family: Arial">
                        <thead >
                            <th width="30%" style="text-align:left">
                                File Name
                            </th>
                            <th width="15%" style="text-align:left">
                                Attachment Type
                            </th>
                            <th width="50%" style="text-align:left">
                                Description
                            </th>
                        </thead>
                        <tbody>
                            <apex:repeat value="{!Content}" var="con">
                                <tr>
                                    <td width="30%" style="text-align:left;vertical-align:top;white-space: normal;">
                                        <apex:outputLink value="{!BaseURL}/{!con.Id}" target="_blank">{!con.title}</apex:outputLink>
                                    </td>
                                    <td width="15%" style="text-align:left;vertical-align:top;">
                                        <apex:outputText value="{!con.Attachment_Type__c}"/>
                                    </td>
                                    <td width="50%" style="white-space: normal;text-align:left;vertical-align:top;">
                                        <apex:outputText value="{!con.Description}"/>
                                    </td>
                                </tr>
                            </apex:repeat>
                        </tbody>
                    </table>
                </div>
                <!-- File List Ends here -->
                <br/><br/>
                <div style="width:90%">
                    <p style="font-family:Arial"><b>By accepting the contract, you acknowledge that you have reviewed the contract to the degree reasonably required.</b></p>
                    <div>
                        <div align="center" style="width:100%; height:100%">
                            <!--[if mso]>
                                <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" style="height:50px;v-text-anchor:middle;width:150px;" href="{!contract.Record_URL__c}" arcsize="5%" strokecolor="#085a9a" fillcolor="#085a9a">
                                    <w:anchorlock/>
                                    <center style="color:#ffffff;font-family:Helvetica, Arial,sans-serif;font-size:14PX;">Review</center>
                                </v:roundrect>
                            <![endif]-->
                            <a id="approve" style="width:30%; background: linear-gradient(#55b40c, #3e810b); color: white; font-weight: bold;display: inline-block;padding: 1px 5px;margin-bottom: 10PX;font-size:14PX;text-align: center;cursor: pointer;user-select: none;border: 1px solid transparent;border-radius: 4px;cursor: pointer;" href="{!contract.Record_URL__c}" target="_blank">  Click Here to view this Contract Request</a>
                        </div>
                    </div>   
                    <p style="font-family:Arial">If you have any questions or issues with the contract approval process, or if there are any technical issues with how the system is working, contact Legal_Technology_Support@comcast.com.</p>
                    <p style="font-family:Arial">Sincerely,</p>
                    <p style="font-family:Arial">Legal Technology Operations</p>
                </div>
            </div>
        </body>
    </html>
</apex:component>