<apex:component access="global" controller="CISubmissionRequestorCtrl">
    <apex:attribute name="contractId" type="Id" description="Id of the Contract" assignTo="{!emailContractId}"/>
    <html>
        <head>
        </head>
        <body>
            <div>
                <div style="width:100%">
                    <img src="https://ccms--full--c.cs95.content.force.com/servlet/servlet.ImageServer?id=0150x0000009Chd&oid=00D0x0000008i5i" alt="Comcast Logo Header"/>
                    <br/><br/>
                </div>
                <div style="width:90%">
                    <p style="font-family:Arial">Dear {!Contract.Requester_Name__c},</p>
                    <p style="font-family:Arial">Thank you for submitting your contract intake request. You will receive another email when we assignan attorney or contract specialist to assist you.</p>
                    <p style="font-family:Arial">Please keep this email for your records.</p>
                </div>
                <br/><br/>
                <div>
                    <table style="font-family:Arial">
                        <tbody>
                            <tr style="font-family:Arial">
                                <td><b>Requester Name: </b></td>
                                <td><b>{!Contract.Requester_Name__c}</b></td>
                            </tr>          
                            <tr>
                                <td><b>Counterparty:</b></td>
                                <td>{!Contract.Counterparty__c}</td>
                            </tr>
                            <tr>
                                <td><b>Business Unit:</b></td>
                                <td>{!Contract.Business_Unit__c}</td>
                            </tr>
                            <tr>
                                <td><b>Projected Dollar Amount:</b></td>
                                <td>{!Contract.Projected_Dollar_Amount__c}</td>
                            </tr>
                                <td><b> Summary: </b> </td>
                                <td><apex:outputText escape="false" value="{!Contract.Brief_Summary__c}"/></td>
                        </tbody>
                    </table>
                </div>
                <br/><br/>
                <!-- File List Ends here -->
                <div style="width:90%">
                    <p style="font-family:Arial">If you have any questions about this process, email Contract_Intake@comcast.com or review the Legal Resources section of Comcast NOW.For technical support with the system, email Legal_Technology_Support@comcast.com</p>
                    <p style="font-family:Arial"></p>
                    <p style="font-family:Arial"> - Cable Law Department</p>
                </div>
            </div>
        </body>
    </html>
</apex:component>