<apex:component access="global" controller="CafApprovalRequestEmailComponentCtrl">
    <apex:attribute name="contractId" type="Id" description="Id of the Contract" assignTo="{!emailContractId}"/>
    <html> 
       <head>
            <style type="text/css">
                /* Samsung specific CSS */
                #MessageViewBody .hide {
                visibility:collapse !important;
                }
                #MessageViewBody .Approverdiv{
                align:center !important;
                width:100% !important;
                }
                #MessageViewBody .th1{
                width : 130% !important;
                }
                #MessageViewBody .th2{
                width : 60% !important;
                }
                #MessageViewBody .th3{
                width: 50% !important;
                }
                #MessageViewBody .td1{
                width: 45% !important;
                }
                #MessageViewBody .td2{
                width: 100% !important;
                }
                #MessageViewBody .td3{
                width: 100% !important;
                }
                 /* CSS for iOS devices */
                @supports (-webkit-overflow-scrolling: touch) { 
                div[id="IOS"] {display:block !important}
                div[id="nonIOS"] {display:none !important}
                div[id="android"] {display:none !important}
                div[id="desktop"] {display:none !important}
                a[id="reassign"] {visibility: visible !important}
                a[id="approve"] {visibility: visible !important}
                a[id="reject"] {visibility: visible !important}
                table[id="IOS"] {display:block !important}
                td[id="IOS1"] {display:block !important}
                td[id="IOS2"] {display:block !important}
                td[id="IOS3"] {display:block !important}
                th[id="commentheader"] {display:none !important}
                td[id="commentvalue"] {display : none !important}
                    .hide{
                        display : none !important
                    }
                    .show{
                        display : block !important
                    }
                    .th1{
                        width : 30% !important;
                    }
                    .th2{
                        width : 19.5% !important;
                    }
                    .th3{
                        width: 16.25% !important;   
                    }
                    .td1{
                        width: 45% !important;
                    }
                    .td2{
                        width: 30% !important;
                    }
                    .td3{
                        width: 25% !important;
                    }
                }
                /* CSS for other than iOS devices */
                @supports not (-webkit-overflow-scrolling: touch) { 
                    .hide{
                        display:none !important;
                    }   
                    .th1{
                        width : 30% !important;
                    }
                    .th2{
                        width : 19.5% !important;
                    }
                    .th3{
                        width: 16.25% !important;   
                    }
                    .td1{
                        width: 45% !important;
                    }
                    .td2{
                        width: 30% !important;
                    }
                    .td3{
                        width: 25% !important;
                    }
                }
                /*CSS for Outlook.com */
                [owa] .comment{
                    display: block !important;
                }
                [owa] .approver{
                    width :14% !important;
                }
                [owa] .status{
                    width :10.5% !important;
                }
                [owa] .approveowa{
                    font-size : 14px !important;
                }
            </style>
            <!--[if mso]>
                <style>
                /*CSS for Outlook Desktop App */
                .approveowa{
                    font-size : 0px !important;
                    text-decoration: none !important;
                    color : #3e810b !important;
                }
                .approvemso{
                    font-size : 14px !important;
                }
                .approver{
                    width :14% !important;
                }
                .status{
                    width :11.25% !important;
                }
                .comment{
                    display: block !important;
                }         
                .process{
                    width :22.5% !important;
                }
                .alname{
                    width :19.9% !important;
                }
                .processname{
                    width :29.8% !important;
                }
                </style>
            <![endif]-->
        </head>
        <body>
            <!-- main body-->
            <div>
                <!-- comcast banner -->
                <div style="width:100%">
                  <!-- 
                    <img src="https://ccms--full--c.cs95.content.force.com/servlet/servlet.ImageServer?id=0150x0000009Chd&oid=00D0x0000008i5i" alt="Comcast Logo Header"/>
                    
                   <img src="https://ccms--full--c.cs95.content.force.com/servlet/servlet.ImageServer?id=0150x000000HYOq&oid=00D0x0000008i5i" alt="Comcast Logo Header"/>
                   -->
                   <img src="{!$Label.DocumentInstanceLink}{!DocId}&oid={!$Organization.Id}" alt="Comcast Logo Header"/>
                </div>
                <br/><br/>
                <!-- Salutation -->
                <div style="width:90%">
                    <p style="font-family:Arial">Dear Lease Accounting Team,</p>
                    <p style="font-family:Arial">A Contract Approval Request from is pending your lease review. <a href="{!$Label.BaseLabel}/apex/ReviewCAF?id={!contract.Id}" target="_blank">Click here</a> to view the contract</p>
                </div>
                

                <div style="width: 100%; font-family: Arial"> 
                    <b><u>Request Summary:</u><br/></b><div style="width: 100%; font-family: Arial"> 
                   
                          <b>Requester Details<br/></b>
                     </div> 
                <div>
                    <table style="font-family:Arial;width:100%">
                        <tbody>
                            <tr style="font-family:Arial">
                                <td>Name</td>
                                <td>{!contract.Requester_Formula__c}</td>

                            </tr>
                         </tbody>
                    </table>
              
                </div>
                    
                    <b>Summary</b><br/><apex:outputText value="{!Contract.Brief_Summary__c}" escape="false"/> 
                </div> 
                
                                <div style="width: 100%; font-family: Arial"> 
                    <b>Request Details<br/></b>
                </div> 
                <div>
                    <table style="font-family:Arial;width:100%">
                        <tbody>
                            <tr style="font-family:Arial">
                                <td>eCAF</td>
                                <td>{!contract.CAF_Type__c}</td>
                            </tr>
                            <tr>
                                <td>Contract Name</td>
                                <td>{!contract.Name}</td>
                            </tr>
                            <tr>
                                <td>Contract Request Number</td>
                                <td>{!contract.REVVY__ContractId__c}</td>
                            </tr>
                            <tr>
                                <td>Counterparty</td>
                                <td>{!contract.Counterparty__c}
                                </td> 
                            </tr>
                            <tr>
                                <td>Business Unit</td>
                                <td>{!contract.Business_Unit__c}
                                </td>
                            </tr>
                            <tr>
                                <td>Contract Value</td>
                                <td><apex:outputText value="{!if(Contract.Contract_Value__c != null,'$','')}{0, Number, Integer}"><apex:param value="{!Contract.Contract_Value__c}" /> </apex:outputText></td>
                            </tr>
                            
                            
                        </tbody>
                    </table>
                </div>           
                <div>
                    <p style="font-family:Arial">For inquiries regarding the contract approval process or for technical support, contact Legal_Technology_Support@comcast.com. </p>
                    <p style="font-family:Arial; font-size:12pt">Thank you.</p>
                </div>
            </div>
        </body>
    </html>
</apex:component>