<apex:component access="global" controller="OutforSignatureCounterPartyCtrl">
    <apex:attribute name="contractId" type="Id" description="Id of the Contract" assignTo="{!emailContractId}"/>
    <html>
        <head>
            <style>
                @supports (-webkit-overflow-scrolling: touch) {
                /* CSS for iOS devices */ 
                div[id="IOS"] {display:block !important}
                div[id="nonIOS"] {display:none !important}
                a[id="reassign"] {visibility: visible !important}
                table[id="IOS"] {display:block !important}
                td[id="IOS1"] {display:block !important}
                }
            </style>
        </head>
        <body>
            <div>
                <div style="width:100%">
                    <img src="https://ccms--full--c.cs95.content.force.com/servlet/servlet.ImageServer?id=0150x0000009Chd&oid=00D0x0000008i5i" alt="Comcast Logo Header"/>
                    <br/><br/>
                </div>
                <div style="width:90%">
                    <p style="font-family:Arial">Dear {!NDARec.Name},</p>
                    <p style="font-family:Arial">Your {!NDARec.NDA_Type__c} requested onbehalf of {NDARec.Submitted_on_behalf_of_Name__c} has been submitted to {!NDARec.Counterparty__c} for signature.</p>
                    <p style="font-family:Arial">To see the status of this request, click View Request.</p>
                </div>
                <!-- File List Ends here -->
                <div style="width:90%">
                    <p style="font-family:Arial">If there are any problems, please contact Legal_Operations@Comcast.com.</p>
                </div>
            </div>
        </body>
    </html>
</apex:component>