/*!
 * Comcast Contract Management System v1.0
 * Copyright 2018 Cloud Mentor
 * CMentor License | cmentor.com*/
#bgcover {
background-color: transparent !important;
}
.slds-grid--pull-padded {
	margin-right:0px !important;
	margin-left:0px !important;
}
.slds-medium-size--12-of-12 {
	margin-bottom: 10px;
}
.sw-theme-default{
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.sw-theme-default .sw-container {
min-height: 250px;
}
.sw-theme-default .step-content {
padding: 10px;
border: 0px solid #D4D4D4;
background-color: #FFF;
text-align: left;
}
.sw-theme-default .sw-toolbar{
background: #f9f9f9;
border-radius: 0 !important;
padding-left: 10px;
padding-right: 10px;
margin-bottom: 0 !important;
}
.sw-theme-default .sw-toolbar-top{
border-bottom-color: #ddd !important;
}
.sw-theme-default .sw-toolbar-bottom{
border-top-color: #ddd !important;
}
.sw-theme-default > ul.step-anchor > li > a, .sw-theme-default > ul.step-anchor > li > a:hover  {
	border: none !important;
	color: #bbb;
	text-decoration: none;
	outline-style:none;
	background: transparent !important;
	border: none !important;
}
.sw-theme-default > ul.step-anchor > a:hover {
	color: #4285F4 !important;
	background: transparent !important;
} 

.sw-theme-default > ul.step-anchor > li > a::after {
	content: "";
	background:   #D4D4D4;
	height: 2px;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 0px;
	transition: all 250ms ease 0s;
	transform: scale(1);
}
.sw-theme-default > ul.step-anchor > li.active > a {
border: none !important;
color: #000 !important;
background: transparent !important;
}
.sw-theme-default > ul.step-anchor > li.active > a::after {
transform: scale(1);
background: #1f4779;
}
.sw-theme-default > ul.step-anchor > li.done > a {
border: none !important;
color: #000 !important;
background: transparent !important;
}
.sw-theme-default > ul.step-anchor > li.done > a::after {
background: #5cb85c;
transform: scale(1);
}
.sw-theme-default > ul.step-anchor > li.danger > a {
border: none !important;
color: #d9534f !important;
background: transparent !important;
}
.sw-theme-default > ul.step-anchor > li.danger > a::after {
background: #d9534f;
transform: scale(1);
}
.sw-theme-default > ul.step-anchor > li.disabled > a, .sw-theme-default > ul.step-anchor > li.disabled > a:hover {
color: #eee !important;
}

/* Responsive CSS */
@media screen and (max-width: 768px) {
.sw-theme-default > .nav-tabs > li {
float: none !important;
}
}
@media (min-width: 1200px)
.container {
width: 1170px;
}
.container {
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}

.nav {
padding-left: 0;
margin-bottom: 0;
list-style: none;
}

.nav-tabs>li {
float: left;
margin-bottom: -1px;
}
.nav>li {
position: relative;
display: block;
}
.heading{
font-family: 'News Cycle', sans-serif;
font-size: 30px;
width: 100%;
padding-left: 1.2%;
line-height: 42px;
letter-spacing: 3px;
color: #888888;
margin-top:10px;        
}
.sub_heading{
padding: 0.6% !important;
background: #8195af !important;
color: #fff;
}
.new_input {
width: 80% !important;
line-height: 2.9em !important;
margin-bottom: 20px !important;
}
.new_label{
display: none !important;
font-weight: bold !important;
font-size: 15px important;
}
.header{
margin-left: 1.2% !important;
}
.padding_input{
padding: 0 10%; 
margin-left: -15%;
}
.col_input_box{
margin-left: 0px !important;
margin-right: -50px !important;
}
select{
height:2.9em;
background-color:#fff !important;
} 
::placeholder {
opacity: 0.5; /* Firefox */
}
.slds-lookup .slds-grid{
width:80% !important;
}
input[type="file"] {
display: none;
} 
.custom-file-upload {
border: 1px solid #ccc;
display: inline-block;
padding: 6px 12px;
cursor: pointer;
border-radius: 6px;
background: #1b5297;
color: #fff;
}
.slds-scope .slds-notify_container1 {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	text-align: center;
}
.down{
content: "";
border-color: #000;
border-style: solid;
border-width: 0 .1em .1em 0;
display: inline-block;
height: .55em;
left: 0;
position: relative;
top: -.1em;
width: .55em;
padding: 0;
margin-left: 1ex;
margin-right: 1.7ex;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
.dropdown {
position: relative;
display: inline-block;
}
.dropdown-content {
display: none;
position: absolute;
min-width: 160px;
z-index: 1;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
color: black;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {color: #25476a}
.dropdown:hover .dropdown-content {
display: block;
}