<apex:page controller="CV" action="{!CVMethod}">
   <apex:form >
       <apex:pageBlock title="Inline Visualforce Page Example">
           
           <table border="1px">
                                   
                <apex:repeat value="{!cvlist}" var="a" >
                   <tr>
                       <th>Title</th>
                       <th>Contract</th>
                     <td><apex:inputField value="{! a.Title}"/></td>
                     <td><apex:inputField value="{! a.FirstPublishLocationId}"/></td>
                                          </tr>
                   
            </apex:repeat>
            
        </table>
       </apex:pageBlock>
   </apex:form>
   
</apex:page>