<apex:page standardController="Contract_Intake_Form__c" extensions="ChangeOwnerExt"  action="{!init}">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <head>
            <style>
                .bPageTitle{
                width:100%;
                padding: 0% !important;
                }
                .slds-truncate{
                text-align:left;
                }
                .Search-lookup-field{
                color: #16325c;
                border: 1px solid #d8dde6;
                border-radius: .25rem;
                width: 80%;
                transition: border .1s linear,background-color .1s linear;
                display: inline-block;
                padding: 0 1rem 0 .75rem;
                line-height: 1.875rem;
                min-height: calc(1.875rem + (1px * 2));
                }
                
                .required-symbol{
                border-left:2px solid  red !important;
                } 
                .required-symbol1{
                border-left:4px solid  red !important;
                }
                .requiredInput a{
                border:none !important;
                }
                
                .slds-scope a {
                color: #0070d2;
                text-decoration: none;
                transition: color .1s linear;
                border: none !important;
                }
                
                .slds-table th{
                background: #0070d2;
                color: white;
                }
                
                .modal {
                display: none; 
                position: fixed; 
                z-index: 1; 
                padding-top: 100px; 
                left: 0;
                top: 0;
                width: 100%; 
                height: 100%; 
                overflow: auto; 
                background-color: rgb(0,0,0); 
                background-color: rgba(0,0,0,0.4); 
                }
                
                .modal-content {
                background-color: #fefefe;
                margin: auto;
                padding: 20px;
                border: 1px solid #888;
                width: 50%;
                }
                .para_heading{
                font-size: 1.7em;
                font-weight: bold;
                background: #deecf1;
                padding: 0.4% !important;
                border: 1px solid;
                margin-bottom: 8px !important;
                margin-top: 8px !important;
                box-shadow: 5px 5px 5px #ccc;
                }
            </style>
        </head>
        
        <style type="text/css">
            .dateFormat {
            padding: 0 2px;
            display: none;
            }
            .datePicker{
            z-index: 99999 ;
            }
        </style>
        <script>
        $(document).ready(function() {
                $('svg').click(function (){
                    var lookup = $(this).attr('data');
                    if (lookup  != '' && lookup  != null && lookup  != 'undefined' && lookup.indexOf('Lookup') != -1){
                        
                        $('input[id$=' + lookup + ']').val('');
                        $('.' + lookup + 'Value').val('');
                        $('input[class$=' + lookup + 'Name]').val('');
                        
                        $('[id$=' + lookup + 'Label]').text('');
                        $('[id$=' + lookup + 'Search]').removeClass('slds-hide');
                        $('[id$=' + lookup + 'LabelDiv]').addClass('slds-hide');
                    }
                });
            });
            function search(lookName, ObjectName, label) {
                try {
                    $('input[id$=' + lookName + ']').css('background', 'url("http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif") no-repeat right center');
                    var key = $('input[id$=' + lookName + ']').val();
                    Visualforce.remoting.Manager.invokeAction(
                        '{!$RemoteAction.ChangeOwnerExt.getLookupRecord}',
                        key,
                        ObjectName,
                        function(result, event) {
                            if (result != null) {
                                if (event.status) {
                                    var tables = "<ul class='slds-lookup__list' role='listbox'>  ";
                                    var check = true;
                                    
                                    for (var i = 0; i < result.length; i++) {
                                        tables += "<li role='presentation' onclick=\"fillRecord( '" + lookName + "','" + result[i].Id + "','" + result[i].Name + "' )\"><span class='slds-lookup__item-action slds-media' id='lookup-option-483' role='option'><div class='slds-media__body'><div class='slds-lookup__result-text'>" + result[i].Name + "</div></div></span></li>";
                                    }
                                    tables += "</ul>";
                                    if (result.length > 0) {
                                        
                                        tables = "<div class='slds-lookup__item--label slds-text-body--small'>" + label + "</div>" + tables;
                                    } else {
                                        check = false;
                                        tables = "<div class='slds-lookup__item--label slds-text-body--small'>No record found .</div>";
                                    }
                                    document.getElementById(lookName + "SrchDrpDwn").innerHTML = tables;
                                    $('[id$=' + lookName + 'SrchDrpDwn]').show();
                                    
                                    if(check){
                                        $('[id$=' + lookName + 'SrchDrpDwn]').focus();
                                    }
                                    
                                } else if (event.type === 'exception') {
                                    
                                } else {
                                    
                                }
                                $('input[id$=' + lookName + ']').css('background', 'none');
                            } else {
                                $('input[id$=' + lookName + ']').css('background', 'none');
                            }
                        }, {
                            escape: true
                        }
                    );
                } catch (e) {
                    alert('An Error has Occured. Error:' + e);
                }
                
            }
            
            function fillRecord(lookup, id, name) {
                $('[id$=' + lookup + 'SrchDrpDwn]').hide();
                $('.' + lookup + 'Value').val(id);
                $('input[class$=' + lookup + 'Name]').val(name);
                $('[id$=' + lookup + 'Label]').text(name);
                $('[id$=' + lookup + 'Search]').addClass('slds-hide');
                $('[id$=' + lookup + 'LabelDiv]').removeClass('slds-hide');
            }
    </script>
        <apex:slds />
        <apex:outputPanel id="demo">
        </apex:outputPanel>
        <apex:form id="frm1">
            <apex:pagemessages escape="false"></apex:pagemessages>
            <apex:actionStatus id="sts" style="align:center;">
                <apex:facet name="start">
                    <div style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.25; z-index: 99999; background-color: black;">
                        &nbsp;
                    </div>
                    <div style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 99999; margin: 15% 50%">
                        <div style="display: inline-block; padding: 2px; background-color: #fff; width: 125px;">
                            <img src="/img/loading.gif" style="float: left; margin: 8px;" />
                            <span style="display: inline-block; padding: 10px 0px;">Please Wait...</span>
                        </div>
                    </div>
                </apex:facet>
            </apex:actionStatus>
            <apex:actionFunction action="{!save}" status="sts" rerender="demo" name="save"/>
            <body class="slds-scope">
                <div class="message errorM3" role="alert" id="errorMsg" style="display:none">
                    <table border="0" cellpadding="0" cellspacing="0" class="messageTable" style="padding:0px;margin:0px;">
                        <tbody>
                            <tr valign="top">
                                <td>
                                    <img alt="ERROR" class="msgIcon" src="/s.gif" title="ERROR"/>
                                    
                                </td>
                                <td class="messageCell">
                                    <h4>Errors</h4>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td id="dynamicError">
                                    <!--Please Fill all Required Fields.-->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br/>
                <p class="para_heading">Assign Contracts to Attorney</p>
                <br/>
                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--12-of-12 slds-large-size--12-of-12 " style="padding:0px;">
                    <div class="slds-grid slds-wrap slds-grid--pull-padded">
                        <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--6-of-12 slds-large-size--6-of-12">
                            <div class="slds-form--horizontal">
                                <label class="slds-form-element__label" for="attorney">Assign to Attorney </label>
                                <div class="slds-form-element__control">
                                    <div class="slds-input-has-icon slds-input-has-icon--right slds-grow" id="FirmLookupSearch">
                                        <svg class="slds-input__icon" aria-hidden="true">
                                            <!--<use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#search')}"></use>-->
                                        </svg>
                                        <input type="text" id="FirmLookup" class="slds-input required-symbol1" onkeypress="search('FirmLookup','User','')" placeholder="Search Attorney"  />
                                        <div style="display:none;">
                                            <apex:inputText id="FirmLookupValue" value="{!ownerId}" styleclass="FirmLookupValue required-symbol1" style="width:0px;height:0px;"/>
                                            <apex:inputText value="{!ownerName }" styleclass="FirmLookupName" style="width:0px;height:0px;"/>
                                        </div>
                                        <div class="slds-lookup__menu closeDiv" id="FirmLookupSrchDrpDwn" style="display:none"></div>
                                    </div>
                                    <div class="slds-form-element slds-lookup slds-hide" data-select="single" id="FirmLookupLabelDiv">
                                        <div class="slds-form-element__control slds-grid slds-box--border" style="display: inline-flex;">
                                            <div class="slds-dropdown--trigger slds-dropdown-trigger--click slds-align-middle slds-m-left--xx-small slds-shrink-none">
                                                <svg class="slds-icon slds-icon-standard-account slds-icon--small" aria-hidden="true">
                                                    <use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#user')}"> </use>
                                                </svg>
                                            </div>
                                            <div class="slds-input-has-icon slds-input-has-icon--right slds-grow">
                                                <svg class="slds-input__icon" aria-hidden="true" data="FirmLookup">
                                                    <use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#close')}"> </use>
                                                </svg>
                                                <label class="slds-align-middle slds-lookup__search-input slds-input--bare" for="form-help" id="FirmLookupLabel">{!ownerName }</label>
                                            </div>
                                        </div>
                                        <script>
                                        if($('.FirmLookupValue').val() != ''){
                                            
                                            $('[id$=FirmLookupSearch]').addClass('slds-hide');
                                            $('[id$=FirmLookupLabelDiv]').removeClass('slds-hide');
                                            $('[id$=FirmLookup]').val('{!ownerName }');
                                        }
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <table class="slds-table slds-table_bordered slds-table_cell-buffer" width="100%">
                    <thead>
                        <tr class="slds-text-title_caps">
                            <th scope="col">
                                <div class="slds-truncate" title="Contract Intake Form Number">Contract Intake Form Number</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate" title="Client">Client</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate" title="Accept">Status</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate" title="Reject">Owner</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate" title="Description">Description</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <apex:variable var="index" value="{!0}" />
                        <apex:repeat value="{!listContracts}" var="obj" id="dataTable">
                            <tr>
                                <td scope="row">
                                    <div class="slds-form-element__control">
                                        <apex:outputField value="{!obj.name}" styleClass="slds-input" />
                                    </div>
                                </td>
                                <td scope="row">
                                    <div class="slds-form-element__control">
                                        <apex:outputField value="{!obj.Client_Name_and_business_unit__c}" styleClass="slds-input" />
                                    </div>
                                </td>
                                <td scope="row">
                                    <div class="slds-form-element__control">
                                        <apex:outputField value="{!obj.Status__c}" styleClass="slds-input" />
                                    </div>
                                </td>
                                <td scope="row">
                                    <div class="slds-form-element__control">
                                        <apex:outputField value="{!obj.Owner.Name}" styleClass="slds-input" />
                                    </div>
                                </td>
                                <td>
                                    <div class="slds-form-element__control">
                                        <apex:outputField value="{!obj.Description__c}" styleClass="slds-input" />
                                    </div>
                                    <apex:variable var="index" value="{!index + 1}" />
                                </td>
                            </tr>
                        </apex:repeat>
                    </tbody>
                </table>
                <br/>
                
                <center>
                    <button type="button" class="slds-button slds-button_brand" id="submitButtonId" onclick="save();">Save</button>&nbsp;
                    <apex:commandButton styleClass="slds-button slds-button_brand" action="{!cancel}" value="Cancel" immediate="true" status="sts"/>
                </center>
            </body>
        </apex:form>
    </html>
</apex:page>