<apex:page standardController="Contract__c" extensions="CableIntakeDashBoardController" sidebar="false" id="pg" showHeader="false" docType="html-5.0">
    <apex:form id="DashboardForm">
        <head>
            <meta charset="utf-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/bootstrap.min.css')}"/>
            <meta charset="utf-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/bootstrap.min.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/ionicons.min.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/nifty.min.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/pace.min.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/bootstrap-select.min.css')}"/> 
            <!-- <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/plugin/pace.min.css')}"/> For Progress bar while loading
            <apex:includeScript value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/plugin/pace.min.js')}"/> -->
            <apex:includeScript value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/jquery.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/bootstrap.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/nifty.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/bootstrap-select.min.js')}"/>
            <apex:includeLightning />
            <apex:includeScript value="/lightning/lightning.out.js"/> 
            <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"/>
            <style>
                #PAText:hover{
                transform: scale(1.2);
                }
                #CCText:hover{
                transform: scale(1.2);
                }
                #ARText:hover{
                transform: scale(1.2);
                }
                #TCText:hover{
                transform: scale(1.2);
                }
                .ease-in{
                margin-Left: 100%;
                width:300%;
                transition: 0.5s;
                }
                .ease-out{
                margin-left: -250%;
                transition: 0.5s;
                }
                .fade-in {
                opacity: 1 !important;
                animation-name: fadeInOpacity;
                animation-iteration-count: 1;
                animation-timing-function: ease-in;
                animation-duration: 0.5s;
                }
                @keyframes fadeInOpacity {
                0% {
                opacity: 0;
                }
                100% {
                opacity: 1;
                }
                }
                .header-details{
                color:#25476A;
                width:40%;
                white-space: normal;
                vertical-align: top;
                }
                .header-approvers{
                color:#25476A;
                white-space: normal;
                }
                .pad-bot{
                padding-bottom:25px;
                }
                ol,li {
                margin-left: 0 !important;
                }
                .down{
                content: "";
                border-color: #fff;
                border-style: solid;
                border-width: 0 .1em .1em 0;
                display: inline-block;
                height: .55em;
                left: 0;
                position: relative;
                top: -.1em;
                width: .55em;
                padding: 0;
                margin-left: 1ex;
                margin-right: 1.7ex;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                }
                .dropdown {
                position: relative;
                display: inline-block;
                }
                .dropdown-content {
                display: none;
                position: absolute;
                min-width: 160px;
                z-index: 1;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                }
                .dropdown-content a {
                color: white;
                text-decoration: none;
                display: block;
                }
                
                .dropdown-content a:hover {color: white}
                .dropdown:hover .dropdown-content {
                display: block;
                }
             .activeDashClass{
                    color : white;
                    background-color: #1d7caf;
                }
                .inactiveDashClass{
                    color : #0d3449;
                    background-color: #ebebeb;
                }
                #content-container:before{
                height:75px;
                background-color:#0d3449;
                }
                .label-success{
                background-color: #1d7caf;
                }
                
                .hadrPosition {
            position: fixed;
           }
                .hadImg {
            width: 62%;
            text-align: left;
           }
           .hidUser {
           float: left;
           color: #f2f2f2;
           padding: 7px 16px;
           text-decoration: none;
           font-size:  1.3rem;
           }
           .contanerBdy {
            padding: 0% 8% 0px 8%;
            width: 85%;
            min-width: 600px;
           } 
           .topnav {
           overflow: hidden;
           background-color: #0d3449;
           }
           
           .topnav .hedClass {
           float: left;
           color: #f2f2f2;
           padding: 14px 16px;
           text-decoration: none;
           font-size:  1.3rem;
           }
           .hadLink {
           display: none;
           }
           .topnav .icon {
           display: none;
           }
           .mobHadClass{
           display:none;
           }
           .dtHadClass{
           display:block;
           }
           .mainConClass{
           padding-top:90px;
           }
           
           @media screen and (max-width: 800px) {
           .mobHadClass{
           display:block;
           }
           .dtHadClass{
           display:none;
           }
           .mainConClass{
           padding-top:70px;
           }
           .hadrPosition {
            position: fixed;
           }
                     .topnav .hedClass:not(:first-child) {display: none;}
           .hadImg {
            text-align: left;
           }
           .hidUser {
           display: none;
           }
           .topnav .hedClass.icon {
           float: right;
           display: block;
           }
           .topnav.responsive {position: relative;}
           .topnav.responsive .icon {
           position: absolute;
           right: 0;
           top: 0;
           }
           .topnav.responsive .hedClass  {
           float: none;
           display: block;
           text-align: left;
           }
           .contanerBdy {
            padding: 0% 0% 0% 0%;
            min-width: 0px;
           } 
           }
           
          
           
           @media only screen and (min-width: 800px) and (max-width: 1325px)  {
           .hadImg {
            width: 35%;
            text-align: left;
           }
          
           }
            </style>
            <script>
            
            function myFunction() {
           var x = document.getElementById("myTopnav");
           if (x.className === "topnav") {
               x.className += " responsive";
           } else {
               x.className = "topnav";
           }
       }
            
            function searchcontract(source){
                if(source.id == 'contractnamesearch'){
                    search(source.value);
                }
            }
            function enableDropDown(contentClass){
                if($(contentClass).css('display') == 'none'){
                    $(contentClass).css('display','block');
                }else{
                    $(contentClass).css('display','none');
                }
            }
            $(document).ready(function() {
                $('#1').addClass('active');
            });
             //on load of the page add animation
            window.onload = function(){
                var Panels = document.getElementById('Panels');
                Panels.style.marginLeft = "0%";
                Panels.style.width = "100%";
                setTimeout(addAnimations,500);
            };
            function addAnimations(){
                $("#FadeApprovalsDiv").addClass('fade-in');
                setTimeout(addAnotherAnimation,500);
            }
            function addAnotherAnimation(){ //
                var NowshowingSpan = document.getElementById('Nowshowing');
                NowshowingSpan.style.marginLeft = "0%";
            }
            function convertToLocale(num){
                var parts = num.toString().replace(",","").split(".");
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                return parts.join(".");
            } 
            var ContractId = '';
            var ContractName = '';
              $(document).on('show.bs.modal','#ReviewCIModal', function (event) {
                var Id = $(event.relatedTarget).data('contract');
                ContractId = Id;
                //fetch contract details to modal pop up
                Visualforce.remoting.Manager.invokeAction(
                    '{!$RemoteAction.CableIntakeDashBoardController.getContractModal}',
                    Id, 
                    function(result, event){
                        if (event.status) {
                            document.getElementById('pg:DashboardForm:Name').innerHTML = result.Name;
                            ContractName = result.Name;
                            document.getElementById('pg:DashboardForm:BU').innerHTML = result.Business_Unit__c;
                             if(result.Business_Unit__c == "HQ" || result.Business_Unit__c == "Business Unit - HQ") {
                              document.getElementById("BUHQAll").style.display = "";
                              document.getElementById('pg:DashboardForm:BUHQ').innerHTML = result.Business_Unit_HQ__c;
                             } else{
                              document.getElementById("BUHQAll").style.display = "none";
                             }
                            
                            if(result.Business_Unit__c == "Division" || result.Business_Unit__c == "Business Unit - Division") {
                              document.getElementById("BUDAll").style.display = "";
                              document.getElementById('pg:DashboardForm:BUD').innerHTML = result.Business_Unit_Division__c;
                            } else{
                              document.getElementById("BUDAll").style.display = "none";
                            }
                            
                            var today = new Date(result.Projected_due_date__c);
                            var dd = today.getDate();
                            var mm = today.getMonth() + 1; //January is 0!
                            
                            var yyyy = today.getFullYear();
                            if (dd < 10) {
                              dd = '0' + dd;
                            } 
                            if (mm < 10) {
                              mm = '0' + mm;
                            } 
                            var today = dd + '/' + mm + '/' + yyyy;
                            document.getElementById('pg:DashboardForm:PRED').innerHTML = today === "NaN/NaN/NaN" ? "N/A" : today;
                            
                            document.getElementById('pg:DashboardForm:PEPL').innerHTML = $('<div/>').html(result.Please_Explain__c).text().replace(/<\/?[^>]+(>|$)/g, "");
                            document.getElementById('pg:DashboardForm:Att').innerHTML = result.Prior_Attorney_Engagement__c;
                            document.getElementById('pg:DashboardForm:CV').innerHTML = result.Projected_Dollar_Amount__c === undefined ? "$0" : "$"+convertToLocale(result.Projected_Dollar_Amount__c);
                            document.getElementById('pg:DashboardForm:NDA').innerHTML = result.Existing_NDA__c === "" ? "N/A" : result.Existing_NDA__c;
                            document.getElementById('pg:DashboardForm:TSPA').innerHTML = result.Has_TPSA_completed_an_assessment_for_thi__c === "" ? "N/A" : result.Has_TPSA_completed_an_assessment_for_thi__c;
                            document.getElementById('pg:DashboardForm:MA').innerHTML = result.Existing_Master_Agreement__c === "" ? "N/A" : result.Existing_Master_Agreement__c;
                            document.getElementById('pg:DashboardForm:PII').innerHTML = result.PII_and_IP_Tech_Survey__c === "" ? "N/A" : result.PII_and_IP_Tech_Survey__c;
                            document.getElementById('pg:DashboardForm:briefsummary').innerHTML = $('<div/>').html(result.Brief_Summary__c).text().replace(/<\/?[^>]+(>|$)/g, "");
                            
                            if(result.Prior_Attorney_Engagement__c == "Yes" ) {
                              document.getElementById("AttCAll").style.display = "";
                              document.getElementById('pg:DashboardForm:AttC').innerHTML = result.Attorney_Contact__c;
                            } else{
                              document.getElementById("AttCAll").style.display = "none";
                            }
                            
                            document.getElementById('pg:DashboardForm:Proc').innerHTML = result.Is_Procurement_Engaged__c;
                            document.getElementById('pg:DashboardForm:CP').innerHTML = result.Counterparty__c;
                            
                            if(result.Is_Procurement_Engaged__c == "Yes" ) {
                              document.getElementById("ProcCAll").style.display = "";
                              document.getElementById('pg:DashboardForm:ProcC').innerHTML = result.Procurement_Contact__c ;
                            } else{
                              document.getElementById("ProcCAll").style.display = "none";
                            }
                            
                            
                        } else if (event.type === 'exception') {
                            console.log('Exception - '+event.message+' at '+event.where);
                        } else {
                            console.log('Error - '+event.message);
                        }
                    }, 
                    {escape: true}
                );
                // fetch files to modal pop up
                Visualforce.remoting.Manager.invokeAction(
                    '{!$RemoteAction.CableIntakeDashBoardController.getContentModal}',
                    Id, 
                    function(result, event){
                        if (event.status) {
                            if(result != null){
                                var table = '<table class="table table-striped" style="margin-bottom:0!important"><thead><tr><th style="font-size:1.1em"><span style="vertical-align: -webkit-baseline-middle;">Files/Attachments</span></th></tr></thead></table>';
                                table+='<table class="table table-striped" style="margin-bottom:0!important"><thead><tr></tr></thead></table><table class="table table-striped" style="margin-bottom:0!important"><thead>';
                                for(let i=0;i<result.length;i++){
                                    let attachmenttype = result[i].Attachment_Type__c === undefined? 'Other' : result[i].Attachment_Type__c;
                                    let description = result[i].Description === undefined? "N/A" : result[i].Description;
                                    table+='<tr><th class="text-semibold" style="Width:35%"><a href=/sfc/servlet.shepherd/version/download/'+result[i].Id+ ' target="_blank" class="btn-link text-semibold">'+result[i].Title+'</a></th>';
                                    //table+='<th class="text-semibold" style="Width:30%"><div style="max-width:134px !important;width:100%">'+attachmenttype+'</div></th>';
                                    table+='<th class="text-semibold" style="Width:35%"><div style="white-space: normal;">'+description+'</div></th></tr>';
                                }
                                table+='</thead></table>';
                                document.getElementById('FilesTable').innerHTML=table;
                            }
                        }else if(event.type === 'exception'){
                            console.log('Exception - '+event.message+' at '+event.where);
                        }else{
                            console.log('Error - '+event.message);
                        }
                    },{escape: true}
                );
                // fetch approval history to modal pop up
                Visualforce.remoting.Manager.invokeAction(
                    '{!$RemoteAction.CableIntakeDashBoardController.getContractHistoryModal}',
                    Id, 
                    function(result, event){
                        if (event.status) {
                            if(result != null){
                                var table='';
                                for(let i=0;i<result.length;i++){
                                    let Field = result[i].Field === 'Attorney_Name__c' ? 'Attorney' : 'Contract Intake Status';
                                    let Old = result[i].Oldvalue === undefined ? '' : result[i].Oldvalue;
                                    let New = result[i].Newvalue === undefined ? '' : result[i].Newvalue;
                                    console.log('Old'+i+' '+Old);
                                    console.log('New'+i+' '+New);
                                    table+='<tr><th width="25%"><div style="color:#4d627b;"><span class="text-semibold">'+Field+'</span></div></th>';
                                    table+='<th><span class="text-semibold">'+Old+'</span></th>';
                                    table+='<th><span class="text-semibold">'+New+'</span></th>';
                                    table+='<th><span class="text-semibold">'+result[i].CreatedBy.Name+'</span></th>';
                                    table+='<th><span class="text-semibold">'+moment(result[i].CreatedDate).format('YYYY-MM-DD HH:MM')+'</span></th></tr>';                                    
                                }
                                document.getElementById('ApprovalHistory').innerHTML=table;
                            }
                        }else if(event.type === 'exception'){
                            console.log('Exception - '+event.message+' at '+event.where);
                        }else{
                            console.log('Error - '+event.message);
                        }
                    },{escape: true}
                );
            });
            </script>
        </head>
        <body>
            <div class="effect aside-float aside-bright mainnav-lg" id="main-div">
                <div class="boxed">
                    <!--CONTENT CONTAINER-->
                    <div id="container">
                        <header id="navbar">
                            <div id="navbar-container" class="boxed">
                            </div>
                        </header>
                                   
                <div class="contanerFix mobHadClass" >
    <div class="topnav" id="myTopnav">

       <div class="slds-tabs_scoped hadrPosition contanerFix "  style="background-color: #0d3449;width:100%;z-index:200;">
           <div class="hedClass  hadImg "  style="width:80%;">
               <span><apex:image url="{!$Resource.ComcastLogoNew}" width="auto" height="28px"/></span>
               <span style="position: relative;top: 9px;">| Contract Intake Manager Dashboard</span>
           </div>
                                     
           <div class="hedClass hadLink " style="float:right;padding-top: 20px;">
                <apex:outputLink value="/apex/ContractIntakeAttorneyDashboard" rendered="{!LegalGroup}" style=" color : #ffffff;"><u>Legal Dashboard</u></apex:outputLink>
           </div>
           <div class="hedClass hadLink " style="float:right;padding-top: 20px;">
                <apex:outputLink value="/apex/ContractIntakeContractManagerDashboard" rendered="{!ManagerGroup}" style=" color : #ffffff;"><u>Contract Manager Dashboard</u></apex:outputLink>
           </div>
           <div class="hedClass hadLink ">
                <a href="/apex/ContractIntake" target="_blank" style=" color : #ffffff;text-decoration : none;" >New Contract Intake Request</a> 
           </div>
           <div  class="icon hedClass" >
               <i class="fa fa-bars" id="myTopnav1" onclick="myFunction()"></i>
           </div>
           
           <div class="hedSize">
           <div class="" style="height:54px;"></div>
           <div style="background-image: linear-gradient(-9deg, #0DB04A 0%, #038ACF 25%,#635EAB 42%, #C9244A 58%, #F27021 75%,#FCBA12 100% );height:3px;"></div>
          </div>
       </div>
     </div>    
   </div>
              
                      <div class="contanerFix dtHadClass" >
    <div class="topnav" id="myTopnav">

       <div class="slds-tabs_scoped hadrPosition contanerFix "  style="background-color: #0d3449;width:100%;z-index:200;">
           <div class="hedClass  hadImg "  style="width:50%">
                <span><apex:image url="{!$Resource.ComcastLogoNew}" width="auto" height="28px" style="margin-left:15px;"  /></span>
                <span style="position: relative;top: 9px;">| Contract Intake Manager Dashboard</span>
            </div>
           <div class="hedClass hedClass "  style="float:right;">
                <a class="btn " style="padding: 3px 12px;border: 1px solid gr ;background: white;color:#0d3449;float:right;" href="/apex/ContractIntake" target="_blank">
                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
                    New Contract Intake Request
                </a> 
           </div>
               
           <div class="hedClass hedClass " style="float:right;padding-top: 20px;">
                <apex:outputLink value="/apex/ContractIntakeContractManagerDashboard" rendered="{!ManagerGroup}" style=" color : #ffffff;"><u>Contract Manager Dashboard</u></apex:outputLink>
           </div>                     
           <div class="hedClass hedClass " style="float:right;padding-top: 20px;">
                <apex:outputLink value="/apex/ContractIntakeAttorneyDashboard" rendered="{!LegalGroup}" style=" color : #ffffff;"><u>Legal Dashboard</u></apex:outputLink>
           </div>
           <div class="" style="height:54px;"></div>
           <div style="background-image: linear-gradient(-9deg, #0DB04A 0%, #038ACF 25%,#635EAB 42%, #C9244A 58%, #F27021 75%,#FCBA12 100% );height:3px;"></div>
          
       </div>
     </div>    
   </div>
              <!--
          <div class="boxed">
                            <div id="content-container" style="padding-top:0 !important">
                                <div id="page-head">
                                    <div id="page-title">
                                        <ol class="breadcrumb" style="padding: 0!important;">
                                            <li class="page-header text-overflow">
                                                <div style="{!IF(namingFlag == False, 'display:block', 'display:none')}">
                                                    {!$User.FirstName}'s Management Dashboard
                                                </div>
                                                <div style="{!IF(namingFlag == True, 'display:block', 'display:none')}">
                                                    {!$User.FirstName} Management Dashboard
                                                </div>
                                            </li>
                                            <div  class="dropdown" onClick="enableDropDown('.content1');">
                                                <i class="down"></i>
                                            </div>
                                            <div class="dropdown-content content1" style="margin-left:140px">
                                                <apex:outputLink value="/apex/ContractIntakeRequesterDashboard" >Requester Dashboard</apex:outputLink>
                                           
                                               <apex:outputLink value="/apex/ContractIntakeAttorneyDashboard" rendered="{!LegalGroup}">Legal Dashboard</apex:outputLink>
                                               <apex:outputLink value="/apex/ContractIntakeContractManagerDashboard" rendered="{!ManagerGroup}">Contract Manager</apex:outputLink>
                                            </div>
                                            <div  class="dropdown" onClick="enableDropDown('.content2');" style = "float:right;position: relative;padding: 16px 0px;">
                                                <i class="down"></i>
                                            </div>
                                            <div class="dropdown-content content2" style="margin-top:-0.5%;right:0;margin-right:27px;">
                                                <a href="/secur/logout.jsp" style="text-align:center">Logout</a>
                                            </div>
                                            <li style = "float:right;position: relative;padding:16px 0 10px;">Welcome {!$User.FirstName}</li>
                                        </ol>
                                    </div>
                                    <div class="form-group" style="float:right;margin-right:15px;margin-top: 8px;">
                                        <a class="btn btn-default btn-mint" style="padding: 4px 8px;border: 1px solid #26a69a;
                                                                                   background: #26a69a;color:#fff;"
                                           href="/apex/ContractIntake" target="_blank">
                                            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
                                            New Contract Intake Request
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <div  class="mainConClass">
                            
                            <div class="row">
                                <div class="panel">
                                    <div class="panel-body">
                                        <div id="Panels" class="ease-in">
                                            <div class="col-md-3">
                                            
                                            <div class="panel panel-colorful media middle pad-all  activeDashClass dashClass" style="cursor:pointer;" 
                                                     onclick="$('.dashClass').removeClass('activeDashClass');$('.dashClass').addClass('inactiveDashClass');$(this).removeClass('inactiveDashClass');$(this).addClass('activeDashClass');pendingContractFunction()">
                                                   
                                                    <div class="media-body" id="PAText" style="height:50px;font-weight:400;font-size:1.3em;text-align:center;">
                                                        <apex:outputText value="{!$Label.Pending_Attorney}" />
                                                    </div>
                                                </div>
                                              <!--  <div class="panel panel-colorful media middle pad-all" style="cursor:pointer;background-color:#0089cf;color: white;" 
                                                     onclick="pendingContractFunction()">
                                                    <div class="media-left">
                                                        <div class="pad-hor">
                                                            <i class="demo-pli-file-zip icon-3x"></i>
                                                        </div>
                                                    </div>
                                                    <div class="media-body" id="PAText">
                                                        <p class="text-2x mar-no text-semibold">{!PendingAttorneyCount}</p>
                                                        <p class="mar-no"><apex:outputText value="{!$Label.Pending_Attorney}"/></p>
                                                    </div>
                                                </div>-->
                                            </div>
                                            <div class="col-md-3" >    
                                            <div class="panel panel-colorful media middle pad-all  inactiveDashClass dashClass" style="cursor:pointer;" 
                                                     onclick="$('.dashClass').removeClass('activeDashClass');$('.dashClass').addClass('inactiveDashClass');$(this).removeClass('inactiveDashClass');$(this).addClass('activeDashClass');AssignedContractFunction()">
                                                   
                                                    <div class="media-body" id="PAText" style="height:50px;font-weight:400;font-size:1.3em;text-align:center;">
                                                        <apex:outputText value="{!$Label.Attorney_Review}" />
                                                    </div>
                                                </div>
                                              <!--  <div class="panel  panel-colorful media middle pad-all"  style="background-color:#7fc42e;color: white;">
                                                    <div class="media-left">
                                                        <div class="pad-hor">
                                                            <i class="demo-pli-camera-2 icon-3x"></i>
                                                        </div>
                                                    </div>
                                                    <div class="media-body" id="ARText">
                                                        <p class="text-2x mar-no text-semibold">{!AttorneyReviewCount}</p>
                                                        <p class="mar-no"><apex:outputText value="{!$Label.Attorney_Review}"/></p>
                                                    </div>
                                                </div>-->
                                            </div>
                                            <div class="col-md-3">
                                                  
                                            <div class="panel panel-colorful media middle pad-all  inactiveDashClass dashClass" style="cursor:pointer;" 
                                                     onclick="$('.dashClass').removeClass('activeDashClass');$('.dashClass').addClass('inactiveDashClass');$(this).removeClass('inactiveDashClass');$(this).addClass('activeDashClass');ClosedContractFunction()">
                                                   
                                                    <div class="media-body" id="PAText" style="height:50px;font-weight:400;font-size:1.3em;text-align:center;">
                                                        <apex:outputText value="{!$Label.Closed}" />
                                                    </div>
                                                </div>
                                                <!-- <div class="panel  panel-colorful media middle pad-all"  style="background-color:#f44336;color: white;">
                                                    <div class="media-left">
                                                        <div class="pad-hor">
                                                            <i class="demo-pli-video icon-3x"></i>
                                                        </div>
                                                    </div>
                                                    <div class="media-body" id="CCText">
                                                        <p class="text-2x mar-no text-semibold">{!ClosedCount}</p>
                                                        <p class="mar-no"><apex:outputText value="{!$Label.Closed}"/></p>
                                                    </div>
                                                </div>-->
                                            </div>
                                            <div class="col-md-3">  
                                            <div class="panel panel-colorful media middle pad-all  inactiveDashClass dashClass" style="cursor:pointer;" 
                                                     onclick="$('.dashClass').removeClass('activeDashClass');$('.dashClass').addClass('inactiveDashClass');$(this).removeClass('inactiveDashClass');$(this).addClass('activeDashClass');TotalContractFunction()">
                                                   
                                                    <div class="media-body" id="PAText" style="height:50px;font-weight:400;font-size:1.3em;text-align:center;">
                                                        <apex:outputText value="{!$Label.Total_Contracts}" />
                                                    </div>
                                                </div>
                                               <!-- <div class=" panel-colorful media middle pad-all" style="cursor:pointer;background-color:#1d485d;color: white;" 
                                                     onclick="TotalContractFunction()">
                                                    <div class="media-left">
                                                        <div class="pad-hor">
                                                            <i class="demo-pli-file-word icon-3x"></i>
                                                        </div>
                                                    </div>
                                                    <div class="media-body" id="TCText">
                                                        <p class="text-2x mar-no text-semibold">{!TotalContractsCount}</p>
                                                        <p class="mar-no"><apex:outputText value="{!$Label.Total_Contracts}"/></p>
                                                    </div>
                                                </div>-->
                                            </div>
                                        </div>
                                        <div class="pad-btm form-inline">
                                            <div class="row">
                                                <div class="col-sm-6 table-toolbar-left">
                                                    <div class="media-right" style="padding:0">
                                                        <span id="Nowshowing" class="text-main ease-out" style="font-size:18px"><apex:outputText value="{!NowShowing}" id="nowshowing"/></span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 table-toolbar-right">
                                                    <div class="form-group" style="margin-right:10px;">
                                                        <!--<input type="text" autocomplete="off" class="form-control" 
                                                               placeholder="Search Contract" id="contractnamesearch" 
                                                               onkeydown="searchcontract(this);"/> -->
                                                        <a onclick="approvalrefresh()" id="refresh" class="btn btn-default" style="background:transparent;padding: 5px 7px 8px 7px;"><i class="fa fa-refresh" style="font-size:1.5em !important;vertical-align: middle;cursor:pointer;color:#838383;" aria-hidden="true"/></a>
                                                        <!--<a onclick="downloadcsv()" class="btn btn-default" style="background:transparent; padding: 5px 7px 8px 7px;">
                                                            <i class="fa fa-cloud-download" style="font-size:1.5em !important;vertical-align: middle;cursor:pointer;color:#838383;" aria-hidden="true"/>
                                                        </a> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <apex:outputPanel id="PendingApprovals">
                                            <div class="table-responsive" id="FadeApprovalsDiv" style="opacity:0;">
                                                <apex:outputPanel id="PendingApprovalsTable">
                                                    <script>
                                                    function downloadcsv(){
                                                        window.open('{!$Site.BaseUrl}/apex/ContractstoExcel?NowShowing={!NowShowing}','_blank');
                                                    }
                                                    function activatePageNumber(source){
                                                        if('{!setCon.pageNumber}'=='{!PreviousPage}'){
                                                            $("#Previous").addClass("active");
                                                            $("#Next").removeClass("active");
                                                            $("#Current").removeClass("active");
                                                        }
                                                        else if('{!setCon.pageNumber}'=='{!CurrentPage}'){
                                                            $("#Previous").removeClass("active");
                                                            $("#Next").removeClass("active");
                                                            $("#Current").addClass("active");  
                                                        }
                                                            else if('{!setCon.pageNumber}'=='{!NextPage}'){
                                                                $("#Previous").removeClass("active");
                                                                $("#Next").addClass("active");
                                                                $("#Current").removeClass("active");
                                                            }
                                                    }
                                                    </script>
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr> 
                                                                <th></th>
                                                                <th><apex:outputText value="Contract Request ID"/>
                                                                    <a onclick="contractnamesort()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                </th>
                                                                <th><apex:outputText value="Submission Date"/>
                                                                    <a onclick="createddatesort()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                </th>
                                                                <th><apex:outputText value="Business Unit/Division"/>
                                                                    <a onclick="businessunitsort()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                </th>
                                                                <th><apex:outputText value="Other Party(ies)"/>
                                                                    <a onclick="counterpartysort()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                </th>
                                                                <th><apex:outputText value="Est. Contract Value"/>
                                                                    <a onclick="contractvaluesort()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                </th>
                                                                <th><apex:outputText value="Procurement Contact"/>
                                                                    <a onclick="procurementvaluesort()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                </th>
                                                                <th><apex:outputText value="Assigned Legal Contact"/>
                                                                    <a onclick="assignedattorneysort()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                </th>
                                                                <th class="text-center">Status</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <apex:repeat value="{!Approvals}" var="CL">
                                                                <tr>
                                                                    <th><a data-toggle="modal" href="#ReviewCIModal" data-contract="{!CL.Id}"><i class="fa fa-search"/></a></th>
                                                                    <th style="width:20%;white-space: normal;visibility: visible;word-wrap:break-word;overflow-wrap: break-word; "><a href="/{!CL.Id}" target="_blank" class="btn-link text-semibold"><apex:outputText value="{!CL.Name}"/></a></th>
                                                                    <th><apex:outputText value="{0, date, MMMM d','  yyyy}" styleClass="text-semibold">
                                                                        <apex:param value="{!CL.CreatedDate}" /> 
                                                                        </apex:outputText></th>
                                                                    <th style="white-space: normal;visibility: visible;word-wrap:break-word;overflow-wrap: break-word;"><span class="text-muted"><apex:outputText value="{!If(CL.Business_Unit__c == 'Business Unit - HQ',CL.Business_Unit_HQ__c,CL.Business_Unit_Division__c)}" styleClass="text-semibold"/></span></th>
                                                                    <th style="white-space: normal;visibility: visible;word-wrap:break-word;overflow-wrap: break-word;"><apex:outputText value="{!CL.Counterparty__c}" styleClass="text-semibold"/></th>
                                                                    <th><apex:outputText value="{0, Number, Currency}" styleClass="text-semibold">
                                                                        <apex:param value="{!If(CL.Projected_Dollar_Amount__c == null,0,CL.Projected_Dollar_Amount__c)}"/>
                                                                        </apex:outputText></th>
                                                                    <th style="white-space: normal;visibility: visible;word-wrap:break-word;overflow-wrap: break-word;"><apex:outputText value="{!IF(CL.Procurement_Contact__c == null,'N/A',CL.Procurement_Contact__c)}" styleClass="text-semibold"/></th>
                                                                    <th style="white-space: normal;visibility: visible;word-wrap:break-word;overflow-wrap: break-word;"><apex:outputText value="{!IF(CL.Attorney_Name__c == null,'N/A',CL.Attorney_Name__c)}" styleClass="text-semibold"/></th>
                                                                    <th class="text-center text-semibold">
                                                                        <div class="label label-table" style="max-width:225px !important;min-width: 100% !important;{!If(CL.Contract_Intake_Status__c == 'Initializing','background-color:#0089cf;',
                                                                                                              IF(CL.Contract_Intake_Status__c == 'Contract Manager','background-color:#0089cf;',
                                                                                                              IF(CL.Contract_Intake_Status__c == 'Pending Assignment','background-color:#625ea9;',
                                                                                                              IF(CL.Contract_Intake_Status__c == 'Pending Approval','background-color:#0089cf;',
                                                                                                              IF(CL.Contract_Intake_Status__c == 'Legal Review','background-color:#0089cf;',
                                                                                                              IF(CL.Contract_Intake_Status__c == 'Requester Contacted','background-color:#625ea9;',
                                                                                                              IF(CL.Contract_Intake_Status__c == 'Legal Review Complete','background-color:#7fc42e;',
                                                                                                              IF(CL.Contract_Intake_Status__c == 'Confidential Link Sent','background-color:#7fc42e;',
                                                                                                              IF(CL.Contract_Intake_Status__c == 'Pending Legal Reassignment','background-color:#625ea9;',
                                                                                                              If(CL.Contract_Intake_Status__c == 'Declined','background-color:#f44336;',''))))))))))}">
                                                                            <apex:outputText value="{!CL.Contract_Intake_Status__c}"/></div>
                                                                    </th>
                                                                </tr>
                                                            </apex:repeat>
                                                        </tbody>
                                                    </table>
                                                </apex:outputPanel>
                                            </div>
                                            <hr class="new-section-xs"/>
                                            <!-- Functions that hit apex controller -->
                                            <apex:actionFunction action="{!refresh}" name="approvalrefresh" reRender="PendingApprovalsTable" />
                                            <apex:actionFunction name="search" action="{!Search}" reRender="PendingApprovalsTable">
                                                <apex:param assignTo="{!contractsearchstring}" value="" name="name"/>
                                            </apex:actionFunction>
                                            <apex:actionFunction action="{!contractNameASC}" name="contractnamesort" reRender="PendingApprovalsTable"/>
                                            <apex:actionFunction action="{!createdDateASC}" name="createddatesort" reRender="PendingApprovalsTable"/>
                                            <apex:actionFunction action="{!CounterpartyASC}" name="counterpartysort" reRender="PendingApprovalsTable"/>
                                            <apex:actionFunction action="{!BusinessunitASC}" name="businessunitsort" reRender="PendingApprovalsTable"/>
                                            <apex:actionFunction action="{!contractValueASC}" name="contractvaluesort" reRender="PendingApprovalsTable"/>
                                            <apex:actionFunction action="{!procurementvalueASC}" name="procurementvaluesort" reRender="PendingApprovalsTable"/>
                                            <apex:actionFunction action="{!assignedattorneyASC}" name="assignedattorneysort" reRender="PendingApprovalsTable"/>
                                            <apex:actionFunction name="pendingContractFunction" action="{!setPendingStatus}" reRender="PendingApprovalsTable,nowshowing,Pagination" 
                                                                 oncomplete="$('#Nowshowing').css('margin-left','-250%');$('#Nowshowing').removeClass('ease-out');setTimeout(addAnotherAnimation,500);"/>
                                            <apex:actionFunction name="AssignedContractFunction" action="{!setAssignedStatus}" reRender="PendingApprovalsTable,nowshowing,Pagination"
                                                                 oncomplete="$('#Nowshowing').css('margin-left','-250%');$('#Nowshowing').removeClass('ease-out');setTimeout(addAnotherAnimation,500);"/>
                                            <apex:actionFunction name="ClosedContractFunction" action="{!setClosedStatus}" reRender="PendingApprovalsTable,nowshowing,Pagination"
                                                                 oncomplete="$('#Nowshowing').css('margin-left','-250%');$('#Nowshowing').removeClass('ease-out');setTimeout(addAnotherAnimation,500);"/>
                                            <apex:actionFunction name="TotalContractFunction" action="{!setTotalRequests}" reRender="PendingApprovalsTable,nowshowing,Pagination"
                                                                 oncomplete="$('#Nowshowing').css('margin-left','-250%');$('#Nowshowing').removeClass('ease-out');setTimeout(addAnotherAnimation,500);"/>
                                            <!-- Functions End -->
                                            <apex:outputPanel id="Pagination">
                                                <div class="pull-right">
                                                    <ul class="pagination text-nowrap mar-no">
                                                        <li class="{!If(!setCon.hasPrevious,"page-pre disabled","page-pre")}">
                                                            <!-- <a href="#">&lt;</a> -->
                                                            <apex:commandLink action="{!Newer}" value="← Newer" oncomplete="activatePageNumber(this);" reRender="PendingApprovalsTable,Pagination"/>
                                                        </li>
                                                        <li class="page-number active" id="Previous">
                                                            <apex:commandLink action="{!goBack}" value="{!PreviousPage}" oncomplete="activatePageNumber(this);" reRender="PendingApprovalsTable,Pagination"/>
                                                        </li>
                                                        <li class="{!If(NumberOfPages <= 1 ,"page-number disabled","page-number")}" id="Current">
                                                            <apex:commandLink action="{!movePage}" value="{!CurrentPage}" oncomplete="activatePageNumber(this);" reRender="PendingApprovalsTable,Pagination"/>
                                                        </li> <!-- !setCon.hasNext, -->
                                                        <li class="{!If(OR(NumberOfPages <= 2),"page-number disabled","page-number")}" id="Next">
                                                            <apex:commandLink action="{!goForward}" value="{!NextPage}" oncomplete="activatePageNumber(this);" reRender="PendingApprovalsTable,Pagination"/>
                                                        </li>
                                                        <li>
                                                            <span>...</span>
                                                        </li>
                                                        <li class="page-number">
                                                            <apex:commandLink action="{!last}" value="last" oncomplete="activatePageNumber(this);" reRender="PendingApprovalsTable,Pagination"/>
                                                        </li>
                                                        <li class="{!If(!setCon.hasNext,"page-next disabled","page-next")}">
                                                            <!-- <a href="#">&gt;</a> -->
                                                            <apex:commandLink action="{!Older}" value="Older →" oncomplete="activatePageNumber(this);" reRender="PendingApprovalsTable,Pagination" />
                                                        </li>
                                                    </ul>
                                                </div>
                                            </apex:outputPanel>
                                        </apex:outputPanel>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                    <!-- Modal window starts here -->
                    <div class="modal fade" id="ReviewCIModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content" style="background-color:#ECF0F5">
                                <!--Modal header-->
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" style="margin-top:0!important">
                                        <i class="pci-cross pci-circle"></i>
                                    </button>
                                </div>                                
                                <!--Modal body-->
                                <div class="modal-body">
                                    <div class="boxed">
                                        <div id="container">
                                            <div id="page-content">
                                                <!-- Details Section -->
                                                <div class="row">
                                                    <div class="panel">
                                                        <div class="panel-heading">
                                                            <div style="padding-top: 15px;">
                                                                <h3 class="panel-title" style="color:#25476A;font-weight: bold;">
                                                                    Details
                                                                </h3>
                                                            </div>
                                                        </div>
                                                        <div class="panel-body" id="fieldset" style="min-height:380px;">
                                                            <div class="table-responsive">
                                                                <table style="width:100%;">
                                                                    <tr> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Contract Name:"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm"><apex:outputText id="Name"></apex:outputText></th>
                                                                    </tr>
                                                                    <tr> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Is your request for HQ or a Division?"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm"><apex:outputText id="BU"/></th>
                                                                    </tr>
                                                                    <tr id="BUHQAll"> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Select your HQ Business Unit:"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm"><apex:outputText id="BUHQ"/></th>
                                                                    </tr>
                                                                    <tr id="BUDAll"> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Select your Division:"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm"><apex:outputText id="BUD"/></th>
                                                                    </tr>
                                                                    <tr> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Enter the name of the other party(ies) to the contract:"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm"><apex:outputText id="CP"/></th>
                                                                    </tr>
                                                                    <tr> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Enter the estimated value of the contract:"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm"><apex:outputText id="CV"/></th>
                                                                    </tr>
                                                                    <tr> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Has a member of the Law Department been involved in this relationship/deal?"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm"><apex:outputText id="Att"/></th>
                                                                    </tr>
                                                                    <tr id="AttCAll"> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Select the Law Department contact:"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm"><apex:outputText id="AttC"/></th>
                                                                    </tr>
                                                                    <tr> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Has Procurement been engaged in this relationship/deal?"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm"><apex:outputText id="Proc"/></th>
                                                                    </tr>
                                                                    <tr Id="ProcCAll"> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Select the Procurement contact:"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm"><apex:outputText id="ProcC"/></th>
                                                                    </tr>
                                                                    <tr> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Is there an NDA in place with all parties?"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm"><apex:outputText id="NDA"/></th>
                                                                    </tr>
                                                                    <tr> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Has TPSA completed an assessment for this third party vendor?"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm"><apex:outputText id="TSPA"/></th>
                                                                    </tr>
                                                                    <tr> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Is there a Master Agreement associated with this relationship/deal?"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm"><apex:outputText id="MA"/></th>
                                                                    </tr>
                                                                    <tr> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Does this contract involve PII, IP, or Technology?"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm"><apex:outputText id="PII"/></th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Projected Due Date:"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm"><apex:outputText id="PRED"/></th>
                                                                    </tr>
                                                                    <tr> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Please Explain:"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm bq-sm"><apex:outputText id="PEPL" escape="false" style="word-break:break-word"/></th>
                                                                    </tr>
                                                                    <tr> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Describe the nature and purpose of the requested contract:"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm bq-sm"><apex:outputText id="briefsummary" escape="false" style="word-break:break-word"/></th>
                                                                    </tr>
                                                                </table>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Files Section -->
                                                <div class="row">
                                                    <div class="panel">
                                                        <div class="panel-body">
                                                            <div class="table-responsive" id="FilesTable" style="max-height:1000px;">
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Approval Log Section -->
                                                <div class="row">
                                                    <div class="panel">
                                                        <div class="panel-body">
                                                            <div class="table-responsive">
                                                                <table class="table table-striped">
                                                                    <thead>
                                                                        <tr> 
                                                                            <th width="25%">Field Changed</th>
                                                                            <th>Old Value</th>
                                                                            <th>New Value</th>
                                                                            <th>Modified by</th>
                                                                            <th>Modified Date/Time</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="ApprovalHistory">
                                                                        
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal window ends here -->
                    
                    <div class="footer-fixed" style="text-align:center; font-size: x-small;">
                        Logged in as: {!$User.FirstName} {!$User.LastName} <br/>
                        Confidential – Attorney-Client Privileged<br/>
                        {!$Label.CAFfooter4} <a href="mailto:Legal_Technology_Support@Comcast.com">Legal_Technology_Support@Comcast.com</a> <br/>
                        {!$label.CAFfooter1} <br/>
                        <!--  {!$label.CAFfooter1} <br/>
<!--<apex:outputLink value="{!$Label.CAFPrivacyLink}" target="_blank">{!$Label.CAFfooter2}</apex:outputLink> {!$label.CAFfooter3} -->
                    </div>
            </div>
        </body>
    </apex:form>
</apex:page>