<apex:page standardController="REVVY__MnContract__c" action="{!displayContractApprovals}" 
           extensions="ReviewCAFDocuSignController" sidebar="false" id="pg" showHeader="false" 
           docType="html-5.0" readOnly="false" cache="false">
    <apex:form id="DashboardForm">    
        <head>
            <meta charset="utf-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/bootstrap.min.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/ionicons.min.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/nifty.min.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/pace.min.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/bootstrap-select.min.css')}"/> 
            <!-- <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/plugin/pace.min.css')}"/> For Progress bar while loading
            <apex:includeScript value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/plugin/pace.min.js')}"/> -->
            <apex:includeScript value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/jquery.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/bootstrap.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/nifty.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/bootstrap-select.min.js')}"/>
            <apex:includeLightning />
            <apex:includeScript value="/lightning/lightning.out.js"/> 
            <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"/>
            <style>
                .label-success{
                    background-color: #1d7caf;
                }
                .linkCor {
                    color: #0275a8;
                }
                .activeDashClass{
                    color : white;
                    background-color: #1d7caf;
                }
                .inactiveDashClass{
                    color : #0d3449;
                    background-color: #ebebeb;
                }
                
                #PAText:hover{
                    transform: scale(1.2);
                }
                #CAText:hover{
                    transform: scale(1.2);
                }
                #TCText:hover{
                    transform: scale(1.2);
                }
                #DText:hover{
                    transform: scale(1.2);
                }
                .ease-in{
                    margin-Left: 100%;
                    width:300%;
                    transition: 0.5s;
                }
                .ease-out{
                    margin-left: -250%;
                    transition: 0.5s;
                }
                .fade-in {
                    opacity: 1 !important;
                    animation-name: fadeInOpacity;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-in;
                    animation-duration: 0.5s;
                }
                @keyframes fadeInOpacity {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
                .header-details{
                color:#25476A;
                width:40%;
                white-space: normal;
                vertical-align: top;
                }
                .header-approvers{
                color:#25476A;
                white-space: normal;
                }
                .pad-bot{
                padding-bottom:25px;
                }
                ol,li {
                margin-left: 0 !important;
                }
                .down{
                content: "";
                border-color:#fff;
                border-style: solid;
                border-width: 0 .1em .1em 0;
                display: inline-block;
                height: .55em;
                left: 0;
                position: relative;
                top: -.1em;
                width: .55em;
                padding: 0;
                margin-left: 1ex;
                margin-right: 1.7ex;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                }
                .dropdown {
                position: relative;
                display: inline-block;
                }
                .dropdown-content {
                display: none;
                position: absolute;
                min-width: 160px;
                z-index: 1;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                }
                .dropdown-content a {
                color: white;
                text-decoration: none;
                display: block;
                }
                .dropdown-content a:hover {color: white}
                .dropdown:hover .dropdown-content {
                display: block;
                }
                .hadrPosition {
                position: fixed;
                }
                .hadImg {
                width: 62%;
                text-align: left;
                }
                .hidUser {
                float: left;
                color: #f2f2f2;
                padding: 7px 16px;
                text-decoration: none;
                font-size:  1.3rem;
                }
                .contanerBdy {
                padding: 0% 8% 0px 8%;
                width: 85%;
                min-width: 600px;
                } 
                .topnav {
                overflow: hidden;
                background-color: #0d3449;
                }
                
                .topnav .hedClass {
                float: left;
                color: #f2f2f2;
                padding: 14px 16px;
                text-decoration: none;
                font-size:  1.3rem;
                }
                .hadLink {
                display: none;
                }
                .topnav .icon {
                display: none;
                }
                .mobHadClass{
                display:none;
                }
                .dtHadClass{
                display:block;
                }
                .mainConClass{
                padding-top:90px;
                 background-color: #f9f9f9;
                }
                .pagination>.active>a { background-color: #25476a}
               
                @media screen and (max-width: 800px) {
                .mobHadClass{
                display:block;
                }
                .dtHadClass{
                display:none;
                }
                .mainConClass{
                padding-top:70px;
                }
                .hadrPosition {
                position: fixed;
                }
                .topnav .hedClass:not(:first-child) {display: none;}
                .hadImg {
                text-align: left;
                }
                .hidUser {
                display: none;
                }
                .topnav .hedClass.icon {
                float: right;
                display: block;
                }
                .topnav.responsive {position: relative;}
                .topnav.responsive .icon {
                position: absolute;
                right: 0;
                top: 0;
                }
                .topnav.responsive .hedClass  {
                float: none;
                display: block;
                text-align: left;
                }
                .contanerBdy {
                padding: 0% 0% 0% 0%;
                min-width: 0px;
                } 
                }
                
                
                
                @media only screen and (min-width: 800px) and (max-width: 1325px)  {
                .hadImg {
                width: 35%;
                text-align: left;
                }
                
                }
            </style>
            <script>
            
             function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
            function getContractRec(obj){
                getContractRec(obj);
            }
            function getEnvelopeRec(obj){
                getEnvelopeRec(obj);
            }
            //search contract name while you type
            function searchcontract(source){
                if(source.id == 'contractnamesearch'){
                    search(source.value);
                }
            }
            //when DOM is ready, occurs after window.onload
            $(document).ready(function() {
                $('#1').addClass('active');
                
            });
            //drop down function 
            function enableDropDown(contentClass){
                if($(contentClass).css('display') == 'none'){
                    $(contentClass).css('display','block');
                }else{
                    $(contentClass).css('display','none');
                }
            }
            //on load of the page add animation
            window.onload = function(){
                var Panels = document.getElementById('Panels');
                Panels.style.marginLeft = "0%";
                Panels.style.width = "100%";
                setTimeout(addAnimations,500);
            };
            function addAnimations(){
                $("#FadeApprovalsDiv").addClass('fade-in');
                setTimeout(addAnotherAnimation,500);
            }
            function addAnotherAnimation(){ //
                var NowshowingSpan = document.getElementById('Nowshowing');
                NowshowingSpan.style.marginLeft = "0%";
            }
            //returns currency format of string
            function convertToLocale(num){
                var parts = num.toString().replace(",","").split(".");
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                return parts.join(".");
            } 
            var ContractId = '';
            var ContractName = '';
            $(document).on('show.bs.modal','#reviewModel', function (event) {
                var Id = $(event.relatedTarget).data('contract');
                ContractId = Id;
                alert(Id);
                //fetch contract details to modal pop up
                Visualforce.remoting.Manager.invokeAction(
                    '{!$RemoteAction.ReviewCAFDocuSignController.getContractModal}',
                    Id, 
                    function(result, event){
                        if (event.status) {
                            document.getElementById('pg:DashboardForm:CAFType').innerHTML = result.CAF_Type__c;
                            document.getElementById('pg:DashboardForm:Name').innerHTML = result.Name;
                            ContractName = result.Name;
                            document.getElementById('pg:DashboardForm:BusinesUnit').innerHTML = result.Business_Unit__c === undefined ? "N/A" : result.Business_Unit__c;
                            document.getElementById('pg:DashboardForm:Counterparty').innerHTML = result.Counterparty__c;
                            document.getElementById('pg:DashboardForm:Currency').innerHTML = result.REVVY__Currency__c;
                            document.getElementById('pg:DashboardForm:Contractvalue').innerHTML = convertToLocale(result.Contract_Value__c);
                            document.getElementById('pg:DashboardForm:Legal').innerHTML = result.Unchanged_legal_provided_template_used__c;
                            document.getElementById('pg:DashboardForm:Sourcing').innerHTML = result.Is_Sourcing_Contract__c;
                            document.getElementById('pg:DashboardForm:Binding').innerHTML = result.Is_Binding_Corporate_Dev_Contract__c;
                            document.getElementById('pg:DashboardForm:Applicable').innerHTML = result.Above_statements_applicable_to_Contract__c;
                            document.getElementById('pg:DashboardForm:Lessthan').innerHTML = result.Less_Than_100K__c;
                            document.getElementById('pg:DashboardForm:briefsummary').innerHTML = $('<div/>').html(result.Brief_Summary__c).text().replace(/<\/?[^>]+(>|$)/g, "");
                            if(result.CAF_Type__c!='Cable Division' && result.CAF_Type__c!='Cable Division - Advertising' && result.CAF_Type__c!='Cable Division - Preferred Vendor'){
                                document.getElementById('unmod').style.display = 'none';
                            }
                            if(result.CAF_Type__c!='Cable Division' && result.CAF_Type__c!='Cable Division - Advertising'){
                                document.getElementById('Less').style.display = 'none'; 
                            }
                            if(result.CAF_Type__c!='Cable Division' && result.CAF_Type__c!='Cable Division - Advertising' &&
                              result.CAF_Type__c!='Cable Division - Comcast India' && result.CAF_Type__c!='CAF - Leisure Arts'){
                                document.getElementById('BCD').style.display = 'none';  
                            }
                            if(result.CAF_Type__c!='Cable Division' && result.CAF_Type__c!='Cable Division - Advertising' &&
                              result.CAF_Type__c!='Cable Division - Comcast India'){
                                document.getElementById('PSS').style.display = 'none';  
                            }
                            
                        } else if (event.type === 'exception') {
                            console.log('Exception - '+event.message+' at '+event.where);
                        } else {
                            console.log('Error - '+event.message);
                        }
                    }, 
                    {escape: true}
                );
                // fetch files to modal pop up
                Visualforce.remoting.Manager.invokeAction(
                    '{!$RemoteAction.ReviewCAFDocuSignController.getContentModal}',
                    Id, 
                    function(result, event){
                        if (event.status) {
                            if(result != null){
                                var table = '<table class="table table-striped" style="margin-bottom:0!important"><thead><tr><th style="font-size:1.1em"><span style="vertical-align: -webkit-baseline-middle;">Files/Attachments</span></th></tr></thead></table>';
                                table+='<table class="table table-striped" style="margin-bottom:0!important"><thead><tr></tr></thead></table><table class="table table-striped" style="margin-bottom:0!important"><thead>';
                                for(let i=0;i<result.length;i++){
                                    let attachmenttype = result[i].Attachment_Type__c === undefined? 'Other' : result[i].Attachment_Type__c;
                                    let description = result[i].Description === undefined? "N/A" : result[i].Description;
                                    table+='<tr><th class="text-semibold" style="Width:35%"><a href=/sfc/servlet.shepherd/version/download/'+result[i].Id+ ' target="_blank" class="btn-link text-semibold">'+result[i].Title+'</a></th>';
                                    table+='<th class="text-semibold" style="Width:30%"><div style="max-width:134px !important;width:100%">'+attachmenttype+'</div></th>';
                                    table+='<th class="text-semibold" style="Width:35%"><div style="white-space: normal;">'+description+'</div></th></tr>';
                                }
                                table+='</thead></table>';
                                document.getElementById('FilesTable').innerHTML=table;
                            }
                        }else if(event.type === 'exception'){
                            console.log('Exception - '+event.message+' at '+event.where);
                        }else{
                            console.log('Error - '+event.message);
                        }
                    },{escape: true}
                );
                // fetch approval history to modal pop up
                Visualforce.remoting.Manager.invokeAction(
                    '{!$RemoteAction.ReviewCAFDocuSignController.getApprovalLogModal}',
                    Id, 
                    function(result, event){
                        if (event.status) {
                            if(result != null){
                                var table='';
                                for(let i=0;i<result.length;i++){
                                    let comment = result[i].REVVY__ApprovalComments__c === undefined ? 'N/A' : result[i].REVVY__ApprovalComments__c;
                                    table+='<tr><th width="25%"><div style="color:#4d627b;"><span class="text-semibold">'+result[i].REVVY__StepInst__r.Name+'</span></div></th>';
                                    table+='<th><span class="text-semibold">'+result[i].REVVY__AssignedUser__r.Name+'</span></th>';
                                    table+='<th><span class="text-semibold">'+result[i].REVVY__Status__c+'</span></th>';
                                    table+='<th><span class="text-semibold">'+moment(result[i].REVVY__ActionDate__c).format('MMMM DD, YYYY')+'</span></th>';
                                    table+='<th><span class="text-semibold">'+comment+'</span></th></tr>';
                                    
                                }
                                document.getElementById('ApprovalHistory').innerHTML=table;
                            }
                        }else if(event.type === 'exception'){
                            console.log('Exception - '+event.message+' at '+event.where);
                        }else{
                            console.log('Error - '+event.message);
                        }
                    },{escape: true}
                );
            })
            </script>
        </head>
        <body>
            <div class="effect aside-float aside-bright mainnav-lg" id="main-div">
                <div class="boxed">
                    <!--CONTENT CONTAINER-->
                    <div id="container">
                        <header id="navbar">
                            <div id="navbar-container" class="boxed">
                            </div>
                        </header>
                        
                        <div class="contanerFix mobHadClass" >
                            <div class="topnav" id="myTopnav">
                                
                                <div class="slds-tabs_scoped hadrPosition contanerFix "  style="background-color: #0d3449;width:100%;z-index:200;">
                                    <div class="hedClass  hadImg "  style="width:80%;">
                                        <span><apex:image url="{!$Resource.ComcastLogoNew}" width="auto" height="28px"/></span>
                                        <span style="position: relative;top: 9px;">| eCAF Requester Dashboard</span>
                                    </div>
                                    
                                    <div class="hedClass hadLink ">
                                        <a href="/apex/IETestCAFDocuSign" target="_blank" style=" color : #ffffff;text-decoration : none;" >New eCAF Request</a> 
                                    </div>
                                    <div  class="icon hedClass" >
                                        <i class="fa fa-bars" id="myTopnav1" onclick="myFunction()"></i>
                                    </div>
                                    
                                    <div class="hedSize">
                                        <div class="" style="height:54px;"></div>
                                        <div style="background-image: linear-gradient(-9deg, #0DB04A 0%, #038ACF 25%,#635EAB 42%, #C9244A 58%, #F27021 75%,#FCBA12 100% );height:3px;"></div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                        
                        <div class="contanerFix dtHadClass" >
                            <div class="topnav" id="myTopnav">
                                
                                <div class="slds-tabs_scoped hadrPosition contanerFix "  style="background-color: #0d3449;width:100%;z-index:200;">
                                    <div class="hedClass  hadImg "  style="width:40%">
                                        <span><apex:image url="{!$Resource.ComcastLogoNew}" width="auto" height="28px" style="margin-left:15px;"  /></span>
                                        <span style="position: relative;top: 9px;">| eCAF Requester Dashboard</span>
                                    </div>
                                    <div class="hedClass hedClass "  style="float:right;">
                                        <a class="btn " style="padding: 3px 12px;border: 1px solid gr ;background: white;color:#0d3449;float:right;" href="/apex/IETestCAFDocuSign" target="_blank">
                                            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
                                            New eCAF Request
                                        </a> 
                                    </div>
                                   
                                    <div class="" style="height:54px;"></div>
                                    <div style="background-image: linear-gradient(-9deg, #0DB04A 0%, #038ACF 25%,#635EAB 42%, #C9244A 58%, #F27021 75%,#FCBA12 100% );height:3px;"></div>
                                    
                                </div>
                            </div>    
                        </div>
                        
                        <div class="mainConClass">
                        <div id="page-content">
                            <div class="row">
                                <div class="panel">
                                    <div class="panel-body">
                                        <div id="Panels" class="ease-in">
                                            <div class="col-md-3">
                                                <div class="panel  panel-colorful media middle pad-all activeDashClass dashClass" style="cursor:pointer;border-radius:3px" 
                                                     onclick="$('.dashClass').removeClass('activeDashClass');$('.dashClass').addClass('inactiveDashClass');$(this).removeClass('inactiveDashClass');$(this).addClass('activeDashClass'); pendingApprovalFunction()">
                                                    <div >
                                                        <div class="pad-hor">
                                                            <i class="demo-pli-file-word icon-3x"></i>
                                                        </div>
                                                    </div>
                                                    <div class="media-body" id="PAText" style="height: 51px;font-weight:400;font-size:1.3em;text-align:center;">
                                                        
                                                        <p class="mar-no"><apex:outputText value="{!$Label.PendingApproval}"/></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="panel panel-colorful media middle pad-all inactiveDashClass dashClass" style="cursor:pointer;" 
                                                     onclick="$('.dashClass').removeClass('activeDashClass');$('.dashClass').addClass('inactiveDashClass');$(this).removeClass('inactiveDashClass');$(this).addClass('activeDashClass'); completedApprovalFunction()">
                                                    <div >
                                                        <div class="pad-hor">
                                                            <i class="demo-pli-file-zip icon-3x"></i>
                                                        </div>
                                                    </div>
                                                    <div class="media-body" id="CAText" style="height: 51px;font-weight:400;font-size:1.3em;text-align:center;">
                                                        
                                                        <p class="mar-no"><apex:outputText value="{!$Label.CompletedApproval}"/></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3" style="cursor:pointer" >
                                                <div class="panel  panel-colorful media middle pad-all inactiveDashClass dashClass" 
                                                        onclick=" $('.dashClass').removeClass('activeDashClass');$('.dashClass').addClass('inactiveDashClass');$(this).removeClass('inactiveDashClass');$(this).addClass('activeDashClass'); totalApprovalsFunction()" >
                                                    <div >
                                                        <div class="pad-hor">
                                                            <i class="demo-pli-camera-2 icon-3x"></i>
                                                        </div>
                                                    </div>
                                                    <div class="media-body" id="TCText" style="height: 51px;font-weight:400;font-size:1.3em;text-align:center;">
                                                       
                                                        <p class="mar-no"><apex:outputText value="{!$Label.TotalRequest}"/></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3" style="cursor:pointer" >
                                                <div class="panel  panel-colorful media middle pad-all inactiveDashClass dashClass"  
                                                        onclick=" $('.dashClass').removeClass('activeDashClass');$('.dashClass').addClass('inactiveDashClass');$(this).removeClass('inactiveDashClass');$(this).addClass('activeDashClass'); totalDocuSignFunction()">
                                                    <div >
                                                        <div class="pad-hor">
                                                            <i class="demo-pli-video icon-3x"></i>
                                                        </div>
                                                    </div>
                                                    <div class="media-body" id="DText" style="height: 51px;font-weight:400;font-size:1.3em;text-align:center;">
                                                        <p class=" mar-no ">eSignature</p>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pad-btm form-inline">
                                            <div class="row">
                                                <div class="col-sm-6 table-toolbar-left">
                                                    <div class="media-right" style="padding:0">
                                                        <span id="Nowshowing" class="text-main ease-out" style="font-size:18px"><apex:outputText value="{!NowShowing}" id="nowshowing"/></span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 table-toolbar-right">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <apex:outputPanel id="PendingApprovals">
                                            <div class="table-responsive" id="FadeApprovalsDiv" style="opacity:0;">
                                                <apex:outputPanel id="PendingApprovalsTable">
                                                    <script>
                                                    function downloadcsv(){
                                                        window.open('{!$Site.BaseUrl}/apex/ContractstoExcel?NowShowing={!NowShowing}','_blank');
                                                    }
                                                    function activatePageNumber(source){
                                                        //alert('No. of Pages- {!NumberOfPages}, setcon- {!setCon.pageNumber}, current- {!CurrentPage}, Next- {!NextPage}, Previous- {!PreviousPage}');
                                                        if('{!setCon.pageNumber}'=='{!PreviousPage}'){
                                                            $("#Previous").addClass("active");
                                                            $("#Next").removeClass("active");
                                                            $("#Current").removeClass("active");
                                                        }
                                                        else if('{!setCon.pageNumber}'=='{!CurrentPage}'){
                                                            $("#Previous").removeClass("active");
                                                            $("#Next").removeClass("active");
                                                            $("#Current").addClass("active");  
                                                        }
                                                            else if('{!setCon.pageNumber}'=='{!NextPage}'){
                                                                $("#Previous").removeClass("active");
                                                                $("#Next").addClass("active");
                                                                $("#Current").removeClass("active");
                                                            }
                                                    }
                                                    </script>
                                                    <apex:outputPanel rendered="{!docuSignTable}">
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr> 
                                                                     <th><apex:outputText value="Requester"/>
                                                                        <a onclick="requestersort()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                    </th>
                                                                    <th><apex:outputText value="Contract Name"/>
                                                                        <a onclick="contractnamesort()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                    </th>
                                                                    <th><apex:outputText value="Counterparty"/>
                                                                        <a onclick="counterpartysort()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                    </th>
                                                                    <th><apex:outputText value="Business Unit"/>
                                                                        <a onclick="businessunitsort()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                    </th>
                                                                    <th><apex:outputText value="Contract Value"/>
                                                                        <a onclick="contractvaluesort()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                    </th>
                                                                    <th><apex:outputText value="Request Date"/>
                                                                        <a onclick="submissiondatesort()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                    </th>
                                                                    <th class="text-center">Status</th>
                                                                    <th><apex:outputText value="Current Approver"/>
                                                                        <a onclick="approversort()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <apex:repeat value="{!Approvals}" var="CL">
                                                                    <tr>
                                                                       <th><apex:outputText value="{!CL.Requester}" styleClass="text-semibold"/></th> 
                                                                       <th style="width:25%"><a href="/{!CL.ContractId }" target="_blank" class="btn-link linkCor text-semibold"><apex:outputText value="{!CL.ContractName}"/></a></th>
                                                                        <th><apex:outputText value="{!CL.Counterparty}" styleClass="text-semibold"/></th>
                                                                        <th><span class="text-muted"><apex:outputText value="{!If(CL.BusinessUnit == '','N/A',CL.BusinessUnit)}" styleClass="text-semibold"/></span></th>
                                                                        <th><apex:outputText value="{0, Number, $###,###,###,###,##0}" styleClass="text-semibold">
                                                                            <apex:param value="{!If(CL.ContractValue == null,0,CL.ContractValue)}"/>
                                                                            </apex:outputText></th>
                                                                        <th><apex:outputText value="{0, date, MMMM d','  yyyy}" styleClass="text-semibold">
                                                                            <apex:param value="{!CL.SubmissionDate}" /> 
                                                                            </apex:outputText></th>
                                                                        <th class="text-center text-semibold">
                                                                            <div class="label label-table label-success" style="max-width:125px !important;min-width: 100% !important;">
                                                                                <apex:outputText value="{!If(AND(CL.Status == 'CAF Request', CL.StatusCheck = 'In Process'),'Requester',If(AND(CL.Status == 'CAF Request', CL.StatusCheck = 'Admin Review'),'Admin Review',IF(CL.Status == 'Approval','CAF Approval',IF(AND(CL.Status == 'Signature',CL.StatusCheck == 'In Process'),'Signature',If(CL.Status == 'Active','Active','Inactive')))))}"/>
                                                                            </div>
                                                                        </th>
                                                                        <th><apex:outputText value="{!If(CL.Approver != NULL,CL.Approver,'N/A')}" styleClass="text-semibold"/></th>
                                                                    </tr>
                                                                </apex:repeat>
                                                            </tbody>
                                                        </table>
                                                    </apex:outputPanel>
                                                    <apex:outputPanel rendered="{!!docuSignTable}">
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th><apex:outputText value="Contract Id"/>
                                                                        <a onclick="cntrIdsort()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                    </th>
                                                                     <th><apex:outputText value="Contract Name"/>
                                                                        <a onclick="cntrNamesort()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                    </th>
                                                                     <th><apex:outputText value="File Name"/>
                                                                        <a onclick="fileNamesort()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                    </th>
                                                                    <th style="text-align:center;"><apex:outputText value="DocuSign Status"/>
                                                                        <a onclick="statussort()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                    </th>
                                                                    <th style="text-align:center;"><apex:outputText value="DocuSign Required"/>
                                                                    </th>
                                                                    
                                                                    <th><apex:outputText value="Start eSignature"/>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                           <!-- <apex:repeat value="{!mapOfContractIdListOfContVer}" var="cv" id="cvidrender">
                                                                    <apex:repeat value="{!mapOfContractIdListOfContVer[cv]}" var="cv1" id="cvidrender">
                                                                <tr>
                                                                    
                                                                   <th><apex:outputText value="{!cv}" styleClass="text-semibold"/></th>
                                                                    <th> <apex:commandLink style="color:#1d7caf" html-data-dataId="{!cv1.FirstPublishLocationId}" onclick="getContractRec('{!cv1.FirstPublishLocationId}');" html-data-toggle="modal" html-data-target="#myModal" reRender="nothing" > <apex:outputText value="{!cv1.FirstPublishLocation.name}"/> </apex:commandLink></th>
                                                                   <!-- <th><a href="/{!cv1.FirstPublishLocationId}" target="_blank" class="btn-link linkCor text-semibold"><apex:outputText value="{!cv1.FirstPublishLocation.name}"/></a></th>-->
                                                                   <!-- <th><apex:commandLink style="color:#1d7caf" onclick="getEnvelopeRec('{!cv1.id}');" html-data-toggle="modal" html-data-target="#myModal1" reRender="nothing" > <apex:outputText value="{!cv1.Title}"/> </apex:commandLink></th> 
                                                                    <th style="text-align:center;"><apex:outputField value="{!cv1.DocuSign_Status__c}" style="text-align:center;" styleClass="text-semibold"/></th>
                                                                    <th style="text-align:center;"><apex:outputField value="{!cv1.DocuSign_Required__c}" styleClass="text-semibold;"/></th>
                                                                    
                                                                    <th>
                                                                    <!--<input   type="button" styleClass="slds-button slds-button_brand" value="Send to DocuSign" onclick="location.href = '/apex/DocuSignForm?id={!cv.id}'"/>
                                                                    -->    
                                                                  <!--  <apex:commandButton value="Start eSignature" reRender="cvidrender" styleClass="slds-button slds-button_brand" disabled="{!if(cv1.DocuSign_Status__c == 'Pending',false,true)}" action="{!sendDocuSign}">
                                                                        <apex:param name="cvparamId" assignTo="{!paramId}" value="{!cv1.id}" />
                                                                    </apex:commandButton>
                                                                    
                                                                        <script>
                                                                        
                                                                        </script>
                                                                    </th>
                                                                </tr>
                                                                    </apex:repeat>
                                                            </apex:repeat>
                                                            
                                                            -->
                                                            
                                                            
                                                            
                                                            <apex:repeat value="{!DSWList}" var="cv" id="cvidrender">
                                                                <tr>
                                                                    
                                                                   <th> <apex:commandLink style="color:#1d7caf" html-data-dataId="{!cv.cntrRecId}" onclick="getContractRec('{!cv.cntrRecId}');" html-data-toggle="modal" html-data-target="#myModal" reRender="nothing" ><apex:outputText value="{!cv.cntrId}" styleClass="text-semibold"/> </apex:commandLink></th>
                                                                    <th> <apex:outputText value="{!cv.cntrName}"/></th>
                                                                    <th><a href="/{!cv.fileId}" style="color:#1d7caf" ><apex:outputText value="{!cv.fileName}"/></a></th> 
                                                                    <th style="text-align:center;"><apex:commandLink style="color:#1d7caf" onclick="getEnvelopeRec('{!cv.fileId}');" html-data-toggle="modal" html-data-target="#myModal1" reRender="nothing" > <apex:outputText value="{!cv.Status}" style="text-align:center;" styleClass="text-semibold"/> </apex:commandLink></th>
                                                                    <th style="text-align:center;"><input type="checkBox" disabled="true" Checked="{!cv.DSReq}" Class="text-semibold;"/></th>
                                                                    
                                                                    <th>
                                                                    <!--<input   type="button" styleClass="slds-button slds-button_brand" value="Send to DocuSign" onclick="location.href = '/apex/DocuSignForm?id={!cv.id}'"/>
                                                                    -->    
                                                                    <apex:commandButton value="Start eSignature" reRender="cvidrender" styleClass="slds-button slds-button_brand" disabled="{!if(cv.Status == 'Pending',false,true)}" action="{!sendDocuSign}">
                                                                        <apex:param name="cvparamId" assignTo="{!paramId}" value="{!cv.fileId}" />
                                                                    </apex:commandButton>
                                                                    
                                                                        <script>
                                                                        
                                                                        </script>
                                                                    </th>
                                                                </tr>
                                                                    </apex:repeat>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </apex:outputPanel>
                                                </apex:outputPanel>
                                            </div>
                                                <hr class="new-section-xs"/>
                                            <!-- Functions that hit apex controller -->
                                            <apex:actionFunction action="{!refresh}" name="approvalrefresh" reRender="PendingApprovalsTable" />
                                            <apex:actionFunction name="search" action="{!Search}" reRender="PendingApprovalsTable">
                                                <apex:param assignTo="{!contractsearchstring}" value="" name="name"/>
                                            </apex:actionFunction>
                                            <apex:actionFunction action="{!contractNameASC}" name="contractnamesort" reRender="PendingApprovalsTable"/>
                                            <apex:actionFunction action="{!RequesterASC}" name="requestersort" reRender="PendingApprovalsTable"/>
                                            
                                            <apex:actionFunction action="{!cntrIdsort}" name="cntrIdsort" reRender="PendingApprovalsTable"/>
                                            <apex:actionFunction action="{!cntrNamesort}" name="cntrNamesort" reRender="PendingApprovalsTable"/>
                                            <apex:actionFunction action="{!fileNamesort}" name="fileNamesort" reRender="PendingApprovalsTable"/>
                                            <apex:actionFunction action="{!statussort}" name="statussort" reRender="PendingApprovalsTable"/>
                                             
                                            <apex:actionFunction action="{!CounterpartyASC}" name="counterpartysort" reRender="PendingApprovalsTable"/>
                                            <apex:actionFunction action="{!BusinessunitASC}" name="businessunitsort" reRender="PendingApprovalsTable"/>
                                            <apex:actionFunction action="{!contractValueASC}" name="contractvaluesort" reRender="PendingApprovalsTable"/>
                                            <apex:actionFunction action="{!submissionDateASC}" name="submissiondatesort" reRender="PendingApprovalsTable"/>
                                            <apex:actionFunction action="{!ApproverASC}" name="approversort" reRender="PendingApprovalsTable"/>
                                            <apex:actionFunction name="pendingApprovalFunction" action="{!setPendingStatus}" reRender="PendingApprovalsTable,nowshowing,Pagination" 
                                                                 oncomplete="$('#Nowshowing').css('margin-left','-250%');$('#Nowshowing').removeClass('ease-out');setTimeout(addAnotherAnimation,500);"/>
                                            <apex:actionFunction name="completedApprovalFunction" action="{!setCompletedStatus}" reRender="PendingApprovalsTable,nowshowing,Pagination"
                                                                 oncomplete="$('#Nowshowing').css('margin-left','-250%');$('#Nowshowing').removeClass('ease-out');setTimeout(addAnotherAnimation,500);"/> 
                                            <apex:actionFunction name="totalApprovalsFunction" action="{!setTotalRequests}" reRender="PendingApprovalsTable,nowshowing,Pagination"
                                                                 oncomplete="$('#Nowshowing').css('margin-left','-250%');$('#Nowshowing').removeClass('ease-out');setTimeout(addAnotherAnimation,500);"/>
                                            <apex:actionFunction name="totalDocuSignFunction" action="{!setDocuSignStatus}" reRender="PendingApprovalsTable,nowshowing,Pagination"
                                                                 oncomplete="$('#Nowshowing').css('margin-left','-250%');$('#Nowshowing').removeClass('ease-out');setTimeout(addAnotherAnimation,500);"/> 
                                            <!-- Functions End -->
                                            <apex:outputPanel id="Pagination">
                                                <div class="pull-right">
                                                    <ul class="pagination text-nowrap mar-no">
                                                        <li class="{!If(!setCon.hasPrevious,"page-pre disabled","page-pre")}">
                                                            <!-- <a href="#">&lt;</a> -->
                                                            <apex:commandLink action="{!Newer}" value="? Newer" oncomplete="activatePageNumber(this);" reRender="PendingApprovalsTable,Pagination"/>
                                                        </li>
                                                        <li class="page-number active" id="Previous">
                                                            <apex:commandLink action="{!goBack}" value="{!PreviousPage}" oncomplete="activatePageNumber(this);" reRender="PendingApprovalsTable,Pagination"/>
                                                        </li>
                                                        <li class="{!If(NumberOfPages <= 1 ,"page-number disabled","page-number")}" id="Current">
                                                            <apex:commandLink action="{!movePage}" value="{!CurrentPage}" oncomplete="activatePageNumber(this);" reRender="PendingApprovalsTable,Pagination"/>
                                                        </li> <!-- !setCon.hasNext, -->
                                                        <li class="{!If(OR(NumberOfPages <= 2),"page-number disabled","page-number")}" id="Next">
                                                            <apex:commandLink action="{!goForward}" value="{!NextPage}" oncomplete="activatePageNumber(this);" reRender="PendingApprovalsTable,Pagination"/>
                                                        </li>
                                                        <li>
                                                            <span>...</span>
                                                        </li>
                                                        <li class="page-number">
                                                            <apex:commandLink action="{!last}" value="last" oncomplete="activatePageNumber(this);" reRender="PendingApprovalsTable,Pagination"/>
                                                        </li>
                                                        <li class="{!If(!setCon.hasNext,"page-next disabled","page-next")}">
                                                            <!-- <a href="#">&gt;</a> -->
                                                            <apex:commandLink action="{!Older}" value="Older ?" oncomplete="activatePageNumber(this);" reRender="PendingApprovalsTable,Pagination" />
                                                        </li>
                                                    </ul>
                                                </div>
                                            </apex:outputPanel>
                                        </apex:outputPanel>
                                    </div>
                                </div>
                            </div>
                            <!--End page content-->
                        </div>
                        </div>
                        <div class="footer-fixed" style="text-align:center; font-size: x-small;">
                          Logged in as: {!$User.FirstName} {!$User.LastName} <br/>
                            {!$Label.CAFfooter4} <a href="mailto:Legal_Technology_Support@Comcast.com">Legal_Technology_Support@Comcast.com</a> <br/>
                            {!$label.CAFfooter1} <br/>
                          <!--  {!$label.CAFfooter1} <br/>
                            <!--<apex:outputLink value="{!$Label.CAFPrivacyLink}" target="_blank">{!$Label.CAFfooter2}</apex:outputLink> {!$label.CAFfooter3} -->
                        </div>
                        <!--END CONTENT CONTAINER-->
                    </div>
                    <!-- Modal window starts here -->
                    <div class="modal fade" id="myModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content" style="background-color:#F7F7F7">
                                <!--Modal header-->
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" style="margin-top:0!important">
                                        <i class="pci-cross pci-circle"></i>
                                    </button>
                                </div>                                
                                <!--Modal body-->
                                <div class="modal-body">
                                    <div class="boxed">
                                        <div id="">
                                            <div id="page-content">
                                                            <apex:outputPanel id="myModal">
                                                <!-- Details Section -->
                                                <div class="row">
                                                    <div class="panel">
                                                        <div class="panel-heading">
                                                            <div style="padding-top: 15px;">
                                                                <h3 class="panel-title" style="color:#25476A;font-weight: bold;">
                                                                    Details
                                                                </h3>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="panel-body" id="fieldset" style="min-height:300px;">
                                                            <div class="table-responsive scrollbar">
                                                            
                                                            
                                                            <table style="width:100%;">
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Requester Name:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!objCont.Requester_Formula__c}"/></th>
                                                        </tr>
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Requester Email:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!objCont.Contract_Owner_Email__c}"/></th>
                                                        </tr>
                                                        
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Contract Request Number:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!objCont.REVVY__ContractId__c}"/></th>
                                                        </tr>
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Choose the appropriate Contract Approval Form (“CAF”):"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!objCont.CAF_Type__c}"/></th>
                                                        </tr>
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Business Unit:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!If(objCont.Business_Unit__c == '','N/A',objCont.Business_Unit__c)}"/></th>
                                                        </tr>
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Contract Name:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!objCont.Name}" style="word-break:break-word;"/></th>
                                                        </tr>
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Counterparty (Legal Entity):"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!objCont.Counterparty__c}" style="word-break:break-word;"/></th>
                                                        </tr>
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Contract Value:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputField value="{!objCont.Contract_Value__c}"/></th>
                                                        </tr>
                                                        
                                                        
                                                    <!--Professional Services Sourcing-->    
                                                        <tr style="{!If(AND(objCont.CAF_Type__c != 'Cable Division',objCont.CAF_Type__c != 'Cable Division - Advertising',objCont.CAF_Type__c !='Cable Division - Comcast India'),'display:none','')}"> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Is this a Professional Services Sourcing contract?"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!objCont.Is_Sourcing_Contract__c}"/></th>
                                                        </tr>
                                                        
                                                        <!--Is the Contract based-->  
                                                        <tr style="{!If(AND(objCont.CAF_Type__c != 'Cable Division',objCont.CAF_Type__c != 'Cable Division - Advertising',objCont.CAF_Type__c !='Cable Division - Preferred Vendor'),'display:none','')}"> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Is the Contract based on an unmodified form previously approved by the Law Department?"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!objCont.Unchanged_legal_provided_template_used__c}"/></th>
                                                        </tr>
                                                             
                                                        <!--Corporate Development contract-->        
                                                        <tr style="{!If(AND(objCont.CAF_Type__c != 'Cable Division',objCont.CAF_Type__c != 'Cable Division - Advertising',objCont.CAF_Type__c !='Cable Division - Comcast India',objCont.CAF_Type__c !='CAF - Leisure Arts', objCont.CAF_Type__c !='CAF - Corporate Division'),'display:none','')}"> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Binding Corporate Development contract?"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!objCont.Is_Binding_Corporate_Dev_Contract__c}"/></th>
                                                        </tr>
                                                         
                                                      <!--Crypto-->  
                                                        <tr > 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Involves Crypto Currency, Derivatives, Letter of Credit, or Comcast obligations of a non-wholly owned subsidiary?"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!objCont.Crypto_Do_any_apply_below_question__c}"/></th>
                                                        </tr>
                                                        <tr style="display:{!if(objCont.CAF_Type__c!='Cable Division' && objCont.CAF_Type__c!='Cable Division - Advertising','none','block')};"> 
                                                            <th class="text-semibold header-details pad-btm">Contract under $100K that requires Legal Approval?</th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!objCont.Above_statements_applicable_to_Contract__c}"/></th>
                                                        </tr>
                                                          
                                                        
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Brief Summary:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm bq-sm"><apex:outputText id="briefsummary" value="{!objCont.Brief_Summary__c}" escape="false" style="word-break:break-word;"/></th>
                                                        </tr>
                                                    </table>
                                                    
                                                    
                                                              <!--  <table style="width:100%;">
                                                                
                                                                    <tr> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="CAF Type:"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm">{!objCont.CAF_Type__c}</th>
                                                                    </tr>
                                                                    <tr> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Contract Name:"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm">{!objCont.Name}</th>
                                                                    </tr>
                                                                    <tr> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Business Unit:"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm">{!objCont.Business_Unit__c }</th> 
                                                                    </tr>
                                                                    <tr> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Counterparty:"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm">{!objCont.Counterparty__c}</th>
                                                                    </tr>
                                                                    <tr> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Currency:"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm">{!objCont.REVVY__Currency__c}</th>
                                                                    </tr>
                                                                    <tr> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Contract Value:"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm">${!objCont.Contract_Value__c}</th>
                                                                    </tr>
                                                                    <tr  style="display:{!if(objCont.CAF_Type__c!='Cable Division' && objCont.CAF_Type__c!='Cable Division - Advertising' && objCont.CAF_Type__c!='Cable Division - Preferred Vendor','none','block')};"> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Are you using an unmodified legal provided contract?"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm">{!objCont.Unchanged_legal_provided_template_used__c}</th>
                                                                    </tr>
                                                                    <tr style="display:{!if(objCont.CAF_Type__c!='Cable Division' && objCont.CAF_Type__c!='Cable Division - Advertising' && objCont.CAF_Type__c!='Cable Division - Comcast India','none','block')};"> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Is this a Professional Services Sourcing contract?"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm">{!objCont.Is_Sourcing_Contract__c}</th>
                                                                    </tr>
                                                                    <tr  style="display:{!if(objCont.CAF_Type__c!='Cable Division' && objCont.CAF_Type__c!='Cable Division - Advertising' && objCont.CAF_Type__c!='Cable Division - Comcast India' && objCont.CAF_Type__c!='CAF - Leisure Arts','none','block')};"> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Binding Corporate Development contract?"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm">{!objCont.Is_Binding_Corporate_Dev_Contract__c}</th>
                                                                    </tr>
                                                                    <tr > 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Involves Crypto Currency, Derivatives, Letter of Credit, or Comcast obligations of a non-wholly owned subsidiary?"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm">{!objCont.Crypto_Do_any_apply_below_question__c}</th>
                                                                    </tr>
                                                                    <tr style="display:{!if(objCont.CAF_Type__c!='Cable Division' && objCont.CAF_Type__c!='Cable Division - Advertising','none','block')};"> 
                                                                        <th class="text-semibold header-details pad-btm">Contract under $100K that requires Legal Approval?</th>
                                                                        <th style="white-space: normal;" class="pad-btm">{!objCont.Above_statements_applicable_to_Contract__c}</th>
                                                                    </tr>
                                                                    <tr> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Brief Summary:"/></th>
                                                                        <th style="white-space: normal;word-break:break-word;" class="pad-btm bq-sm"><apex:outputText value="{!objCont.Brief_Summary__c}" escape="false"/></th>
                                                                    </tr>
                                                                </table>-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Files Section -->
                                                <div class="row">
                                                    <div class="panel">
                                                        <div class="panel-body">
                                                            <div class="table-responsive" id="FilesTable" style="max-height:1000px;">
                                                                <table class="table table-striped" style="margin-bottom:0!important">
                                                                    <thead>
                                                                        <tr>
                                                                            <th style="font-size:1.1em"><span style="vertical-align: -webkit-baseline-middle;">Files/Attachments</span></th>
                                                                         </tr>
                                                                     </thead>
                                                                </table>
                                                                <table class="table table-striped" style="margin-bottom:0!important">
                                                                    <thead>
                                                                    <tr>
                                                                        <th class="text-semibold" style="Width:35%">File Name</th>
                                                                            <th class="text-semibold" style="Width:30%">Type</th>
                                                                            <th class="text-semibold" style="Width:35%">Description</th>
                                                                    </tr>
                                                                    <apex:repeat value="{!contentList}" var="attc">
                                                                    
                                                                        <tr>
                                                                            <th class="text-semibold" style="Width:35%">
                                                                                <apex:commandLink action="{!createPublicPreviewLink}" style="word-wrap: break-word;white-space: normal;" styleclass="btn-link text-semibold" value="{!attc.Title}" id="ContentTitle"  target="_blank">
                                                                                    <apex:param name="recordId" assignTo="{!recordIDforAAp}" value="{!attc.Id}"/>
                                                                                </apex:commandLink>
                                                                               <!-- <a href="/sfc/servlet.shepherd/version/download/{!attc.Id}" target="_blank" class="btn-link text-semibold">{!attc.Title}</a>-->
                                                                            </th>
                                                                            <th class="text-semibold" style="Width:30%">
                                                                                <div style="max-width:134px !important;width:100%">{!attc.Attachment_Type__c}</div>
                                                                            </th>
                                                                            <th class="text-semibold" style="Width:35%">
                                                                                <div style="white-space: normal;">{!attc.description}</div>
                                                                            </th>
                                                                        </tr>
                                                                     </apex:repeat>
                                                                    </thead>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                                
                                                <!-- History Section -->
                                                <div class="row">
                                                    <div class="panel">
                                                        <div class="panel-body">
                                                            <div class="table-responsive">
                                                            <table class="table table-striped" style="margin-bottom:0!important">
                                                                    <thead>
                                                                        <tr>
                                                                            <th style="font-size:1.1em"><span style="vertical-align: -webkit-baseline-middle;">Approval Log</span></th>
                                                                         </tr>
                                                                     </thead>
                                                                </table>
                                                                <table class="table table-striped">
                                                                    <thead>
                                                                        <tr> 
                                                                            <th>Title</th>
                                                                            <th>Name</th>
                                                                            <th>Status</th>
                                                                            <th>Date</th>
                                                                            <th><span style="vertical-align: -webkit-baseline-middle;">Comments</span></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="ApprovalHistory">
                                                                        <apex:repeat value="{!ApprovalLog }" var="hstry">
                                                                        <tr> 
                                                                            <th>{!hstry.REVVY__StepInst__r.Name}</th>
                                                                            <th>{!hstry.REVVY__AssignedUser__r.Name}</th>
                                                                            <th>{!hstry.REVVY__Status__c}</th>
                                                                            <th>{!hstry.REVVY__ActionDate__c}</th>
                                                                            <th><span style="vertical-align: -webkit-baseline-middle;">{!hstry.REVVY__ApprovalComments__c }</span></th>
                                                                        </tr>
                                                                        </apex:repeat>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </apex:outputPanel>
                                                <!-- Buttons -->
                                              <!--  <div class="row" style="display: flex !important;justify-content: center !important;">
                                                    <apex:commandButton onclick="window.open('/apex/EmbeddedManageApprovals?resource=approvalbundle&entry=approvalHistory#/approval/contract/'+ContractName+'/'+ContractId);return false;" value="Manage Approvals"
                                                                        style="background: #1d485d !important; color:white !important; 
                                                                               Padding: 8px;width:300px;height:2.9em; font-size:1em" 
                                                                        styleClass="btn" rendered="{!If(AND($UserRole.Id == CAFAdminRole,$User.ProfileId == CAFEditorsProfile),true,false)}"/>
                                                    <apex:commandButton value="Approve" onclick="window.open('/apex/EmbeddedManageApprovals?resource=approvalbundle&EmailSource=ContractApprove&entry=approvalHistory#/approval/contract/'+ContractName+'/'+ContractId);return false;" 
                                                                        style="background: #1d485d !important; color:white !important; 
                                                                               Padding: 8px;width:200px;height:2.9em; font-size:1em" 
                                                                        styleClass="btn" rendered="{!If(AND($UserRole.Id == CAFApproversRole,$User.ProfileId == CAFViewersProfile,isApprover),true,false)}"/>
                                                    <apex:commandButton value="Reject" onclick="window.open('/apex/EmbeddedManageApprovals?resource=approvalbundle&EmailSource=ContractReject&entry=approvalHistory#/approval/contract/'+ContractName+'/'+ContractId);return false;" style="background: #1d485d !important; color:white !important; 
                                                                                                                          Padding: 8px;width:200px;height:2.9em; font-size:1em" 
                                                                        styleClass="btn" rendered="{!If(AND($UserRole.Id == CAFApproversRole,$User.ProfileId == CAFViewersProfile,isApprover),true,false)}"/>
                                                    <apex:commandButton value="Reassign / Add Approver" onclick="window.open('/apex/EmbeddedManageApprovals?resource=approvalbundle&EmailSource=ContractReview&entry=approvalHistory#/approval/contract/'+ContractName+'/'+ContractId);return false;" style="background: #1d485d !important; color:white !important; 
                                                                                                                                           Padding: 8px;width:200px;height:2.9em; font-size:1em" 
                                                                        styleClass="btn" rendered="{!If(AND($UserRole.Id == CAFApproversRole,$User.ProfileId == CAFViewersProfile,isApprover),true,false)}"/>
                                                </div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal window ends here -->
                    
                    
                    <div class="modal fade" id="myModal1" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content" style="background-color:#F7F7F7;">
                                <!--Modal header-->
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" style="margin-top:0!important">
                                        <i class="pci-cross pci-circle"></i>
                                    </button>
                                </div>                                
                                <!--Modal body-->
                                <div class="modal-body">
                                    <div class="boxed">
                                        <div id="">
                                            <div id="page-content">
                                                            <apex:outputPanel id="myModal1">
                                                
                                                <!-- Envelops Section -->
                                                <div class="row">
                                                    <div class="panel">
                                                        <div class="panel-body">
                                                            <div class="table-responsive" id="FilesTable" style="max-height:1000px;">
                                                                <table class="table table-striped" style="margin-bottom:0!important">
                                                                    <thead>
                                                                        <tr>
                                                                            <th style="font-size:1.1em"><span style="vertical-align: -webkit-baseline-middle;">Docusign Details #{!if(envlpList.size == 0,'',envlpList[0].dsfs__Envelope_Id__c)}</span></th>
                                                                         </tr>
                                                                     </thead>
                                                                </table>
                                                                <table class="table table-striped" style="margin-bottom:0!important">
                                                                    <thead>
                                                                    <tr> 
                                                                        <th class="text-semibold">Signer Name</th>
                                                                        <th class="text-semibold">Signer Email</th>
                                                                        <th class="text-semibold">Docusign Signer Role</th>
                                                                        <th class="text-semibold">Internal/External Signer</th>
                                                                        <th class="text-semibold">Date Sent</th>
                                                                        <th class="text-semibold">Date Signed</th>
                                                                    </tr>
                                                                    <apex:repeat value="{!envlpList}" var="envlp">
                                                                    
                                                                        <tr>  
                                                                            <th class="text-semibold">{!envlp.name}</th>
                                                                            <th class="text-semibold">{!envlp.dsfs__DocuSign_Recipient_Email__c }</th>
                                                                            <th class="text-semibold">{!envlp.DocuSign_Signer_Type__c}</th>
                                                                            <th class="text-semibold">{!envlp.DocuSign_Signer_Role__c}</th>
                                                                            <th class="text-semibold"><apex:outputText value="{0,date,MM'/'dd'/'yyyy}"><apex:param value="{!envlp.dsfs__Date_Sent__c}"/> </apex:outputText> </th>
                                                                            <th class="text-semibold"><apex:outputText value="{0,date,MM'/'dd'/'yyyy}"><apex:param value="{!envlp.dsfs__Date_Signed__c}"/> </apex:outputText> </th>
                                                                        </tr>
                                                                     </apex:repeat>
                                                                    </thead>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                                </apex:outputPanel>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </body>
        <apex:actionFunction name="getContractRec" action="{!reviewContractRec}" reRender="myModal">
            <apex:param assignTo="{!recId}" name="recId" value=""/>
        </apex:actionFunction>
        <apex:actionFunction name="getEnvelopeRec" action="{!EnvelopeRec}" reRender="myModal1">
            <apex:param assignTo="{!recId}" name="recId" value=""/>
        </apex:actionFunction>        
    </apex:form>
</apex:page>