<apex:page standardController="Contract_Intake_Form__c" extensions="Contract_Intake_Form_Ctrl" sidebar="false" showHeader="false" id="pg" >
    <apex:slds />
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
        <head>
            <script src="{!URLFOR($Resource.LightningPlugin, '/jquery.min.js')}"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
            <style>
                .errorMod{
                    border: 1px solid red !important;
                }            
                .slds-scope .slds-form_horizontal .slds-form-element>.slds-form-element__label{
                    width:38% !important;
                }
                .slds-scope .slds-form_horizontal .slds-form-element__control{
                    width:61% !important;
                }
                .slds-scope .slds-grid--pull-padded {
                   margin-right:0px !important;
                   margin-left:0px !important;
                }
                .slds-scope .slds-form--horizontal {
                    margin-top: 1%;
                }
                .dateFormat {
                    padding: 0 2px;
                    display: none;
                }
                .slds-scope .slds-page-header {
                    padding: 1rem .75rem;
                    border-bottom: 1px solid #d8dde6 !important;
                    background-color: #337AB7 !important;
                    color: white;
                }
                .slds-box{
                }
                .slds-scope .slds-medium-size--12-of-12 {
                    margin-bottom: 10px;
                }
                .slds-scope .slds-medium-size--6-of-12 {
                    margin-bottom: 10px;
                }
                .accountRequired{
                    border-left: 4px solid red !important;
                }
                .slds-scope .slds-table td, .slds-scope .slds-table th {
                    white-space: normal !important;
                }
                .slds-scope .slds-text-heading--label {
                    text-transform: capitalize !important; 
                }
                .policy_required{
                    border-left: 4px solid red !important;
                }
                .application_required{
                    //border-left: 4px solid red !important;
                }
                .slds-scope a:focus, .slds-scope a:hover{
                    display: initial !important;
                }
                .lookupInput .slds-input{
                    //border:none !important;
                }
                .slds-scope .slds-input:read-only:focus, .slds-scope .slds-input:read-only:hover{
                    background-color: #fff; 
                }
                .lookupInput input[readonly] {
                    cursor: default;
                    color: #333;
                    background-color: #fff !important;
                    border: 1px solid #d8dde6 !important;
                }
                .datePicker{
                    z-index: 99999 ;
                }
            .tooltip {
                position: relative;
                display: inline-block;
            }
            
            .tooltip .tooltiptext {
                visibility: hidden;
                width: 300px;
                background-color: black;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                font-size:15px;
                /* Position the tooltip */
                position: absolute;
                z-index: 1;
            }
            
            .tooltip:hover .tooltiptext {
                visibility: visible;
            }        
            </style>
            <script>
                function showError(error) {
                    $(".slds-notify_container h2").each(function() {
                        $(this).text(error);
                    });
                    $(".slds-notify_container").removeClass('slds-hide');
                    setTimeout(function() {
                        $(".slds-notify_container").addClass('slds-hide');
                    }, 5000);
                }
                function validateAndSave(){
                	var saveFlag = true ;
                    /*$('.application_required').each(function (){
                        if($(this).val() == '' || $(this).val() == null || $(this).val() == 'undefined'){
                            $(this).css('border','1px solid red');
                            saveFlag = false;
                        }
                    });*/
                    if( saveFlag ){
                        saveForm();    
                    }else{
                        showError('** Required field missing . ');
                        $('[id$=spinner]').css('display','none');
                    }
                }
            function handleFile(file) {
                var reader  = new FileReader();
                reader.file = file;
                var fileobj = file;
                document.getElementById("fileName").innerHTML = fileobj.name;
            }
            </script>
        </head>
        <body>
            <apex:form id="frm">
                <apex:outputPanel id="renderError">
                    <script>
                        if('{!error}' != '' && '{!error}' != null && '{!error}' != 'undefined'){
                            showError('{!error}');
                        }
                    </script>
                </apex:outputPanel>
                <apex:actionFunction name="saveForm" action="{!save}" reRender="renderError" oncomplete="$('[id$=spinner]').css('display','none');"/>
                <div class="slds-spinner_container" id="spinner" style="display:none;position: fixed;">
                    <div class="slds-spinner--brand slds-spinner slds-spinner--medium" aria-hidden="false" role="alert" style="    position: fixed;">
                        <div class="slds-spinner__dot-a"></div>
                        <div class="slds-spinner__dot-b"></div>
                    </div>
                </div>
                <div class="slds-page-header" role="banner">
                    <div class="slds-media">
                        <div class="slds-media__body">
                            <p class="slds-page-header__title slds-truncate" title="Contract Intake Form">
                                Contract Intake Form
                            </p>
                            <p class="slds-text-body--small"></p>
                        </div>
                        <ul class="slds-global-header__item slds-grid slds-grid--vertical-align-center">
                            <li class="slds-dropdown-trigger slds-dropdown-trigger--click slds-p-horizontal--xxx-small">
                                <!--<a href="javascript:void(0);" class="slds-has-blur-focus">Home</a>-->
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="slds-spinner_container" id="spinner" style="display:none;position: fixed;">
                    <div class="slds-spinner--brand slds-spinner slds-spinner--medium" aria-hidden="false" role="alert" style="    position: fixed;">
                        <div class="slds-spinner__dot-a"></div>
                        <div class="slds-spinner__dot-b"></div>
                    </div>
                </div>
                <div class="slds-notify_container slds-hide">
                    <div class="slds-notify slds-notify--toast slds-theme--error" role="alert">
                        <span class="slds-assistive-text">Warning</span>
                        <button class="slds-button slds-notify__close slds-button--icon-inverse" title="Close">
                          <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true" onclick="return false;" data="msg">
                            <use xlink:href="{!URLFOR($Asset.SLDS,'/assets/icons/utility-sprite/svg/symbols.svg#close')}"></use>
                          </svg>
                          <span class="slds-assistive-text">Close</span>
                        </button>
                        <div class="slds-notify__content">
                            <h2 class="slds-text-heading--small"></h2>
                        </div>
                    </div>
                </div>
                <fieldset class="slds-box slds-theme--default  slds-m-around--small" style="margin-bottom: 55px;">
                    <legend id="" class="slds-text-heading--small slds-p-vertical--medium legend"></legend>
                    <div class="slds-grid slds-wrap slds-grid--pull-padded filter">
                        
                        
                        <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--12-of-12 slds-large-size--12-of-12 slds-box" style="padding:0px;">
                            <div class="slds-grid slds-wrap slds-grid--pull-padded">
                                <div class="slds-size--12-of-12  slds-theme--shade">
                                    <button class="slds-button slds-button--icon" title="Toggle" style="float:right;padding-right: 15px;padding-top: 4px;" onclick="return false;">
                                        <svg class="slds-button__icon" aria-hidden="true" data="toggle" onclick="console.log($(this).find('.down').toggle(0 , $(this).find('.up').toggle() )); ">
                                            <use xlink:href="{!URLFOR($Asset.SLDS,'/assets/icons/utility-sprite/svg/symbols.svg#chevrondown')}" class="down" style="display:none"></use>
                                            <use xlink:href="{!URLFOR($Asset.SLDS,'/assets/icons/utility-sprite/svg/symbols.svg#chevronup')}"  class="up"></use>
                                        </svg>
                                        <span class="slds-assistive-text"></span>
                                    </button>
                                    <h2 class="slds-section-title slds-theme--shade slds-p-left--small">Vendor Information</h2>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--6-of-12 slds-large-size--6-of-12">
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="clientName">Client Name </label>
                                            <div class="slds-form-element__control">
                                                <apex:inputField html-placeholder="Client Name" styleClass="slds-input application_required" id="clientName" value="{!form.Client_Name_and_business_unit__c}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--6-of-12 slds-large-size--6-of-12">
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="businessUnit">Business Unit </label>
                                            <div class="slds-form-element__control">
                                                <apex:inputField html-placeholder="Business Unit" styleClass="slds-input application_required" id="businessUnit" value="{!form.Business_Unit__c}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--2-of-12 slds-large-size--2-of-12">
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="Software">Software</label>
                                            <div class="slds-form-element__control">
                                                <span class="slds-checkbox" style=" margin-top: 3px; !important">
                                                    <apex:inputField styleClass="slds-input  application_required" id="Software" value="{!form.Software__c}" style=" margin-top: 3px; !important">
                                                        <apex:actionSupport event="onchange"  reRender="frm"  onsubmit="$('[id$=spinner]').css('display','block');" oncomplete="$('[id$=spinner]').css('display','none');" immediate="false" />
                                                    </apex:inputField>
                                                    <label class="slds-checkbox__label" for="pg:frm:Software">
                                                        <span class="slds-checkbox--faux" style=" margin-top: 3px; !important"></span>
                                                        <span class="slds-form-element__label" style=" margin-top: 3px; !important"></span>
                                                    </label>
                                                </span>
                                                <br/>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--2-of-12 slds-large-size--2-of-12">
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="Hardware">Hardware</label>
                                            <div class="slds-form-element__control">
                                                <span class="slds-checkbox" style=" margin-top: 3px; !important">
                                                    <apex:inputField styleClass="slds-input  application_required" id="Hardware" value="{!form.Hardware__c}" style=" margin-top: 3px; !important">
                                                        <apex:actionSupport event="onchange"  reRender="frm"  onsubmit="$('[id$=spinner]').css('display','block');" oncomplete="$('[id$=spinner]').css('display','none');" immediate="false" />
                                                    </apex:inputField>
                                                    <label class="slds-checkbox__label" for="pg:frm:Hardware">
                                                        <span class="slds-checkbox--faux" style=" margin-top: 3px; !important"></span>
                                                        <span class="slds-form-element__label" style=" margin-top: 3px; !important"></span>
                                                    </label>
                                                </span>
                                                <br/>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--2-of-12 slds-large-size--2-of-12">
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="professional">Professional Services</label>
                                            <div class="slds-form-element__control">
                                                <span class="slds-checkbox" style=" margin-top: 3px; !important">
                                                    <apex:inputField styleClass="slds-input  application_required" id="professional" value="{!form.Professional_Services__c}" style=" margin-top: 3px; !important">
                                                        <apex:actionSupport event="onchange"  reRender="frm"  onsubmit="$('[id$=spinner]').css('display','block');" oncomplete="$('[id$=spinner]').css('display','none');" immediate="false" />
                                                    </apex:inputField>
                                                    <label class="slds-checkbox__label" for="pg:frm:professional">
                                                        <span class="slds-checkbox--faux" style=" margin-top: 3px; !important"></span>
                                                        <span class="slds-form-element__label" style=" margin-top: 3px; !important"></span>
                                                    </label>
                                                </span>
                                                <br/>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--2-of-12 slds-large-size--2-of-12">
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="export">Export Control</label>
                                            <div class="slds-form-element__control">
                                                <span class="slds-checkbox" style=" margin-top: 3px; !important">
                                                    <apex:inputField styleClass="slds-input  application_required" id="export" value="{!form.Export_Control__c}" style=" margin-top: 3px; !important">
                                                        <apex:actionSupport event="onchange"  reRender="frm"  onsubmit="$('[id$=spinner]').css('display','block');" oncomplete="$('[id$=spinner]').css('display','none');" immediate="false" />
                                                    </apex:inputField>
                                                    <label class="slds-checkbox__label" for="pg:frm:export">
                                                        <span class="slds-checkbox--faux" style=" margin-top: 3px; !important"></span>
                                                        <span class="slds-form-element__label" style=" margin-top: 3px; !important"></span>
                                                    </label>
                                                </span>
                                                <br/>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--2-of-12 slds-large-size--2-of-12">
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="Data">Data</label>
                                            <div class="slds-form-element__control">
                                                <span class="slds-checkbox" style=" margin-top: 3px; !important">
                                                    <apex:inputField styleClass="slds-input  application_required" id="Data" value="{!form.Data__c}" style=" margin-top: 3px; !important">
                                                        <apex:actionSupport event="onchange"  reRender="frm"  onsubmit="$('[id$=spinner]').css('display','block');" oncomplete="$('[id$=spinner]').css('display','none');" immediate="false" />
                                                    </apex:inputField>
                                                    <label class="slds-checkbox__label" for="pg:frm:Data">
                                                        <span class="slds-checkbox--faux" style=" margin-top: 3px; !important"></span>
                                                        <span class="slds-form-element__label" style=" margin-top: 3px; !important"></span>
                                                    </label>
                                                </span>
                                                <br/>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--2-of-12 slds-large-size--2-of-12">
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="Access">Access</label>
                                            <div class="slds-form-element__control">
                                                <span class="slds-checkbox" style=" margin-top: 3px; !important">
                                                    <apex:inputField styleClass="slds-input  application_required" id="Access" value="{!form.Access__c}" style=" margin-top: 3px; !important">
                                                        <apex:actionSupport event="onchange"  reRender="frm"  onsubmit="$('[id$=spinner]').css('display','block');" oncomplete="$('[id$=spinner]').css('display','none');" immediate="false" />
                                                    </apex:inputField>
                                                    <label class="slds-checkbox__label" for="pg:frm:Access">
                                                        <span class="slds-checkbox--faux" style=" margin-top: 3px; !important"></span>
                                                        <span class="slds-form-element__label" style=" margin-top: 3px; !important"></span>
                                                    </label>
                                                </span>
                                                <br/>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                            <apex:outputPanel rendered="{!form.Software__c}" id="softwarePanel"  styleclass="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--12-of-12 slds-large-size--12-of-12 slds-box" style="padding:0px;">
                            <div class="slds-grid slds-wrap slds-grid--pull-padded">
                                <div class="slds-size--12-of-12  slds-theme--shade">
                                    <button class="slds-button slds-button--icon" title="Toggle" style="float:right;padding-right: 15px;padding-top: 4px;" onclick="return false;">
                                        <svg class="slds-button__icon" aria-hidden="true" data="toggle" onclick="console.log($(this).find('.down').toggle(0 , $(this).find('.up').toggle() )); ">
                                            <use xlink:href="{!URLFOR($Asset.SLDS,'/assets/icons/utility-sprite/svg/symbols.svg#chevrondown')}" class="down" style="display:none"></use>
                                            <use xlink:href="{!URLFOR($Asset.SLDS,'/assets/icons/utility-sprite/svg/symbols.svg#chevronup')}"  class="up"></use>
                                        </svg>
                                        <span class="slds-assistive-text"></span>
                                    </button>
                                    <h2 class="slds-section-title slds-theme--shade slds-p-left--small">Software</h2>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--6-of-12 slds-large-size--6-of-12">
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="sofwtareDo">What does the software do? Is it replacing a current product we’re using? What new functionality does the product provide?</label>
                                            <div class="slds-form-element__control">
                                                <apex:inputField html-placeholder="What does the software do?" styleClass="slds-input application_required" id="sofwtareDo" value="{!form.What_does_the_software_do__c}" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="integration">Integration? APIs?</label>
                                            <div class="slds-form-element__control">
                                                <apex:inputField html-placeholder="Integration? APIs?" styleClass="slds-input application_required" id="integration" value="{!form.Integration_APIs__c}" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="premiumVersion">
                                                Are we using a premium version of free open source software?
                                            </label>
                                            
                                            
                                            <div class="slds-form-element__control">
                                                <span class="slds-checkbox" style=" margin-top: 5px; !important">
                                                    
                                                    <apex:inputField styleClass="slds-input  application_required" id="premiumVersion" value="{!form.premium_version_of_open_source_software__c}" style=" margin-top: 5px; !important">
                                                        <apex:actionSupport event="onchange"  reRender="frm"  onsubmit="$('[id$=spinner]').css('display','block');" oncomplete="$('[id$=spinner]').css('display','none');" immediate="false" />
                                                    </apex:inputField>
                									
                                                    <label class="slds-checkbox__label" for="pg:frm:premiumVersion">
                                                        <span class="slds-checkbox--faux" style=" margin-top: 5px; !important"></span>
                                                        <span class="slds-form-element__label" style=" margin-top: 5px; !important"></span>
                                                    </label>
                                                    <i class="fa fa-info-circle tooltip" style="font-size:24px;color:red;display:{!If(form.premium_version_of_open_source_software__c==true,'absolute','none')}">
                                                        <span class="tooltiptext">Yes -> Contact Nithya.</span>
                                                    </i>
                                                </span>
                                                <br/>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="advertising">Will we use the product to provide services for our advanced advertising team?</label>
                                            <div class="slds-form-element__control">
                                            <span class="slds-checkbox" style=" margin-top: 5px; !important">
                                                <apex:inputField html-placeholder="Will we use the product to provide services for our advanced advertising team?" styleClass="slds-input application_required" id="advertising" value="{!form.provide_services_to_advanced_advertising__c}" style=" margin-top: 5px; !important">
                                                    <apex:actionSupport event="onchange"  reRender="frm"  onsubmit="$('[id$=spinner]').css('display','block');" oncomplete="$('[id$=spinner]').css('display','none');" immediate="false" />
                                                </apex:inputField>
                                                <label class="slds-checkbox__label" for="pg:frm:advertising">
                                                    <span class="slds-checkbox--faux" style=" margin-top: 5px; !important"></span>
                                                    <span class="slds-form-element__label" style=" margin-top: 5px; !important"></span>
                                                </label>
                                                <i class="fa fa-info-circle tooltip" style="font-size:24px;color:red;display:{!If(form.provide_services_to_advanced_advertising__c==true,'absolute','none')}">
                                                    <span class="tooltiptext">Yes - > Include use case in the license. Contact Trip.</span>
                                                </i>
                                                </span>
                                                
                                                <apex:outputPanel rendered="{!form.provide_services_to_advanced_advertising__c}">
                                                    <apex:inputField html-placeholder="If yes, please explain" styleClass="slds-input application_required" id="synd11" value="{!form.Explain_services_advanced_advertising__c}" style="margin-top: 5px; !important"/>
                                                </apex:outputPanel>
                                            </div>
                                            </div>
                                    </div>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--6-of-12 slds-large-size--6-of-12">
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="saas">SaaS or self-hosted? Private or public cloud?</label>
                                            <div class="slds-form-element__control">
                                                <apex:inputField html-placeholder="SaaS or self-hosted? Private or public cloud?" styleClass="slds-input application_required" id="saas" value="{!form.SaaS_self_hosted_Private_public_cloud__c}" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="sorceCode">Source code escrow?</label>
                                            <div class="slds-form-element__control">
                                                <apex:inputField html-placeholder="Source code escrow?" styleClass="slds-input application_required" id="sorceCode" value="{!form.Source_code_escrow__c}" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="synd">Will we use the product to provide services for our syndication partners?</label>
                                            <div class="slds-form-element__control">
                                                    <apex:inputField html-placeholder="Will we use the product to provide services for our syndication partners?" styleClass="slds-input application_required" id="synd" value="{!form.provide_services_to_syndication_partners__c	}" >
                                                        <apex:actionSupport event="onchange"  reRender="frm"  onsubmit="$('[id$=spinner]').css('display','block');" oncomplete="$('[id$=spinner]').css('display','none');" immediate="false" />
                                                    </apex:inputField>
                                                <apex:outputPanel rendered="{!OR(form.provide_services_to_syndication_partners__c=='Anticipated',form.provide_services_to_syndication_partners__c=='Yes')}" >
                                                    <apex:inputField html-placeholder="If yes, please explain" styleClass="slds-input application_required" id="synd1" value="{!form.Explain_provide_services_to_syndication__c}" style="margin-top: 5px;width:95% !important"/>
                                                	<i class="fa fa-info-circle tooltip" style="font-size:24px;color:red;display:{!If(form.provide_services_to_syndication_partners__c=='Yes','absolute','none')}">
                                                        <span class="tooltiptext" style="top: -5px;right: 105%;">Yes -> Remove service bureau restriction in license agreement or add exception for our syndication partners. If the product is something we’d like to offer to our syndication partners -> contact syndication team (Mindy and Mike) to discuss preferred licensing structure (obtain sublicensing rights for our syndication partners).</span>
                                                    </i>
                                                </apex:outputPanel>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </apex:outputPanel>

                        

                            <apex:outputPanel rendered="{!form.Hardware__c}" id="hardwarePanel"  styleclass="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--12-of-12 slds-large-size--12-of-12 slds-box" style="padding:0px;">
                            <div class="slds-grid slds-wrap slds-grid--pull-padded">
                                <div class="slds-size--12-of-12  slds-theme--shade">
                                    <button class="slds-button slds-button--icon" title="Toggle" style="float:right;padding-right: 15px;padding-top: 4px;" onclick="return false;">
                                        <svg class="slds-button__icon" aria-hidden="true" data="toggle" onclick="console.log($(this).find('.down').toggle(0 , $(this).find('.up').toggle() )); ">
                                            <use xlink:href="{!URLFOR($Asset.SLDS,'/assets/icons/utility-sprite/svg/symbols.svg#chevrondown')}" class="down" style="display:none"></use>
                                            <use xlink:href="{!URLFOR($Asset.SLDS,'/assets/icons/utility-sprite/svg/symbols.svg#chevronup')}"  class="up"></use>
                                        </svg>
                                        <span class="slds-assistive-text"></span>
                                    </button>
                                    <h2 class="slds-section-title slds-theme--shade slds-p-left--small">Hardware</h2>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--6-of-12 slds-large-size--6-of-12">
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="vendorProvoding">Is vendor providing us with hardware components? Please explain. </label>
                                            <div class="slds-form-element__control">
                                                <apex:inputField html-placeholder="Please explain." styleClass="slds-input application_required" id="vendorProvoding" value="{!form.Is_vendor_providing_us_hardware_componen__c}" style="width:95%"/>
                                            	<i class="fa fa-info-circle tooltip" style="font-size:24px;color:red;">
                                                    <span class="tooltiptext">If significant hardware purchase -> Contact Dave.</span>
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--6-of-12 slds-large-size--6-of-12">
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="providingVendor">Are we providing vendor with hardware components? Please explain. </label>
                                            <div class="slds-form-element__control">
                                                <apex:inputField html-placeholder="Please explain." styleClass="slds-input application_required" id="providingVendor" value="{!form.Are_we_providing_vendor_with_hardware__c}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </apex:outputPanel>


                            <apex:outputPanel rendered="{!form.Professional_Services__c}" id="professionalPanel"  styleclass="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--12-of-12 slds-large-size--12-of-12 slds-box" style="padding:0px;">
                            <div class="slds-grid slds-wrap slds-grid--pull-padded">
                                <div class="slds-size--12-of-12  slds-theme--shade">
                                    <button class="slds-button slds-button--icon" title="Toggle" style="float:right;padding-right: 15px;padding-top: 4px;" onclick="return false;">
                                        <svg class="slds-button__icon" aria-hidden="true" data="toggle" onclick="console.log($(this).find('.down').toggle(0 , $(this).find('.up').toggle() )); ">
                                            <use xlink:href="{!URLFOR($Asset.SLDS,'/assets/icons/utility-sprite/svg/symbols.svg#chevrondown')}" class="down" style="display:none"></use>
                                            <use xlink:href="{!URLFOR($Asset.SLDS,'/assets/icons/utility-sprite/svg/symbols.svg#chevronup')}"  class="up"></use>
                                        </svg>
                                        <span class="slds-assistive-text"></span>
                                    </button>
                                    <h2 class="slds-section-title slds-theme--shade slds-p-left--small">Professional Services</h2>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--6-of-12 slds-large-size--6-of-12">
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="professionalServices">What, if any, professional services is vendor providing? </label>
                                            <div class="slds-form-element__control">
                                                <apex:inputField html-placeholder="What, if any, professional services is vendor providing?" styleClass="slds-input application_required" id="professionalServices" value="{!form.professional_services_vendor_providing__c}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="customIP">Creation of custom development work/IP? </label>
                                            <div class="slds-form-element__control">
                                                <apex:inputField html-placeholder="Creation of custom development work/IP?" styleClass="slds-input application_required" id="customIP" value="{!form.Creation_of_custom_development_work_IP__c}" style="width:95%"/>
                                            	<i class="fa fa-info-circle tooltip" style="font-size:24px;color:red;">
                                                    <span class="tooltiptext">Typically, we retain ownership of custom dev work/modifications. BU should explain if and why we want to allow the vendor to retain ownership of those modifications or consider license-back paradigm.</span>
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="workPerformed">Where will the work be performed?</label>
                                            <div class="slds-form-element__control">
                                                <apex:inputField html-placeholder="Where will the work be performed?" styleClass="slds-input application_required" id="workPerformed" value="{!form.Where_will_the_work_be_performed__c}" style="width:95%">
                                                    <apex:actionSupport event="onchange"  reRender="frm"  onsubmit="$('[id$=spinner]').css('display','block');" oncomplete="$('[id$=spinner]').css('display','none');" immediate="false" />
                                                </apex:inputField>
                                                <i class="fa fa-info-circle tooltip" style="font-size:24px;color:red;display:{!If(form.Where_will_the_work_be_performed__c!='USA','absolute','none')}">
                                                    <span class="tooltiptext">If outside of the U.S. -> International Rider.</span>
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--6-of-12 slds-large-size--6-of-12">
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="crowdSourcingModel">Crowdsourcing model? </label>
                                            <div class="slds-form-element__control">
                                                <apex:inputField html-placeholder="Crowdsourcing model?" styleClass="slds-input application_required" id="crowdSourcingModel" value="{!form.Crowdsourcing_model__c}" style="width:95%"/>
                                            	<i class="fa fa-info-circle tooltip" style="font-size:24px;color:red;">
                                                    <span class="tooltiptext"  style="top: -5px;right: 105%;">Ensure vendor executes agreements with crowd source participants to ensure Comcast ownership. Review participation agreement.</span>
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="foreignCompany">Is vendor a foreign company?</label>
                                            <div class="slds-form-element__control">
                                                <span class="slds-checkbox" style=" margin-top: 5px; !important">
                                                    <apex:inputField styleClass="slds-input  application_required" id="foreignCompany" value="{!form.Is_vendor_a_foreign_company__c}" style=" margin-top: 5px; !important">
                                                    <apex:actionSupport event="onchange"  reRender="frm"  onsubmit="$('[id$=spinner]').css('display','block');" oncomplete="$('[id$=spinner]').css('display','none');" immediate="false" />
                                                </apex:inputField>
                
                                                    <label class="slds-checkbox__label" for="pg:frm:foreignCompany">
                                                        <span class="slds-checkbox--faux" style=" margin-top: 5px; !important"></span>
                                                        <span class="slds-form-element__label" style=" margin-top: 5px; !important"></span>
                                                    </label>
                                                    <i class="fa fa-info-circle tooltip" style="font-size:24px;color:red;display:{!If(form.Is_vendor_a_foreign_company__c==true,'absolute','none')}">
                                                        <span class="tooltiptext">Yes -> Add agent for service of process + arbitration provisions.</span>
                                                    </i>
                                                </span>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="OSS">Are we asking vendor to modify OSS for us?</label>
                                            <div class="slds-form-element__control">
                                                <span class="slds-checkbox" style=" margin-top: 5px; !important">
                                                    <apex:inputField styleClass="slds-input application_required" id="OSS" value="{!form.Are_we_asking_vendor_to_modify_OSS__c}" style=" margin-top: 5px; !important">
                                                    <apex:actionSupport event="onchange"  reRender="frm"  onsubmit="$('[id$=spinner]').css('display','block');" oncomplete="$('[id$=spinner]').css('display','none');" immediate="false" />
                                                </apex:inputField>
                                                    <label class="slds-checkbox__label" for="pg:frm:OSS">
                                                        <span class="slds-checkbox--faux" style=" margin-top: 5px; !important"></span>
                                                        <span class="slds-form-element__label" style=" margin-top: 5px; !important"></span>
                                                    </label>
                                                    <i class="fa fa-info-circle tooltip" style="font-size:24px;color:red;display:{!If(form.Are_we_asking_vendor_to_modify_OSS__c==true,'absolute','none')}">
                                                        <span class="tooltiptext">Yes -> Address atypical IP ownership provision, who will upstream the modifications, etc.</span>
                                                    </i>
                                                </span>
                                                <apex:outputPanel rendered="{!form.Are_we_asking_vendor_to_modify_OSS__c}">
                                                    <apex:inputField html-placeholder="If yes, please explain" styleClass="slds-input application_required" id="synd111" value="{!form.Explain_asking_vendor_to_modify_OSS__c}" style="margin-top: 5px; !important"/>
                                                </apex:outputPanel>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </apex:outputPanel>

                        

                            <apex:outputPanel rendered="{!form.Export_Control__c}" id="exportPanel" styleclass="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--12-of-12 slds-large-size--12-of-12 slds-box" style="padding:0px;">
                            <div class="slds-grid slds-wrap slds-grid--pull-padded">
                                <div class="slds-size--12-of-12  slds-theme--shade">
                                    <button class="slds-button slds-button--icon" title="Toggle" style="float:right;padding-right: 15px;padding-top: 4px;" onclick="return false;">
                                        <svg class="slds-button__icon" aria-hidden="true" data="toggle" onclick="console.log($(this).find('.down').toggle(0 , $(this).find('.up').toggle() )); ">
                                            <use xlink:href="{!URLFOR($Asset.SLDS,'/assets/icons/utility-sprite/svg/symbols.svg#chevrondown')}" class="down" style="display:none"></use>
                                            <use xlink:href="{!URLFOR($Asset.SLDS,'/assets/icons/utility-sprite/svg/symbols.svg#chevronup')}"  class="up"></use>
                                        </svg>
                                        <span class="slds-assistive-text"></span>
                                    </button>
                                    <h2 class="slds-section-title slds-theme--shade slds-p-left--small">Export Control</h2>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--6-of-12 slds-large-size--6-of-12">
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="thirdParty">Will third party vendor or Comcast technology be shared with or accessed by foreign nationals (foreign citizens) in the U.S. or sent off-shore? </label>
                                            <div class="slds-form-element__control">
                                                <span class="slds-checkbox" style=" margin-top: 5px; !important">
                									<apex:inputField styleClass="slds-input application_required" id="thirdParty" value="{!form.vendor_Comcast_shared_access_foreign_nat__c}" >
                                                    <apex:actionSupport event="onchange"  reRender="frm"  onsubmit="$('[id$=spinner]').css('display','block');" oncomplete="$('[id$=spinner]').css('display','none');" immediate="false" />
                                                </apex:inputField>
                                                    <label class="slds-checkbox__label" for="pg:frm:thirdParty">
                                                        <span class="slds-checkbox--faux" style=" margin-top: 5px; !important"></span>
                                                        <span class="slds-form-element__label" style=" margin-top: 5px; !important"></span>
                                                    </label>
                                                    <i class="fa fa-info-circle tooltip" style="font-size:24px;color:red;display:{!If(form.vendor_Comcast_shared_access_foreign_nat__c==true,'absolute','none')}">
                                                        <span class="tooltiptext">Yes -> Engage export compliance.</span>
                                                    </i>
                                                </span>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--6-of-12 slds-large-size--6-of-12">
                                    
                                </div>
                            </div>
                            </apex:outputPanel>

                        

                            <apex:outputPanel rendered="{!form.Data__c}" id="dataPanel"  styleclass="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--12-of-12 slds-large-size--12-of-12 slds-box" style="padding:0px;">
                            <div class="slds-grid slds-wrap slds-grid--pull-padded">
                                <div class="slds-size--12-of-12  slds-theme--shade">
                                    <button class="slds-button slds-button--icon" title="Toggle" style="float:right;padding-right: 15px;padding-top: 4px;" onclick="return false;">
                                        <svg class="slds-button__icon" aria-hidden="true" data="toggle" onclick="console.log($(this).find('.down').toggle(0 , $(this).find('.up').toggle() )); ">
                                            <use xlink:href="{!URLFOR($Asset.SLDS,'/assets/icons/utility-sprite/svg/symbols.svg#chevrondown')}" class="down" style="display:none"></use>
                                            <use xlink:href="{!URLFOR($Asset.SLDS,'/assets/icons/utility-sprite/svg/symbols.svg#chevronup')}"  class="up"></use>
                                        </svg>
                                        <span class="slds-assistive-text"></span>
                                    </button>
                                    <h2 class="slds-section-title slds-theme--shade slds-p-left--small">Data</h2>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--6-of-12 slds-large-size--6-of-12">
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="vendorProduct">What data will the vendor product collect? Does it differ from the data that vendor employees will be able to access? </label>
                                            <div class="slds-form-element__control">
                                                <apex:inputField html-placeholder="What data will the vendor product collect?" styleClass="slds-input application_required" id="vendorProduct" value="{!form.What_data_will_vendor_product_collecect__c}" style="width:95%"/>
                                                <i class="fa fa-info-circle tooltip" style="font-size:24px;color:red;">
                                                    <span class="tooltiptext">If HIPPA data -> Contact Henry.</span>
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="ownWhat">Who will own what? What rights do we/vendor need to the data? Any atypical use restrictions on Comcast or vendor? </label>
                                            <div class="slds-form-element__control">
                                                <apex:inputField html-placeholder="Who will own what?" styleClass="slds-input application_required" id="ownWhat" value="{!form.Who_will_own_what__c}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--6-of-12 slds-large-size--6-of-12">
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="thirdPartyData">Are we giving 3rd party data (data that we do not own) to the vendor? </label>
                                            <div class="slds-form-element__control">
                                                <span class="slds-checkbox" style=" margin-top: 5px; !important">
                                                    <apex:inputField styleClass="slds-input application_required" id="thirdPartyData" value="{!form.Are_we_giving_3_rd_party_data__c}" >
                                                        <apex:actionSupport event="onchange"  reRender="frm"  onsubmit="$('[id$=spinner]').css('display','block');" oncomplete="$('[id$=spinner]').css('display','none');" immediate="false" />
                                                    </apex:inputField>
                                                    <label class="slds-checkbox__label" for="pg:frm:thirdPartyData">
                                                        <span class="slds-checkbox--faux" style=" margin-top: 5px; !important"></span>
                                                        <span class="slds-form-element__label" style=" margin-top: 5px; !important"></span>
                                                    </label>
                                                    <i class="fa fa-info-circle tooltip" style="font-size:24px;color:red;display:{!If(form.Are_we_giving_3_rd_party_data__c==true,'absolute','none')}">
                                                        <span class="tooltiptext">Yes -> Check agreements with 3 rd parties to determine if we are permitted to share for intended purpose.</span>
                                                    </i>
                                                </span>
                                                <br/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="dataReside">Where will data be stored? Data Residency/Cross Border Data Transfer? Will customer data be stored outside of the U.S.?</label>
                                            <div class="slds-form-element__control">
                                                <apex:inputField styleClass="slds-input application_required" id="dataReside" value="{!form.Where_will_data_be_stored__c}" style="width:95%">
                                                    <apex:actionSupport event="onchange"  reRender="frm"  onsubmit="$('[id$=spinner]').css('display','block');" oncomplete="$('[id$=spinner]').css('display','none');" immediate="false"/>
                                                </apex:inputField>
                                                <i class="fa fa-info-circle tooltip" style="font-size:24px;color:red;display:{!If(form.Where_will_data_be_stored__c!='USA','absolute','none')}">
                                                    <span class="tooltiptext"  style="top: -5px;right: 105%;">Outside of the U.S. -> Contact privacy team (Jerry, Dan, Kathleen).</span>
                                                </i>
                                            </div>
                                            <br/>
                                            <br/>
                                        </div>
                                    </div>
                                    
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            
                                            <label class="slds-form-element__label" for="dataFlow">Explain data flow – Where is the data coming from? Where is it going? FTP files, APIs, etc.? </label>
                                            <div class="slds-form-element__control">
                                                <apex:inputField html-placeholder="Explain data flow" styleClass="slds-input application_required" id="dataFlow" value="{!form.Explain_data_flow__c}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </apex:outputPanel>

                        
                        

                            <apex:outputPanel rendered="{!form.Access__c}" id="AccessPanel"  styleclass="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--12-of-12 slds-large-size--12-of-12 slds-box" style="padding:0px;">
                            <div class="slds-grid slds-wrap slds-grid--pull-padded">
                                <div class="slds-size--12-of-12  slds-theme--shade">
                                    <button class="slds-button slds-button--icon" title="Toggle" style="float:right;padding-right: 15px;padding-top: 4px;" onclick="return false;">
                                        <svg class="slds-button__icon" aria-hidden="true" data="toggle" onclick="console.log($(this).find('.down').toggle(0 , $(this).find('.up').toggle() )); ">
                                            <use xlink:href="{!URLFOR($Asset.SLDS,'/assets/icons/utility-sprite/svg/symbols.svg#chevrondown')}" class="down" style="display:none"></use>
                                            <use xlink:href="{!URLFOR($Asset.SLDS,'/assets/icons/utility-sprite/svg/symbols.svg#chevronup')}"  class="up"></use>
                                        </svg>
                                        <span class="slds-assistive-text"></span>
                                    </button>
                                    <h2 class="slds-section-title slds-theme--shade slds-p-left--small">Access</h2>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--6-of-12 slds-large-size--6-of-12">
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="remoteAccess">Does the vendor require remote access to our networks/behind our firewall (e.g., provisioning BP IDs, NT IDs, or LDAP IDs?)? </label>
                                            <div class="slds-form-element__control">
                                                <span class="slds-checkbox" style=" margin-top: 5px; !important">
                                                    <apex:inputField styleClass="slds-input application_required" id="remoteAccess" value="{!form.Does_the_vendor_require_remote__c}" >
                                                        <apex:actionSupport event="onchange"  reRender="frm"  onsubmit="$('[id$=spinner]').css('display','block');" oncomplete="$('[id$=spinner]').css('display','none');" immediate="false" />
                                                    </apex:inputField>
                                                    <label class="slds-checkbox__label" for="pg:frm:remoteAccess">
                                                        <span class="slds-checkbox--faux" style=" margin-top: 5px; !important"></span>
                                                        <span class="slds-form-element__label" style=" margin-top: 5px; !important"></span>
                                                    </label>
                                                    <i class="fa fa-info-circle tooltip" style="font-size:24px;color:red;display:{!If(form.Does_the_vendor_require_remote__c==true,'absolute','none')}">
                                                        <span class="tooltiptext">Yes -> Include info sec policy in agreement.</span>
                                                    </i>
                                                </span>
                                                <br/>
                                                <br/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="comcastEnv">Does vendor require access to Comcast controlled environments (e.g., access to Comcast repos, github, JIRA?)?</label>
                                            <div class="slds-form-element__control">
                                                <span class="slds-checkbox" style=" margin-top: 5px; !important">
                                                    <apex:inputField styleClass="slds-input application_required" id="comcastEnv" value="{!form.Does_vendor_need_access_Comcast_environm__c}" >
                                                        <apex:actionSupport event="onchange"  reRender="frm"  onsubmit="$('[id$=spinner]').css('display','block');" oncomplete="$('[id$=spinner]').css('display','none');" immediate="false" />
                                                    </apex:inputField>
                                                    <label class="slds-checkbox__label" for="pg:frm:comcastEnv">
                                                        <span class="slds-checkbox--faux" style=" margin-top: 5px; !important"></span>
                                                        <span class="slds-form-element__label" style=" margin-top: 5px; !important"></span>
                                                    </label>
                                                    <i class="fa fa-info-circle tooltip" style="font-size:24px;color:red;display:{!If(form.Does_vendor_need_access_Comcast_environm__c==true,'absolute','none')}">
                                                        <span class="tooltiptext">Yes -> Notify BU: <br/>- to contact vendor assurance to initiate security assessment; and
                                                            <br/>- to submit an ePCR request.</span>
                                                    </i>
                                                </span>
                                                <br/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--6-of-12 slds-large-size--6-of-12">
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="comCastFacilities">Will vendor have access to Comcast facilities or customer homes? </label>
                                            <div class="slds-form-element__control">
                                                <span class="slds-checkbox" style=" margin-top: 5px; !important">
                                                    <apex:inputField styleClass="slds-input application_required" id="comCastFacilities" value="{!form.Will_vendor_access_to_Comcast_facilities__c}" >
                                                        <apex:actionSupport event="onchange"  reRender="frm"  onsubmit="$('[id$=spinner]').css('display','block');" oncomplete="$('[id$=spinner]').css('display','none');" immediate="false" />
                                                    </apex:inputField>
                                                    <label class="slds-checkbox__label" for="pg:frm:comCastFacilities">
                                                        <span class="slds-checkbox--faux" style=" margin-top: 5px; !important"></span>
                                                        <span class="slds-form-element__label" style=" margin-top: 5px; !important"></span>
                                                    </label>
                                                    <i class="fa fa-info-circle tooltip" style="font-size:24px;color:red;display:{!If(form.Will_vendor_access_to_Comcast_facilities__c==false,'absolute','none')}">
                                                        <span class="tooltiptext">No -> Room to pare down standard background check provision appropriately.</span>
                                                    </i>
                                                </span>
                                                <apex:outputPanel rendered="{!form.Will_vendor_access_to_Comcast_facilities__c}">
                                                    <apex:inputField html-placeholder="If yes, please Explain.." styleClass="slds-input application_required" id="facilityExplain" value="{!form.Explain_vendor_level_of_access__c}" style="margin-top: 5px; !important"/>
                                                </apex:outputPanel>
                                                
                                                <br/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </apex:outputPanel>

                        
                        <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--12-of-12 slds-large-size--12-of-12 slds-box" style="padding:0px;">
                            <div class="slds-grid slds-wrap slds-grid--pull-padded">
                                <div class="slds-size--12-of-12  slds-theme--shade">
                                    <button class="slds-button slds-button--icon" title="Toggle" style="float:right;padding-right: 15px;padding-top: 4px;" onclick="return false;">
                                        <svg class="slds-button__icon" aria-hidden="true" data="toggle" onclick="console.log($(this).find('.down').toggle(0 , $(this).find('.up').toggle() )); ">
                                            <use xlink:href="{!URLFOR($Asset.SLDS,'/assets/icons/utility-sprite/svg/symbols.svg#chevrondown')}" class="down" style="display:none"></use>
                                            <use xlink:href="{!URLFOR($Asset.SLDS,'/assets/icons/utility-sprite/svg/symbols.svg#chevronup')}"  class="up"></use>
                                        </svg>
                                        <span class="slds-assistive-text"></span>
                                    </button>
                                    <h2 class="slds-section-title slds-theme--shade slds-p-left--small">Business Points</h2>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--6-of-12 slds-large-size--6-of-12">
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="licenseTerm">License Term </label>
                                            <div class="slds-form-element__control">
                                                <apex:inputField html-placeholder="License Term" styleClass="slds-input application_required" id="licenseTerm" value="{!form.License_Term__c}" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="anticipatedSpend">Anticipated spend </label>
                                            <div class="slds-form-element__control">
                                                <apex:inputField html-placeholder="Anticipated spend" styleClass="slds-input application_required" id="anticipatedSpend" value="{!form.Anticipated_spend__c}" style="width:95%"/>
                                                <i class="fa fa-info-circle tooltip" style="font-size:24px;color:red;">
                                                    <span class="tooltiptext">Procurement may be comfortable removing the MFN provision if the spend is low.</span>
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="paymentStructure">Payment Structure – Subscription? Seat-based? Perpetual license? </label>
                                            <div class="slds-form-element__control">
                                                <apex:inputField html-placeholder="Payment Structure" styleClass="slds-input application_required" id="paymentStructure" value="{!form.Payment_Structure_Subscription__c}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--6-of-12 slds-large-size--6-of-12">
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="SVP">SVP Authorization – Does BU have SVP authorization and budget approval? </label>
                                            <div class="slds-form-element__control">
                                                <span class="slds-checkbox" style=" margin-top: 5px; !important">
                                                    <apex:inputField styleClass="slds-input application_required" id="SVP" value="{!form.Does_BU_have_SVP_authorization__c}"  >
                                                        <apex:actionSupport event="onchange"  reRender="frm"  onsubmit="$('[id$=spinner]').css('display','block');" oncomplete="$('[id$=spinner]').css('display','none');" immediate="false" />
                                                    </apex:inputField>
                                                    <label class="slds-checkbox__label" for="pg:frm:SVP">
                                                        <span class="slds-checkbox--faux" style=" margin-top: 5px; !important"></span>
                                                        <span class="slds-form-element__label" style=" margin-top: 5px; !important"></span>
                                                    </label>
                                                </span>
                                                <apex:outputPanel rendered="{!form.Does_BU_have_SVP_authorization__c}">
                                                    <apex:inputField html-placeholder="If yes, please Explain.." styleClass="slds-input application_required" id="svpExplain" value="{!form.Explain_SVP_authorization__c}" style="margin-top: 5px; !important"/>
                                                </apex:outputPanel>
                                                
                                                <br/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="deadLine">Are there any deadlines to start using product?</label>
                                            <div class="slds-form-element__control">
                                                <apex:inputField styleClass="slds-input application_required" id="deadLine" value="{!form.deadlines_to_start_using_product__c}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--12-of-12 slds-large-size--12-of-12 slds-box" style="padding:0px;">
                            <div class="slds-grid slds-wrap slds-grid--pull-padded">
                                <div class="slds-size--12-of-12  slds-theme--shade">
                                    <button class="slds-button slds-button--icon" title="Toggle" style="float:right;padding-right: 15px;padding-top: 4px;" onclick="return false;">
                                        <svg class="slds-button__icon" aria-hidden="true" data="toggle" onclick="console.log($(this).find('.down').toggle(0 , $(this).find('.up').toggle() )); ">
                                            <use xlink:href="{!URLFOR($Asset.SLDS,'/assets/icons/utility-sprite/svg/symbols.svg#chevrondown')}" class="down" style="display:none"></use>
                                            <use xlink:href="{!URLFOR($Asset.SLDS,'/assets/icons/utility-sprite/svg/symbols.svg#chevronup')}"  class="up"></use>
                                        </svg>
                                        <span class="slds-assistive-text"></span>
                                    </button>
                                    <h2 class="slds-section-title slds-theme--shade slds-p-left--small">Other</h2>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--6-of-12 slds-large-size--6-of-12">
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="vendorInfo">Anything else we should know about the vendor? Our relationship with them? Unusual executive involvement? </label>
                                            <div class="slds-form-element__control">
                                                <apex:inputField html-placeholder="Anything else we should know about the vendor?" styleClass="slds-input application_required" id="vendorInfo" value="{!form.Anything_we_should_know_about_the_vendor__c}" />
                                            </div>
                                        </div>
                                        <div class="slds-form-element" >
                                            <span class="slds-form-element__label" id="file-selector-primary-label">Attachment</span>
                                            <div class="slds-form-element__control">
                                                <div class="slds-file-selector slds-file-selector_images">
                                                    <div class="slds-file-selector__dropzone" style="height:200px">
                                                        <!--<apex:inputFile value="{!attachment.body}" filename="{!attachment.name}" styleclass="slds-file-selector__input slds-assistive-text" id="file-upload-input-01" html-aria-describedby="file-selector-primary-label file-selector-secondary-label"/>-->
                                                         <!--aria-labelledby="file-selector-primary-label file-selector-secondary-label" />-->
                                                        <input type="file" class="slds-file-selector__input slds-assistive-text" id="file-upload-input-01" aria-labelledby="file-selector-primary-label file-selector-secondary-label" />
                                                        <label class="slds-file-selector__body" for="file-upload-input-01" id="file-selector-secondary-label">
                                                            <span class="slds-file-selector__button slds-button slds-button_neutral">
                                                                <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#upload" />
                                                                </svg>Upload Documents</span>
                                                            <span id="fileName" class="slds-file-selector__text slds-medium-show"></span>
                                                            <span class="slds-file-selector__text slds-medium-show">or Drop Document</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--6-of-12 slds-large-size--6-of-12">
                                    <div class="slds-form--horizontal">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="additionalInfo">Please provide any additional information about the product offering. </label>
                                            <div class="slds-form-element__control">
                                                <apex:inputField html-placeholder="Please provide any additional information about the product offering." styleClass="slds-input application_required" id="additionalInfo" value="{!form.Provide_additional_info_about_product__c}" style="width:95%"/>
                                            	<i class="fa fa-info-circle tooltip" style="font-size:24px;color:red;">
                                                    <span class="tooltiptext"  style="top: -5px;right: 105%;">Are there proposal or RFP materials that describe the offering? Is there a data flow model? Is there a link to a product demo?</span>
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </fieldset>
                <div class="slds-docked-form-footer">
                    <button type="button" class="slds-button slds-button--neutral" onclick="window.location.href='/home'">Cancel</button> &nbsp;
                    <button type="button" class="slds-button slds-button--brand" onClick="$('[id$=spinner]').css('display','block');validateAndSave(); return false;">Save</button>
                </div>
            </apex:form>
        </body>
    </html>
</apex:page>