<apex:page standardController="REVVY__MnContract__c" extensions="REVVY.CMnAdvApprovalRemoter,ManageApproverPageCtlr" sidebar="false" showHeader="false" id="pg" docType="html-5.0">
    <apex:slds />
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
        <apex:stylesheet value="{!URLFOR($Resource.CAFStyles, 'CAFStyles/Amethysta.css')}"/>
        <apex:stylesheet value="{!URLFOR($Resource.CAFStyles, 'CAFStyles/NewsCycle.css')}"/>
        <script src="{!URLFOR($Resource.LightningPlugin, '/jquery.min.js')}"></script> 
        <apex:stylesheet value="{!URLFOR($Resource.CAFStyles, 'CAFStyles/ccmsea-min.css')}"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
        <script>
        var CMnNamespacePrefix = 'REVVY';
        var UI_PATH = '{!$Resource.REVVY__approvalbundle}';
        </script>
        <style>
        #bgcover{position:relative;
            height:100px;}
        .filter{margin-top: -50px;}
            .hadrPosition {
            position: fixed;
           }
                .hadImg {
            width: 62%;
            text-align: left;
           }
           .hidUser {
           float: left;
           color: #f2f2f2;
           padding: 7px 16px;
           text-decoration: none;
           font-size:  0.8rem;
           }
           .contanerBdy {
            padding: 0% 8% 0px 8%;
            width: 85%;
            min-width: 600px;
           } 
           .topnav {
           overflow: hidden;
           background-color: #0d3449;
           }
           .topnav .hedClass {
           float: left;
           color: #f2f2f2;
           padding: 14px 16px;
           text-decoration: none;
           font-size:  0.8rem;
           }
           .hadLink {
           display: none;
           }
           .topnav .icon {
           display: none;
           }
           
           @media screen and (max-width: 800px) {
           .hidbtn{
           display:none;
           }
           .hadrPosition {
            position: fixed;
           }
                     .topnav .hedClass:not(:first-child) {display: none;}
           .hadImg {
            text-align: left;
           }
           .hidUser {
           display: none;
           }
           .topnav .hedClass.icon {
           float: right;
           display: block;
           }
           .topnav.responsive {position: relative;}
           .topnav.responsive .icon {
           position: absolute;
           right: 0;
           top: 0;
           }
           .topnav.responsive .hedClass  {
           float: none;
           display: block;
           text-align: left;
           }
           .contanerBdy {
            padding: 0% 0% 0% 0%;
            min-width: 0px;
           } 
           }
           
          
           
           @media only screen and (min-width: 800px) and (max-width: 1325px)  {
           .hadImg {
            width: 35%;
            text-align: left;
           }
          
           }
        </style>
        <script>
        function myFunction() {
           var x = document.getElementById("myTopnav");
           if (x.className === "topnav") {
               x.className += " responsive";
           } else {
               x.className = "topnav";
           }
       }
       
        $(document).ready(function() {
        
        var recId = window.location.hash.substr(1);
        recId = recId.substring(recId.lastIndexOf("/")+1);
      $(".backdtl").attr('href','/apex/ReviewCAF03082019?id='+recId);
      
            $('[id$=spinner]').css('display','block');
            contractid = getURLParameters()["id"];
            spinnerStop();
            if (isIE()){
              // $(".slds-notify_container1 h2").each(function() {
               //     $(this).text('Warning : Elements of this form are not supported on Internet Explorer. Please switch your browser to Google Chrome.');
              //  });
              //  $(".slds-notify_container1").removeClass('slds-hide');
            }
        });
        
        function spinnerStop() {
        setTimeout(function(){
                if(document.getElementById('root').innerHTML && 
                   $(".slds-table_resizable-cols").html() ){
                    $('[id$=spinner]').css('display','none');
                    $(".slds-button_neutral").each(function() {
                        var ManageApprovalsText = '{!ManageApprovalsText}';
                        var htmlText = $(this).html();
                        if(ManageApprovalsText == 'Recall' && htmlText!='Recall'){
                            $(this).addClass('slds-hide');
                        }
                        else if(ManageApprovalsText == 'Assign' && htmlText!='Add Approver'){
                            $(this).addClass('slds-hide');
                        }
                        else if((ManageApprovalsText == 'Approve' && htmlText!='Approve') || (ManageApprovalsText == 'Reject' && htmlText!='Reject') || (ManageApprovalsText == 'ReviewContract' && htmlText!='Reassign' && htmlText!='Add approver')){
                            $(this).addClass('slds-hide');
                        }
                    });
                    
                    $(".slds-tabs_default__link").each(function() {
                        if($(this).attr("tabindex") == "-1")  
                        $(this).addClass('slds-hide');
                    });
                }else{
                    spinnerStop();
                }    
            }, 5000);
    }
        $(document).keypress(function(event){
                if (event.which == '13') {
                    event.preventDefault();
                }
            });
        function isIE() {
            ua = navigator.userAgent;
            /* MSIE used to detect old browsers and Trident used to newer ones*/
            var is_ie = ua.indexOf("MSIE ") > -1 || ua.indexOf("Trident/") > -1;
            return is_ie; 
        }
        function getURLParameters(){
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                vars[key] = value;
            });
            return vars;
        }
       
        function loadStyle(url) {
            var styleRef = document.createElement("link");
            styleRef.setAttribute("rel", "stylesheet");
            styleRef.setAttribute("type", "text/css");
            styleRef.setAttribute("href", url);
            document.getElementsByTagName("head")[0].appendChild(styleRef);
        }
        function loadScript(url, cb) {
            var head = document.getElementsByTagName('head')[0];
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = url;
            script.onload = cb;
            head.appendChild(script);
        }
        function getParams() {
            var params = {};
            var parts = window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi,
                                                       function(m, key, value) {
                                                           params[key] = value;
                                                       });
            return params;
        };
        </script>
        <script>
        var UI_ENTRY = getParams().entry || UI_ENTRY;
        var SLDS_PATH = '{!$Resource.approvalAssetsCust}/assets';
        var USER = {
            id: '{!$User.Id}',
            name: '{!$User.FirstName} {!$User.LastName}',
        };
        var CMnNamespacePrefixUS = "";
        var CMnNamespacePrefixDT = "";
        if (CMnNamespacePrefix != null && CMnNamespacePrefix.length > 0) {
            CMnNamespacePrefixUS = CMnNamespacePrefix + "__";
            CMnNamespacePrefixDT = CMnNamespacePrefix + ".";
        }
        var UserUITheme = '{!$User.UIThemeDisplayed}';
        </script>
        <script>
        function showError(error) {
            $(".slds-notify_container h2").each(function() {
                $(this).text(error);
            });
            $(".slds-notify_container").removeClass('slds-hide');
            setTimeout(function() {
                $(".slds-notify_container").addClass('slds-hide');
            }, 5000);
        }
        function TriggeredKey(e){
            var keycode;
            if (window.event) keycode = window.event.keyCode;
            if (window.event.keyCode == 13 ) return false;
        }
        function move(source){
            var URL = 'https://' + window.location.hostname + '/apex/RequestCAFContractVF_New?id=';
            var contractid= window.location.href.split('/').slice(-1)[0];
            console.log(contractid);
            URL = URL+contractid;
            if(source.id == 'back'){
                URL = URL +'&stage=File+Upload';
                window.open(URL,"_self");
            } 
            window.open(URL,"_self");
        }
        function enableDropDown(contentClass){
            if($(contentClass).css('display') == 'none'){
                $(contentClass).css('display','block');
            }else{
                $(contentClass).css('display','none');
            }
        }
        </script>
    </head>
    <body style="background-color: #e9e9e9;" onkeydown="TriggeredKey(this)">
        <div class="contanerFix ">
            <div class="topnav" id="myTopnav">
                <div class="slds-tabs_scoped hadrPosition contanerFix "  style="background-color: #0d3449;width:100%;z-index:200;margin-top:-2px;">
                    <div class="hedClass  hadImg "  >
                        <span><apex:image url="{!$Resource.ComcastLogoNew}" width="72px" height="72px"/></span>
                        <span style="position: relative;top: 10px;">| eCAF Request Tool</span>
                    </div>
                    <div class="hidUser hedSize " style="float:right;">
                        <i class="material-icons" style="font-size:20px;position: relative;top: 6px;">person</i>
                        {!$User.FirstName} {!$User.LastName}
                    </div>
                    <div class="hedSize hidbtn" style="float:right;margin:15px;">
                        <a href="/apex/ContractApprovalDashboard03082019" target="_blank" style="color:#ffffff;text-decoration: none !important;">Approver Dashboard</a>
                    </div>
                    <div class="hedSize hidbtn" style="float:right;margin:15px;">
                        <a href="/apex/ContractRequesterDashboard03082019" target="_blank" style="color:#ffffff;text-decoration: none !important;">Requester Dashboard</a>
                    </div>
                    <div class="hedClass hedSize hadLink">
                        <a href="/apex/ContractRequesterDashboard03082019" target="_blank" style="color:#ffffff;text-decoration: none !important;">Requester Dashboard</a>
                    </div>
                    <div class="hedClass hedSize hadLink">
                        <a href="/apex/ContractApprovalDashboard03082019" target="_blank" style="color:#ffffff;text-decoration: none !important;">Approver Dashboard</a>
                    </div>
                   <div  class="icon hedClass" >
                       <i class="fa fa-bars" id="myTopnav1" onclick="myFunction()"></i>
                   </div>
                    <div class="hedSize">
                       <div class="" style="height:56px;"></div>
                       <div style="background-image: linear-gradient(-9deg, #0DB04A 0%, #038ACF 25%,#635EAB 42%, #C9244A 58%, #F27021 75%,#FCBA12 100% );height:3px;"></div>
                    </div>
                    <div class="hadLink">
                       <div class="" style="height:56px;"></div>
                       <div style="background-image: linear-gradient(-9deg, #0DB04A 0%, #038ACF 25%,#635EAB 42%, #C9244A 58%, #F27021 75%,#FCBA12 100% );height:3px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <apex:form id="frm" style="margin-top:50px;">
           <apex:outputPanel id="frmpnl">
                <br/>
                <div class="slds-spinner_container" id="spinner" style="display:none;position: fixed;">
                    <div class="slds-spinner--brand slds-spinner slds-spinner--medium" aria-hidden="false" role="alert" style="position: fixed;">
                        <div class="slds-spinner__dot-a"></div>
                        <div class="slds-spinner__dot-b"></div>
                    </div>
                </div>
                <div class="slds-notify_container1 slds-hide">
                    <div class="slds-notify slds-notify--toast slds-theme--warning" role="alert" style="display:block !important;color:white;font-weight: bolder;text-align: center !important;margin:0px !important;padding:0px !important;">
                        <span class="slds-assistive-text">Warning</span>
                        <br/>
                        <div class="slds-notify__content">
                            <h2 class="slds-text-heading--small"></h2>
                        </div>
                        <br/>
                    </div>
                </div>
                <div style="width: 85%;margin: auto; padding: 0% 8% 0px 8%;min-width: 1200px;min-height: 500px;">
                    <fieldset class="slds-box slds-theme--default  slds-m-around--small" style="margin-bottom: 55px;margin-top: 0.5%;padding: 3% 3%;">
                      <!--  <b><u><i class="fa fa-arrow-left"></i>&nbsp;<a href="/apex/ReviewCAF03082019?id= " class="backdtl" style="color:#000;font-size:1 rem;">Back to Contract Detail</a></u></b>
                       --> 
                        <apex:outputPanel id="wizard">
                            <div class="slds-notify_container slds-hide">
                                <div class="slds-notify slds-notify--toast slds-theme--error" role="alert">
                                    <span class="slds-assistive-text">Warning</span>
                                    <button class="slds-button slds-notify__close slds-button--icon-inverse" title="Close">
                                        <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true" onclick="return false;" data="msg">
                                        </svg>
                                        <span class="slds-assistive-text">Close</span>
                                    </button>
                                    <div class="slds-notify__content">
                                        <h2 class="slds-text-heading--small"></h2>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-spinner_container" id="spinner" style="display:none;position: fixed;">
                                <div class="slds-spinner--brand slds-spinner slds-spinner--medium" aria-hidden="false" role="alert" style="position: fixed;">
                                    <div class="slds-spinner__dot-a"></div>
                                    <div class="slds-spinner__dot-b"></div>
                                </div>
                            </div>
                            <div class="slds-notify_container slds-hide">
                                <div class="slds-notify slds-notify--toast slds-theme--error" role="alert">
                                    <span class="slds-assistive-text">Warning</span>
                                    <button class="slds-button slds-notify__close slds-button--icon-inverse" title="Close">
                                        <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true" onclick="return false;" data="msg">
                                        </svg>
                                        <span class="slds-assistive-text">Close</span>
                                    </button>
                                    <div class="slds-notify__content">
                                        <h2 class="slds-text-heading--small"></h2>
                                    </div>
                                </div>
                            </div>
                            <div style="clear:both;"/>
                            <br/>
                                                       
                            <apex:outputPanel id="container">
                                <fieldset class="" >
                                    <div class="slds-grid slds-wrap slds-grid--pull-padded filter" >
                                       <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--12-of-12 slds-large-size--12-of-12 slds-box" style="padding:10px;border:none;z-index: 100;">
                                       
                                        <span style="{!If (ManageApprovalsText == 'Approve','display:block','display:none')}; text-align:Left; font-size: small;" >To approve this request, click on <b>Approve</b>. Comments are optional. <br> </br> <b>By approving the contract, you acknowledge that you have reviewed the contract to the degree reasonably required for you to grant your approval of this transaction.</b></span>
                                        <span style="{!If(ManageApprovalsText == 'Reject','display:block','display:none')};text-align:Left; font-size: small; ">To reject this request, click on <b>Reject</b> and enter required comments. These comments will be sent to the CAF requester.<br/><br/></span>
                                         <span style="{!If(ManageApprovalsText == 'ReviewContract','display:block','display:none')}; text-align:Left; font-size: small;margin-left:-2%;"> 
                                                   If you need to add an additional approver, click on <b>Add Approver</b> and select the name. If an approver that you need is not in the list, please contact <a href="mailto:Legal_Technology_Support@Comcast.com">Legal Technology</a>. Anyone added at this stage will immediately receive an approval request in email.<br/><br/>
                                                   If you need to reassign this approval request, click on <b>Reassign</b> and you will be able to reassign this to another person, as allowed by the Contract Approval Policy.</span>
 
                                       </div>
                                       <br>
                                       </br>
                                        <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--12-of-12 slds-large-size--12-of-12 slds-box" style="padding:0px;border:none;z-index: 100;">
                                            <div style="min-height: 45vh;padding-top:1%">
                                                <div id="root" class="slds-border_left slds-border_right slds-border_bottom">
                                                </div>
                                            </div>
                                        </div>
                                         
                                    </div>
                                    <br/>
                                    <div  style="text-align:center; font-size: x-small;">
                                        Logged in as: {!$User.FirstName} {!$User.LastName} <br/>
                                        {!$Label.CAFfooter4} <a href="mailto:Legal_Technology_Support@Comcast.com">Legal_Technology_Support@Comcast.com</a> <br/>
                                        {!$label.CAFfooter1} <br/>
                                    </div>
                                </fieldset>
                            </apex:outputPanel>
                        </apex:outputPanel>
                    </fieldset>
                </div>
            </apex:outputPanel>
        </apex:form>
        <script>
        var ignore = localStorage.getItem('devIgnore') || 'lifecycle';
        if (localStorage.getItem('devMode') && !ignore.split(',').includes(UI_ENTRY)) {
            var port = localStorage.getItem('devPort') || localStorage.getItem('dev' + UI_ENTRY + 'Port') || '8080';
            UI_PATH = 'https://localhost:' + port;
        }
        loadStyle(SLDS_PATH + '/styles/salesforce-lightning-design-system-scoped.css');
        loadScript(UI_PATH + '/common.bundle.js', function() {
            loadScript(UI_PATH + '/' + UI_ENTRY + '.bundle.js');
        });
        </script>
    </body>
</apex:page>