<apex:page standardController="REVVY__MnContract__c" extensions="REVVY.CMnAdvApprovalRemoter,RequestCAFContractVFController" sidebar="false" showHeader="false" id="pg" docType="html-5.0">
    <apex:slds />
    <head>
        <style>
        .slds-page-header{
         display:none;
        }
        table tr td:last-child div svg{
        display:none;
        }
        table tr th:last-child div{
        display:none;
        }
        
        .hadrPosition {
            position: fixed;
           }
                .hadImg {
            width: 62%;
            text-align: left;
           }
           .hidUser {
           float: left;
           color: #f2f2f2;
           padding: 7px 16px;
           text-decoration: none;
           font-size:  1.3rem;
           }
           .contanerBdy {
            padding: 0% 8% 0px 8%;
            width: 85%;
            min-width: 600px;
           } 
           .topnav {
           overflow: hidden;
           background-color: #0d3449;
           }
           .topnav .hedClass {
           float: left;
           color: #f2f2f2;
           padding: 14px 16px;
           text-decoration: none;
           font-size:  1.3rem;
           }
           .hadLink {
           display: none;
           }
           .topnav .icon {
           display: none;
           }
           
           @media screen and (max-width: 800px) {
           .hidbtn{
           display:none;
           }
           .hadrPosition {
            position: fixed;
           }
                     .topnav .hedClass:not(:first-child) {display: none;}
           .hadImg {
            text-align: left;
           }
           .hidUser {
           display: none;
           }
           .topnav .hedClass.icon {
           float: right;
           display: block;
           }
           .topnav.responsive {position: relative;}
           .topnav.responsive .icon {
           position: absolute;
           right: 0;
           top: 0;
           }
           .topnav.responsive .hedClass  {
           float: none;
           display: block;
           text-align: left;
           }
           .contanerBdy {
            padding: 0% 0% 0% 0%;
            min-width: 0px;
           } 
           }
           
          
           
           @media only screen and (min-width: 800px) and (max-width: 1325px)  {
           .hadImg {
            width: 35%;
            text-align: left;
           }
          
           }
        
        
        
            @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
            /* IE10+ specific styles go here */  
            .slds-truncate{
            width:100% !important;
            }
            }
            .slds-truncate{
            width:100% !important;
            }
            .slds-border{
            border: 1px solid rgb(221,219,218);
            /*border-left: 1px solid rgb(221,219,218);
            border-right: 1px solid rgb(221,219,218);*/
            }
        </style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
        <apex:stylesheet value="{!URLFOR($Resource.CAFStyles, 'CAFStyles/Amethysta.css')}"/>
        <apex:stylesheet value="{!URLFOR($Resource.CAFStyles, 'CAFStyles/NewsCycle.css')}"/>
        <script src="{!URLFOR($Resource.LightningPlugin, '/jquery.min.js')}"></script> 
        <apex:stylesheet value="{!URLFOR($Resource.CAFStyles, 'CAFStyles/ccmsea-min.css')}"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
        <script>
        var CMnNamespacePrefix = 'REVVY';
        var UI_PATH = '{!$Resource.REVVY__approvalbundle}';
        </script>
        <script>
        function myFunction() {
           var x = document.getElementById("myTopnav");
           if (x.className === "topnav") {
               x.className += " responsive";
           } else {
               x.className = "topnav";
           }
       }
        
        history.pushState(null, null, location.href);
        var contractid;
        window.onpopstate = function () {
            if(contractid === undefined){
                window.history.back();
            }else{
                window.open('/apex/ContractApproval?id='+contractid+'&Stage=File+Upload','_self');
            }
        };
        $(document).ready(function() {
          
            $('[id$=spinner]').css('display','block');
            contractid = getURLParameters()["id"];
            spinnerStop();
            /* if (isIE()){
                $(".slds-notify_container1 h2").each(function() {
                    $(this).text('Warning : Elements of this form are not supported on Internet Explorer. Please switch your browser to Google Chrome.');
                });
                $(".slds-notify_container1").removeClass('slds-hide');
            }*/
            
            
        });
        $(document).keypress(function(event){
                if (event.which == '13') {
                    event.preventDefault();
                }
            });
        /*function isIE() {
            ua = navigator.userAgent;
            //MSIE used to detect old browsers and Trident used to newer ones
            var is_ie = ua.indexOf("MSIE ") > -1 || ua.indexOf("Trident/") > -1;
            return is_ie; 
        }*/
        function getURLParameters(){
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                vars[key] = value;
            });
            return vars;
        }
        function spinnerStop() {
            var count = 0;
            if(window.location.href.indexOf("count") > -1) {
                count = getURLParameters()["count"];
                //window.location = window.location - '&count='+count;
                count = Number(count);
                console.log(typeof(count)+' count '+ count +' site address - '+ window.location);
            }
            /*if(count === 2){
                window.open('/apex/ErrorPage','_self');
                return ;
            }*/
            setTimeout(function(){
                $("#bgcover").addClass('slds-hide');
                if(document.getElementById('root').innerHTML && 
                   $(".slds-table_resizable-cols").html() && 
                   $(".slds-table_resizable-cols").html().includes('tableRow0')){
                    $('[id$=spinner]').css('display','none');
                    $(".slds-button-group").each(function() {
                           if($(this).html().includes('Return to Contract')){
                             $(this).addClass('slds-hide');
                          }
                    });
                    $(".slds-tabs_default__link").each(function() {
                        // if($(this).html().includes('Related Records & Attachments')){
                        if($(this).attr("tabindex") == "-1")  
                        $(this).addClass('slds-hide');
                        // }
                    });
                }else{
                    spinnerStop();
                    //window.location = window.location + '&count='+count;
                    //window.location.reload();
                }    
            }, 5000);
            //count = count + 1;
        }
        function loadStyle(url) {
            var styleRef = document.createElement("link");
            styleRef.setAttribute("rel", "stylesheet");
            styleRef.setAttribute("type", "text/css");
            styleRef.setAttribute("href", url);
            document.getElementsByTagName("head")[0].appendChild(styleRef);
        }
        function loadScript(url, cb) {
            var head = document.getElementsByTagName('head')[0];
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = url;
            script.onload = cb;
            head.appendChild(script);
        }
        function getParams() {
            var params = {};
            var parts = window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi,
                                                       function(m, key, value) {
                                                           params[key] = value;
                                                       });
            return params;
        };
        </script>
        <script>
        var UI_ENTRY = getParams().entry || UI_ENTRY;
        var SLDS_PATH = '{!$Resource.approvalAssetsCust}/assets';
        var USER = {
            id: '{!$User.Id}',
            name: '{!$User.FirstName} {!$User.LastName}',
        };
        var CMnNamespacePrefixUS = "";
        var CMnNamespacePrefixDT = "";
        if (CMnNamespacePrefix != null && CMnNamespacePrefix.length > 0) {
            CMnNamespacePrefixUS = CMnNamespacePrefix + "__";
            CMnNamespacePrefixDT = CMnNamespacePrefix + ".";
        }
        var UserUITheme = '{!$User.UIThemeDisplayed}';
        </script>
        <script>
        function showError(error) {
            $(".slds-notify_container h2").each(function() {
                $(this).text(error);
            });
            $(".slds-notify_container").removeClass('slds-hide');
            setTimeout(function() {
                $(".slds-notify_container").addClass('slds-hide');
            }, 5000);
        }
        function TriggeredKey(e){
            var keycode;
            if (window.event) keycode = window.event.keyCode;
            if (window.event.keyCode == 13 ) return false;
        }
        function move(source){
            var URL = 'https://' + window.location.hostname + '/apex/ContractApproval?id=';
            var contractid= window.location.href.split('/').slice(-1)[0];
            console.log(contractid);
            URL = URL+contractid;
            if(source.id == 'back'){
                URL = URL +'&stage=File+Upload';
                window.open(URL,"_self");
            } 
            window.open(URL,"_self");
        }
        function continueApprovers(){
            var contractid= window.location.href.split('/').slice(-1)[0];
            continueApprover(contractid);
        }
        function enableDropDown(contentClass){
            if($(contentClass).css('display') == 'none'){
                $(contentClass).css('display','block');
            }else{
                $(contentClass).css('display','none');
            }
        }
        
        function openDialogDeleteInst(){
            $('.demo-only').addClass('slds-show');
            $('.demo-only').removeClass('slds-hide');
        }
        function closeDialog(){
            $('.demo-only').removeClass('slds-show');
            $('.demo-only').addClass('slds-hide');
        }
        </script>
    </head>
    <body style="background-color: #f9f9f9;" onkeydown="TriggeredKey(this)">
    
         <div class="contanerFix ">
    <div class="topnav" id="myTopnav">

       <div class="slds-tabs_scoped hadrPosition contanerFix "  style="background-color: #0d3449;width:100%;z-index:200;margin-top:-2px;">
           <div class="hedClass  hadImg "  >
               <span><apex:image url="{!$Resource.ComcastLogoNew}" width="72px" height="72px"/></span>
               <span style="position: relative;top: 10px;font-size:0.8rem;">| eCAF Request Tool</span>
           </div>
           <div class="hidUser hedSize " style="font-size:0.8rem;position:relative;top: 7px;float:right;">
                <i class="material-icons" style="font-size:20px;position: relative;top: 6px;">person</i>
               
               {!$User.FirstName} {!$User.LastName}
           </div>
           <div class="hedSize hidbtn" style="float:right;;margin:15px;padding-top: 5px;">
                <a href="/apex/ContractApprovalDashboard" target="_blank" style="color:#ffffff;text-decoration: none !important;font-size:0.8rem;">Approver Dashboard</a>
           </div>
           <div class="hedSize hidbtn" style="float:right;;margin:15px;padding-top: 5px;">
                <a href="/apex/ContractRequesterDashboard" target="_blank" style="color:#ffffff;text-decoration: none !important;font-size:0.8rem;">Requester Dashboard</a>
           </div>
           
           <div class="hedClass hedSize hadLink ">
                <a href="/apex/ContractRequesterDashboard" target="_blank" style="color:#ffffff;text-decoration: none !important;font-size:0.8rem;">Requester Dashboard</a>
           </div>
           <div class="hedClass hedSize hadLink " >
                <a href="/apex/ContractApprovalDashboard" target="_blank" style="color:#ffffff;text-decoration: none !important;font-size:0.8rem;">Approver Dashboard</a>
           </div>
           
           <div class="hedClass hadLink " >
                <a href="https://secure.compliance360.com/DMZ/ExternaLink/Go.aspx?PD=O8WBP3JVW9Ydr325HCs4%2bGv8I%2bO50%2f%2f1GLStKjmRN8hcs%2ff%2fv9TKpzGBUp4VNiFFNhXAqP67vPqsF52pl%2bbBKfvzntGKUbtLEKPEYSJqPATbGL58oHmr1CnYNpd0JrLg" target="_blank" style=" color : #ffffff;text-decoration : none;font-size:0.8rem;">Contract Standards and Approval Policy</a> 
           </div>
           <div class="hedClass hadLink ">
                <a href="/apex/ContractRequesterDashboard" target="_blank" style=" color : #ffffff;text-decoration : none;font-size:0.8rem;">Requester Quick Reference Guide</a> 
           </div>
           <div class="hedClass hadLink ">
                <a href="/apex/ContractRequesterDashboard" target="_blank" style=" color : #ffffff;text-decoration : none;font-size:0.8rem;" >Approver Quick Reference Guide</a> 
           </div>
           <div  class="icon hedClass" >
               <i class="fa fa-bars" id="myTopnav1" onclick="myFunction()"></i>
           </div>
           
           <div class="hedSize">
           <div class="" style="height:56px;"></div>
           <div style="background-image: linear-gradient(-9deg, #0DB04A 0%, #038ACF 25%,#635EAB 42%, #C9244A 58%, #F27021 75%,#FCBA12 100% );height:3px;"></div>
          </div>
           <div class="hadLink">
           <div class="" style="height:56px;"></div>
           <div style="background-image: linear-gradient(-9deg, #0DB04A 0%, #038ACF 25%,#635EAB 42%, #C9244A 58%, #F27021 75%,#FCBA12 100% );height:3px;"></div>
          </div>
       </div>
     </div>
           
   </div>
         
        <apex:form id="frm">
            <apex:outputPanel id="showmessage">
                <script>
                if('{!ApproverResultBoolean}' == 'false'){
                    showError('Please add approver at each step to continue');
                }
                else{ 
                    move();
                }
                </script>
            </apex:outputPanel>
            <apex:actionFunction action="{!isApproverAdded}" name="validate" reRender="showmessage"/>
            <apex:outputPanel id="frmpnl">
                <br/>
                <div class="slds-spinner_container" id="spinner" style="display:none;position: fixed;">
                    <div class="slds-spinner--brand slds-spinner slds-spinner--medium" aria-hidden="false" role="alert" style="position: fixed;">
                        <div class="slds-spinner__dot-a"></div>
                        <div class="slds-spinner__dot-b"></div>
                    </div>
                </div>
                <div class="slds-notify_container1 slds-hide">
                    <div class="slds-notify slds-notify--toast slds-theme--warning" role="alert" style="display:block !important;color:white;font-weight: bolder;text-align: center !important;margin:0px !important;padding:0px !important;">
                        <span class="slds-assistive-text">Warning</span>
                        <br/>
                        <div class="slds-notify__content">
                            <h2 class="slds-text-heading--small"></h2>
                        </div>
                        <br/>
                    </div>
                </div>
                <div style="width: 85%;margin: auto; padding: 0% 8% 0px 8%;min-height: 500px;padding-top:42px;min-width:500px;">
                    <fieldset class="slds-box slds-theme--default  slds-m-around--small" style="margin-bottom: 55px;margin-top: 1.7%;padding: 3% 3%;">
                        <apex:outputPanel id="wizard">
                            <div class="slds-notify_container slds-hide">
                                <div class="slds-notify slds-notify--toast slds-theme--error" role="alert">
                                    <span class="slds-assistive-text">Warning</span>
                                    <button class="slds-button slds-notify__close slds-button--icon-inverse" title="Close">
                                        <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true" onclick="return false;" data="msg">
                                        </svg>
                                        <span class="slds-assistive-text">Close</span>
                                    </button>
                                    <div class="slds-notify__content">
                                        <h2 class="slds-text-heading--small"></h2>
                                    </div>
                                </div>
                            </div>
                            <apex:outputPanel >
                            
                              <div  class="slds-tabs--default slds-progress-bar slds-is-relative" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" role="progressbar" style="height:1px;">
                      <ul class="slds-tabs--default__nav" role="tablist">
                        <li class="slds-tabs--default " style="width:32%;text-align:center;font-size: 12pt;padding-top:1.5%;"><a class="slds-tabs--default__link"><small>General Info / Contract Terms</small></a></li>
                        <li class="slds-tabs--default" role="presentation" style="text-align:center;font-size: 12pt;width:15%;padding-top:1.5%;"><a class="slds-tabs--default__link"><small>Brief Summary</small></a></li>
                        <li class="slds-tabs--default" role="presentation" style="text-align:center;font-size: 12pt;width:14%;padding-top:1.5%;"><a class="slds-tabs--default__link"><small>File Upload</small></a></li>
                        <li class="slds-tabs--default" role="presentation" style="text-align:center;font-size: 12pt;font-weight:bold;width:18%;padding-top:1.5%;border-bottom: 1px solid;margin-bottom:0px;"><a class="slds-tabs--default__link"><small>Assign Approvers</small></a></li>
                        <li class="slds-tabs--default" role="presentation" style="text-align:center;font-size: 12pt;width:21%;padding-top:1.5%;"><a class="slds-tabs--default__link"><small>Review and Submit</small></a></li>
                      </ul>
                      <span class="slds-progress-bar__value slds-progress-bar__value_success" style="width: 61%;margin-top:0px;padding-top:-5px;">
                        <span class="slds-assistive-text">Progress: 61%</span>
                      </span>
                 </div>
                  <br/><br/><br/>
                            <!--<div id="smartwizard" class="sw-main sw-theme-default">
                                <ul class="nav nav-tabs step-anchor" style="margin-left:-2%">
                                 <!--   <li style="width:15%;margin-left:-2%"><apex:image url="{!$Resource.CAFLogo}" width="150" height="150"/></li>-->
                             <!--       <li class="done" style="margin-left: 25px !important;text-align:center;font-size: 18px;width:25%;padding-top: 1.5%"><a ><br/><small>General Info / Contract Terms</small></a></li>
                                    <li class="done" style="text-align:center;font-size: 18px;width:18%;padding-top: 1.5%"><a  ><br/><small>Brief Summary</small></a></li>
                                    <li class="done" style="text-align:center;font-size: 18px;width:18%;padding-top: 1.5%"><a  ><br/><small>File Upload</small></a></li>
                                    <li Class="active" style="text-align:center;font-size: 18px;font-weight:bold;width:18%;padding-top:1.5%"><a  ><br/><small>Assign Approvers</small></a></li>
                                    <li style="text-align:center;font-size: 18px;width:18%;padding-top:1.5%"><a  ><br/><small>Review and Submit</small></a></li>
                                </ul>
                            </div>-->
                            </apex:outputPanel>
                            <div class="slds-spinner_container" id="spinner" style="display:none;position: fixed;">
                                <div class="slds-spinner--brand slds-spinner slds-spinner--medium" aria-hidden="false" role="alert" style="position: fixed;">
                                    <div class="slds-spinner__dot-a"></div>
                                    <div class="slds-spinner__dot-b"></div>
                                </div>
                            </div>
                            <div class="slds-notify_container slds-hide">
                                <div class="slds-notify slds-notify--toast slds-theme--error" role="alert">
                                    <span class="slds-assistive-text">Warning</span>
                                    <button class="slds-button slds-notify__close slds-button--icon-inverse" title="Close">
                                        <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true" onclick="return false;" data="msg">
                                        </svg>
                                        <span class="slds-assistive-text">Close</span>
                                    </button>
                                    <div class="slds-notify__content">
                                        <h2 class="slds-text-heading--small"></h2>
                                    </div>
                                </div>
                            </div>
                            <div style="clear:both;"/>
                            <br/>
                            <div class="slds-grid">
                                <div class="slds-col">
                                </div>
                                
                            </div>
                            <br/>
                            <apex:outputPanel id="container">
                                <fieldset class="" >
                                    <div class="slds-grid slds-wrap slds-grid--pull-padded filter" >
                                     <div class="slds-col">
                                       <p >
                                           <b><u>Directions to Assign an Approver</u></b><br/><br/>
                                           1. For each of the Approval Steps below, click on <b>Assign Approver</b> and select the appropriate Approver for this request. An Approver must be assigned from the <b>Assign Approver</b> link for each Approval Step. The indicator <svg class="slds-icon slds-icon_x-small slds-icon-text-error" aria-hidden="true" focusable="false" style="padding: 0px; cursor: pointer;"><use href="/resource/1527618139000/approvalAssetsCust/assets/icons/utility-sprite/svg/symbols.svg#warning"></use></svg> will go away once this selection is made.<br/><br/>
                                           
                                           2. If additional Approvers are desired, click on the dropdown icon <svg class="slds-button__icon" aria-hidden="true" focusable="false" style="padding: 0px; pointer-events: none;"><use href="/resource/1527618139000/approvalAssetsCust/assets/icons/utility-sprite/svg/symbols.svg#down"></use></svg> to the left of the Status column icon and select the appropriate Approver.<br/><br/>
                                           
                                           3. Ensure there are no <svg class="slds-icon slds-icon_x-small slds-icon-text-error" aria-hidden="true" focusable="false" style="padding: 0px; cursor: pointer;"><use href="/resource/1527618139000/approvalAssetsCust/assets/icons/utility-sprite/svg/symbols.svg#warning"></use></svg> indicators on the left side before continuing. If you cannot find an Approver’s name, please contact <span style="color: rgba(27, 82, 151, 1);"><a href="mailto:Legal_Technology_Support@Comcast.com"><u>Legal Technology</u></a></span>.<br/><br/>

                                           <b>Click here for</b> <a href="" style="color:#000" onclick="openDialogDeleteInst();"> <span style="color: rgba(27, 82, 151, 1);"><u>Directions to Delete an Approver</u></span> </a><br/>

                                          <!-- Based on the information provided, please designate the following approver(s) by choosing <u><b> Assign Approver</b> </u> where necessary.<br/><br/>
                                           To add additional Approvers, choose the “+” sign below. If you cannot find an Approver’s name, please contact <a href="mailto:Legal_Technology_Support@Comcast.com">Legal Technology.</a> 
                                          -->
                                       </p> 
                                       </div>
                                        <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--12-of-12 slds-large-size--12-of-12 slds-box" 
                                             style="padding:0px;border:none;z-index: 100;">
                                            <div style="min-height: 45vh;padding-top:1%">
                                                <div id="root" class="slds-border_left slds-border_right slds-border_bottom slds-border_top slds-border">
                                                </div>
                                            </div>
                                        </div>
                                         <div class="slds-align_absolute-center slds-form-element slds-size--1-of-2 col_input_box" style="width:100%;padding-top:2%">
                                             <div class="slds-p-horizontal--small slds-form-element slds-size--1-of-4">
                                                <button type="button" style="width:100%;background-color:#1d7caf;border: 1px solid #6b87ab;color:white;height: 3em;" class="slds-button slds-button--brand" id="back" onClick="move(this)">Back</button>
                                             </div>
                                             <div class="slds-p-horizontal--small slds-form-element slds-size--1-of-4" >
                                                <button type="button" style="width:100%;background-color:#1d7caf;border: 1px solid #6b87ab;color:white;height: 3em;" class="slds-button slds-button--brand" id="continue" onclick="continueApprovers()">Continue</button>
                                              <!--<button type="button" style="width:100%;background-color:#1d7caf;border: 1px solid #6b87ab;color:white;height: 3em;" class="slds-button slds-button--brand" id="continue" onclick="move(this)">Continue</button>-->
                                             </div>
                                         </div>   
                                    </div>
                                </fieldset>
                            </apex:outputPanel>
            <apex:actionFunction action="{!continueApprover}" name="continueApprover" reRender="nothing" >
                <apex:param name="contId" value="" assignTo="{!contractRecId}"/>
            </apex:actionFunction>
                        </apex:outputPanel>
                    </fieldset>
                </div>
            </apex:outputPanel>
        </apex:form>
        
        <div class="demo-only slds-hide" style="height: 640px;">
<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
<div class="slds-modal__container">

<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1"><br/>
<b><u>Directions to Delete an Approver</u></b><br/><br/>
<p>
1.  Click on the <b>STEP NAME</b> within the row where the Approver needs to be deleted. <br/> 
2.  Under <b>ACTUAL APPROVERS</b> click on the dropdown icon <svg class="slds-button__icon" aria-hidden="true" focusable="false" style="padding: 0px; pointer-events: none;"><use href="/resource/1527618139000/approvalAssetsCust/assets/icons/utility-sprite/svg/symbols.svg#down"></use></svg> and select <b>Delete Approver</b>. <br/>
3. If the <svg aria-hidden="true" class="slds-icon slds-icon_x-small slds-icon-text-error" focusable="false" style="padding: 0px; cursor: pointer;"><use href="/resource/1527618139000/approvalAssetsCust/assets/icons/utility-sprite/svg/symbols.svg#warning"></use></svg> indicator is visible after the deletion, select <b>Assign Approver</b> to add a new Approver. At least one Approver is required for each Approval Step.
</p>
</div>
<footer class="slds-modal__footer" style="text-align:center;">
<button class="slds-button" style="width:30%;background-color:#1d7caf;border: 1px solid #6b87ab;color:white;height: 3em;" onclick="closeDialog();">Close</button>
</footer>
</div>
</section>
<div class="slds-backdrop slds-backdrop_open"></div>
</div>
        
        
        
         <!-- Footer -->
                  <div class="slds-m-top_large footerClass"  style="text-align:center; font-size: x-small;background-color:#e5e5e5;padding:20px;margin-top:-20px;min-width:1280px;">
                     Logged in as: {!$User.FirstName} {!$User.LastName} <br/>
                     {!$Label.CAFfooter4} <a href="mailto:Legal_Technology_Support@Comcast.com">Legal_Technology_Support@Comcast.com</a> <br/>
                     {!$label.CAFfooter1} <br/>
                  </div>
        <script>
        var ignore = localStorage.getItem('devIgnore') || 'lifecycle';
        if (localStorage.getItem('devMode') && !ignore.split(',').includes(UI_ENTRY)) {
            var port = localStorage.getItem('devPort') || localStorage.getItem('dev' + UI_ENTRY + 'Port') || '8080';
            UI_PATH = 'https://localhost:' + port;
        }
        loadStyle(SLDS_PATH + '/styles/salesforce-lightning-design-system-scoped.css');
        loadScript(UI_PATH + '/common.bundle.js', function() {
            loadScript(UI_PATH + '/' + UI_ENTRY + '.bundle.js');
        });
        </script>
    </body>
</apex:page>