<apex:page controller="NDADashboardController" sidebar="false" id="pg" showHeader="false" docType="html-5.0" 
           title="NDA Legal Admin Dashboard">
    <apex:form >
        <head>
            <meta charset="utf-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/bootstrap.min.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/ionicons.min.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/nifty.min.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/pace.min.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/bootstrap-select.min.css')}"/> 
            <!-- <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/plugin/pace.min.css')}"/> For Progress bar while loading
<apex:includeScript value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/plugin/pace.min.js')}"/> -->
            <apex:includeScript value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/jquery.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/bootstrap.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/nifty.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/bootstrap-select.min.js')}"/>
            <apex:includeLightning />
            <apex:includeScript value="/lightning/lightning.out.js"/>
            <style>
                #PAText:hover{
                transform: scale(1.2);
                }
                #CAText:hover{
                transform: scale(1.2);
                }
                #TCText:hover{
                transform: scale(1.2);
                }
                #DText:hover{
                transform: scale(1.2);
                }
                .ease-in{
                margin-Left: 100%;
                width:300%;
                transition: 0.5s;
                }
                .ease-out{
                margin-left: -250%;
                transition: 0.5s;
                }
                .fade-in {
                opacity: 1 !important;
                animation-name: fadeInOpacity;
                animation-iteration-count: 1;
                animation-timing-function: ease-in;
                animation-duration: 0.5s;
                }
                @keyframes fadeInOpacity {
                0% {
                opacity: 0;
                }
                100% {
                opacity: 1;
                }
                }
                .header-details{
                color:#25476A;
                width:40%;
                white-space: normal;
                vertical-align: top;
                }
                .header-approvers{
                color:#25476A;
                white-space: normal;
                }
                .pad-bot{
                padding-bottom:25px;
                }
                ol,li {
                margin-left: 0 !important;
                }
                .down{
                content: "";
                border-color:#fff;
                border-style: solid;
                border-width: 0 .1em .1em 0;
                display: inline-block;
                height: .55em;
                left: 0;
                position: relative;
                top: -.1em;
                width: .55em;
                padding: 0;
                margin-left: 1ex;
                margin-right: 1.7ex;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                }
                .dropdown {
                position: relative;
                display: inline-block;
                }
                .dropdown-content {
                display: none;
                position: absolute;
                min-width: 160px;
                z-index: 1;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                }
                .dropdown-content a {
                color: white;
                text-decoration: none;
                display: block;
                }
                .dropdown-content a:hover {color: white}
                .dropdown:hover .dropdown-content {
                display: block;
                }
                .pagination>.active>a { background-color: #400095 }
                .linkCor{color: #400095;}
                 .activeDashClass{
                    color : white;
                    background-color: #400095;
                }
                .inactiveDashClass{
                    color : #400095;
                    background-color: #e9e9e9;
                }
                #content-container:before{
                height:75px;
                background-color:#0d3449;
                }
                .label-success{
                background-color: #1d7caf;
                }
                
                .hadrPosition {
                position: fixed;
                }
                .hadImg {
                width: 62%;
                text-align: left;
                }
                .hidUser {
                float: left;
                color: #f2f2f2;
                padding: 7px 16px;
                text-decoration: none;
                font-size:  1.3rem;
                }
                .contanerBdy {
                padding: 0% 8% 0px 8%;
                width: 85%;
                min-width: 600px;
                } 
                .topnav {
                overflow: hidden;
                background-color: #0d3449;
                }
                
                .topnav .hedClass {
                float: left;
                color: #f2f2f2;
                padding: 14px 16px;
                text-decoration: none;
                font-size:  1.3rem;
                }
                .hadLink {
                display: none;
                }
                .topnav .icon {
                display: none;
                }
                .mobHadClass{
                display:none;
                }
                .dtHadClass{
                display:block;
                }
                .mainConClass{
                padding-top:90px;
                background-color: #f9f9f9;
                }
                
                @media screen and (max-width: 800px) {
                .mobHadClass{
                display:block;
                }
                .dtHadClass{
                display:none;
                }
                .mainConClass{
                padding-top:70px;
                }
                .hadrPosition {
                position: fixed;
                }
                .topnav .hedClass:not(:first-child) {display: none;}
                .hadImg {
                text-align: left;
                }
                .hidUser {
                display: none;
                }
                .topnav .hedClass.icon {
                float: right;
                display: block;
                }
                .topnav.responsive {position: relative;}
                .topnav.responsive .icon {
                position: absolute;
                right: 0;
                top: 0;
                }
                .topnav.responsive .hedClass  {
                float: none;
                display: block;
                text-align: left;
                }
                .contanerBdy {
                padding: 0% 0% 0% 0%;
                min-width: 0px;
                } 
                }
                
                
                
                @media only screen and (min-width: 800px) and (max-width: 1325px)  {
                .hadImg {
                width: 35%;
                text-align: left;
                }
                
                }
            </style>
            <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
            
            //search contract name while you type
            function searchcontract(source){
                if(source.id == 'contractnamesearch'){
                    search(source.value);
                }
            }
            //when DOM is ready, occurs after window.onload
            $(document).ready(function() {
                $('#1').addClass('active');
            });
            //drop down function 
            function enableDropDown(contentClass){
                if($(contentClass).css('display') == 'none'){
                    $(contentClass).css('display','block');
                }else{
                    $(contentClass).css('display','none');
                }
            }
            //on load of the page add animation
            window.onload = function(){
                var Panels = document.getElementById('Panels');
                Panels.style.marginLeft = "0%";
                Panels.style.width = "100%";
                setTimeout(addAnimations,500);
            };
            function addAnimations(){
                $("#FadeApprovalsDiv").addClass('fade-in');
                setTimeout(addAnotherAnimation,500);
            }
            function addAnotherAnimation(){
                var NowshowingSpan = document.getElementById('Nowshowing');
                NowshowingSpan.style.marginLeft = "0%";
            }
            </script>
        </head>
        <body style="background-color:#edf0f1;">
            <div class="effect aside-float aside-bright mainnav-lg" id="main-div">
                <div class="boxed">
                    <!--CONTENT CONTAINER-->
                    <div id="container">
                        <header id="navbar">
                            <div id="navbar-container" class="boxed">
                            </div>
                        </header>
                        
                        <div class="contanerFix mobHadClass" >
                            <div class="topnav" id="myTopnav">
                                
                                <div class="slds-tabs_scoped hadrPosition contanerFix "  style="background-color:#edf0f1;width:100%;z-index:200;">
                                    <div class="hedClass  hadImg "  style="width:80%;">
                                    <apex:image url="{!$Resource.NbcUniversal}" width="100px;" height="auto" style="position: relative;height: auto; width: 164px;" />
               
                                        <span style="position: relative;color:#6b7378">| NDA Request Tool</span>
                                    </div>
                                    
                                    <div class="hedClass hadLink ">
                                        <a href="/apex/NDAIntakeForm" target="_blank" style=" color:#6b7378;text-decoration : none;" >Start a New NDA</a> 
                                    </div>
                                    <div  class="icon hedClass" style="color:6b7378;">
                                        <i class="fa fa-bars" id="myTopnav1" onclick="myFunction()"></i>
                                    </div>
                                    
                                    <!--
                                    <div class="hedSize">
                                       <div class="" style="height:60px;"></div>
                                       <div style="background-color: #400195;height:3px;"></div>
                                     </div>
                                    <div class="hedSize">
                                        <div class="" style="height:54px;"></div>
                                        <div style="background-image: linear-gradient(-9deg, #0DB04A 0%, #038ACF 25%,#635EAB 42%, #C9244A 58%, #F27021 75%,#FCBA12 100% );height:3px;"></div>
                                    </div> -->
                                </div>
                            </div>    
                        </div>
                        
                        <div class="contanerFix dtHadClass" >
                            <div class="topnav" id="myTopnav">
                                
                                <div class="slds-tabs_scoped hadrPosition contanerFix "  style="background-color:  #edf0f1;width:100%;z-index:200;">
                                    <div class="hedClass  hadImg "  style="width:40%">
                                    <apex:image url="{!$Resource.NbcUniversal}" width="100px;" height="auto" style="position: relative;height: auto; width: 164px;" />
               
                                        <span style="position: relative;color:#6b7378">| NDA Request Tool</span>
                                    </div>
                                    <div class="hedClass hedClass "  style="float:right;">
                                        <a class="btn " style="padding: 3px 12px;border: 1px solid gr ;background: white;color:#6b7378;float:right;" href="/apex/NDAIntakeForm" target="_blank">
                                            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
                                            Start a New NDA
                                        </a> 
                                    </div>
                                   <!-- <div class="hedSize">
                                       <div class="" style="height:60px;"></div>
                                       <div style="background-color: #400195;height:3px;"></div>
                                     </div>-->
                                    
                                    <div class="" style="height:54px;"></div>
                                        <div style="background-image: linear-gradient(-9deg, #0DB04A 0%, #038ACF 25%,#635EAB 42%, #C9244A 58%, #F27021 75%,#FCBA12 100% );height:3px;">
                                    </div>
                                    
                                </div>
                            </div>    
                        </div>
                        
                        <div class="mainConClass">
                        <div id="page-content">
                            <div class="row">
                                <div class="panel">
                                    <div class="panel-body">
                                        <div id="Panels" class="ease-in">
                                            <div class="col-md-4">
                                                <div class=" panel-colorful media middle pad-all activeDashClass dashClass" 
                                                     onclick="$('#Nowshowing').css('margin-left','-250%');$('#Nowshowing').removeClass('ease-out');$('.dashClass').removeClass('activeDashClass');$('.dashClass').addClass('inactiveDashClass');$(this).removeClass('inactiveDashClass');$(this).addClass('activeDashClass');
                                                              pendingRequestFunc();"
                                                     style="cursor:pointer;
                                                            border-radius:3px">
                                                    <div >
                                                        <div class="pad-hor">
                                                            <i class="demo-pli-file-word icon-3x"></i>
                                                        </div>
                                                    </div>
                                                    <div class="media-body" id="PAText" style="height: 51px;font-weight:400;font-size:1.3em;text-align:center;">
                                                        
                                                        <p class="mar-no"><apex:outputText value="{!$Label.NDAPendingRequests}"/></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="panel panel-colorful media middle pad-all inactiveDashClass dashClass" 
                                                     onClick="$('#Nowshowing').css('margin-left','-250%');$('#Nowshowing').removeClass('ease-out');$('.dashClass').removeClass('activeDashClass');$('.dashClass').addClass('inactiveDashClass');$(this).removeClass('inactiveDashClass');$(this).addClass('activeDashClass');
                                                              completedRequestFunc()"
                                                     style="cursor:pointer;" >
                                                    <div >
                                                        <div class="pad-hor">
                                                            <i class="demo-pli-file-zip icon-3x"></i>
                                                        </div>
                                                    </div>
                                                    <div class="media-body" id="CAText" style="height: 51px;font-weight:400;font-size:1.3em;text-align:center;">
                                                        
                                                        <p class="mar-no"><apex:outputText value="{!$Label.NDACompletedRequest}"/></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4" style="cursor:pointer">
                                                <div class="panel  panel-colorful media middle pad-all inactiveDashClass dashClass" 
                                                     onClick="$('#Nowshowing').css('margin-left','-250%');$('#Nowshowing').removeClass('ease-out');$('.dashClass').removeClass('activeDashClass');$('.dashClass').addClass('inactiveDashClass');$(this).removeClass('inactiveDashClass');$(this).addClass('activeDashClass');
                                                              totalRequestFunc()" 
                                                     >
                                                    <div >
                                                        <div class="pad-hor">
                                                            <i class="demo-pli-camera-2 icon-3x"></i>
                                                        </div>
                                                    </div>
                                                    <div class="media-body" id="TCText" style="height: 51px;font-weight:400;font-size:1.3em;text-align:center;">
                                                        
                                                        <p class="mar-no"><apex:outputText value="{!$Label.NDATotalRequests}"/></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--<div class="col-md-3" style="cursor:pointer" onclick="alert('Coming Soon!');return false;">
                                                <div class="panel  panel-colorful media middle pad-all"  style="background-color:#f44336;color: white;">
                                                    <div class="media-left">
                                                        <div class="pad-hor">
                                                            <i class="demo-pli-video icon-3x"></i>
                                                        </div>
                                                    </div>
                                                    <div class="media-body" id="DText">
                                                        <p class="text-2x mar-no text-semibold">Docusign</p>
                                                        <p class="mar-no">Coming Soon!</p>
                                                    </div>
                                                </div>
                                            </div>-->
                                        </div>
                                        <div class="pad-btm form-inline">
                                            <div class="row">
                                                <div class="col-sm-6 table-toolbar-left">
                                                    <div class="media-right" style="padding:0">
                                                        <span id="Nowshowing" class="text-main ease-out" 
                                                              style="font-size:18px">
                                                            <apex:outputText value="{!NowShowing}" id="nowshowing"/>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 table-toolbar-right">
                                                    
                                                </div>
                                            </div>
                                        </div> 
                                        <apex:outputPanel id="PendingApprovals">
                                            <div class="table-responsive" id="FadeApprovalsDiv" style="opacity:0;">
                                                <apex:outputPanel id="PendingApprovalsTable">
                                                    <script>
                                                    function activatePageNumber(source){
                                                        //alert('No. of Pages- {!NumberOfPages}, setcon- {!setCon.pageNumber}, current- {!CurrentPage}, Next- {!NextPage}, Previous- {!PreviousPage}');
                                                        if('{!setCon.pageNumber}'=='{!PreviousPage}'){
                                                            $("#Previous").addClass("active");
                                                            $("#Next").removeClass("active");
                                                            $("#Current").removeClass("active");
                                                        }
                                                        else if('{!setCon.pageNumber}'=='{!CurrentPage}'){
                                                            $("#Previous").removeClass("active");
                                                            $("#Next").removeClass("active");
                                                            $("#Current").addClass("active");  
                                                        }
                                                            else if('{!setCon.pageNumber}'=='{!NextPage}'){
                                                                $("#Previous").removeClass("active");
                                                                $("#Next").addClass("active");
                                                                $("#Current").removeClass("active");
                                                            }
                                                    }
                                                    </script>
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr> 
                                                                <th></th>
                                                                <th><apex:outputText value="NDA Request ID"/>
                                                                    <a onclick="sortId()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                </th>
                                                                <th><apex:outputText value="Counterparty Legal Entity"/>
                                                                    <a onclick="sortCounterparty()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                </th>
                                                                <th><apex:outputText value="Last Activity"/>
                                                                    <a onclick="sortLastactivity()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                </th>
                                                                <th><apex:outputText value="NDA Status"/>
                                                                    <a onclick="sortStatus()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                </th>
                                                                <th><apex:outputText value="Submission Date"/>
                                                                    <a onclick="sortSubmissiondate()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                </th><th><apex:outputText value="Elapsed Days"/>
                                                                <a onclick="sortElapseddays()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <apex:repeat value="{!NDARequests}" var="NDA">
                                                                <tr>
                                                                    <th></th>
                                                                    <th><a href="/{!NDA.Id}" target="_blank" class="btn-link linkCor text-semibold">
                                                                        <apex:outputText value="{!NDA.Agreement_Number__c}"/>
                                                                        </a>
                                                                    </th>
                                                                    <th><apex:outputText value="{!NDA.Counterparty_Entity_Name__c}" styleClass="text-semibold"/></th>
                                                                    <th><apex:outputText value="{0, date, MMMM d','  yyyy}" styleClass="text-semibold">
                                                                        <apex:param value="{!NDA.LastModifiedDate}" /> 
                                                                        </apex:outputText>
                                                                    </th>
                                                                    <th><span class="text-muted">
                                                                        <apex:outputText value="{!If(NDA.NDA_Status__c == '','N/A',NDA.NDA_Status__c)}" styleClass="text-semibold"/></span>
                                                                    </th>
                                                                    <th><apex:outputText value="{0, date, MMMM d','  yyyy}" styleClass="text-semibold">
                                                                        <apex:param value="{!NDA.CreatedDate}" /> 
                                                                        </apex:outputText>
                                                                    </th>
                                                                    <th style="padding-left: 25px;"><apex:outputText value="{!FLOOR((Now() - NDA.CreatedDate))}" styleClass="text-semibold"/></th>
                                                                </tr>
                                                            </apex:repeat>
                                                        </tbody>
                                                    </table>
                                                </apex:outputPanel>
                                            </div>
                                            <hr class="new-section-xs"/>
                                            <!-- Functions that hit apex controller -->
                                            <apex:actionFunction action="{!refresh}" name="approvalrefresh" reRender="PendingApprovalsTable" />
                                            <apex:actionFunction name="search" action="{!Search}" reRender="PendingApprovalsTable">
                                                <apex:param assignTo="{!contractsearchstring}" value="" name="name"/>
                                            </apex:actionFunction>
                                            <apex:actionFunction name="sortId" action="{!sortId}" reRender="PendingApprovalsTable"/>
                                            <apex:actionFunction name="sortCounterparty" action="{!sortCounterparty}" reRender="PendingApprovalsTable"/>
                                            <apex:actionFunction name="sortLastactivity" action="{!sortLastactivity}" reRender="PendingApprovalsTable"/>
                                            <apex:actionFunction name="sortStatus" action="{!sortStatus}" reRender="PendingApprovalsTable"/>
                                            <apex:actionFunction name="sortSubmissiondate" action="{!sortSubmissiondate}" reRender="PendingApprovalsTable"/>
                                            <apex:actionFunction name="sortElapseddays" action="{!sortElapseddays}" reRender="PendingApprovalsTable"/>
                                            <apex:actionFunction name="pendingRequestFunc" action="{!setPendingStatus}" 
                                                                 reRender="PendingApprovalsTable,nowshowing,Pagination"
                                                                 oncomplete="setTimeout(addAnotherAnimation,500);"/>
                                            <apex:actionFunction name="completedRequestFunc" action="{!setCompletedStatus}" 
                                                                 reRender="PendingApprovalsTable,nowshowing,Pagination"
                                                                 oncomplete="setTimeout(addAnotherAnimation,500);"/>
                                            <apex:actionFunction name="totalRequestFunc" action="{!setTotalRequests}" 
                                                                 reRender="PendingApprovalsTable,nowshowing,Pagination"
                                                                 oncomplete="setTimeout(addAnotherAnimation,500);"/>
                                            <!-- Functions End -->
                                            <!-- Pagenumber Section -->
                                            <apex:outputPanel id="Pagination">
                                                <div class="pull-right">
                                                    <ul class="pagination text-nowrap mar-no">
                                                        <li class="{!If(!setCon.hasPrevious,"page-pre disabled","page-pre")}">
                                                            <!-- <a href="#">&lt;</a> -->
                                                            <apex:commandLink action="{!Newer}" value="← Newer" oncomplete="activatePageNumber(this);" reRender="PendingApprovalsTable,Pagination"/>
                                                        </li>
                                                        <li class="page-number active" id="Previous">
                                                            <apex:commandLink action="{!goBack}" value="{!PreviousPage}" oncomplete="activatePageNumber(this);" reRender="PendingApprovalsTable,Pagination"/>
                                                        </li>
                                                        <li class="{!If(NumberOfPages <= 1 ,"page-number disabled","page-number")}" id="Current">
                                                            <apex:commandLink action="{!movePage}" value="{!CurrentPage}" oncomplete="activatePageNumber(this);" reRender="PendingApprovalsTable,Pagination"/>
                                                        </li> <!-- !setCon.hasNext, -->
                                                        <li class="{!If(OR(NumberOfPages <= 2),"page-number disabled","page-number")}" id="Next">
                                                            <apex:commandLink action="{!goForward}" value="{!NextPage}" oncomplete="activatePageNumber(this);" reRender="PendingApprovalsTable,Pagination"/>
                                                        </li>
                                                        <li>
                                                            <span>...</span>
                                                        </li>
                                                        <li class="page-number">
                                                            <apex:commandLink action="{!last}" value="last" oncomplete="activatePageNumber(this);" reRender="PendingApprovalsTable,Pagination"/>
                                                        </li>
                                                        <li class="{!If(!setCon.hasNext,"page-next disabled","page-next")}">
                                                            <!-- <a href="#">&gt;</a> -->
                                                            <apex:commandLink action="{!Older}" value="Older →" oncomplete="activatePageNumber(this);" reRender="PendingApprovalsTable,Pagination" />
                                                        </li>
                                                    </ul>
                                                </div>
                                            </apex:outputPanel>
                                        </apex:outputPanel>
                                    </div>
                                </div>
                            </div>
                            <!--End page content-->
                        </div>
                        </div>
                        <div class="footer-fixed" style="text-align:center; font-size: x-small;">
                            {!$label.CAFfooter1} <br/>
                            <!--<apex:outputLink value="{!$Label.CAFPrivacyLink}" target="_blank">{!$Label.CAFfooter2}</apex:outputLink> {!$label.CAFfooter3} -->
                        </div>
                        <!--END CONTENT CONTAINER-->
                    </div>
                </div>
            </div>
        </body>
    </apex:form>
</apex:page>