<apex:page standardController="NDA__c" extensions="NDAReviewController" sidebar="false" id="pg" showHeader="false" docType="html-5.0">
   <apex:form >    
        <head>
            <meta charset="utf-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/bootstrap.min.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/ionicons.min.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/nifty.min.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/pace.min.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/bootstrap-select.min.css')}"/> 
            <!-- <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/plugin/pace.min.css')}"/> For Progress bar while loading
            <apex:includeScript value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/plugin/pace.min.js')}"/> -->
            <apex:includeScript value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/jquery.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/bootstrap.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/nifty.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/bootstrap-select.min.js')}"/>
            <apex:includeLightning />
            <apex:includeScript value="/lightning/lightning.out.js" />
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
 
            <script>
            $(document).ready(function(){
                $("#sort").click(function(){
                    $("#sortdiv").addClass("open");
                });
            });
            window.onload = function() {
                if(!window.location.hash) {
                    window.location = window.location + '#loaded';
                    window.location.reload();
                }
            };
            </script>
            <style>
                #style-1::-webkit-scrollbar-track
                {
                -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
                border-radius: 10px;
                background-color: #FFF;
                }
                #style-1::-webkit-scrollbar
                {
                width: 3px;
                background-color: #FFF;
                }
                #style-1::-webkit-scrollbar-thumb
                {
                border-radius: 1px;
                -webkit-box-shadow: inset 0 0 6px rgba(122,135,142,0.3);
                background-color: #7a878e;
                }
                #style-1:hover { overflow-y:auto; }
                .scrollbar
                {
                height: 550px;
                overflow-y: hidden;
                }
                .header-details{
                color:#25476A;
                width:45%; /*40%*/
                padding-right:50px;
                white-space: normal;
                vertical-align: top;
                }
                .header-approvers{
                color:#25476A;
                white-space: normal;
                }
                .pad-bot{
                padding-bottom:25px;
                }
                textarea {
                   resize: none;
                }
                
           .hadrPosition {
            position: fixed;
           }
                .hadImg {
            width: 85%;
            text-align: left;
           }
           .hidUser {
           float: left;
           color: #f2f2f2;
           padding: 7px 16px;
           text-decoration: none;
           font-size:  1.3rem;
           }
           .contanerBdy {
            padding: 0% 8% 0px 8%;
            width: 85%;
            min-width: 600px;
           } 
           .topnav {
           overflow: hidden;
           background-color: #0d3449;
           }
           
           .topnav .hedClass {
           float: left;
           color: #f2f2f2;
           padding: 14px 16px;
           text-decoration: none;
           font-size:  1.3rem;
           }
           .hadLink {
           display: none;
           }
           .topnav .icon {
           display: none;
           }
           
           .modal-dialog{
           top:-200px;
           }
           .mobBtnPnl{
            display:none;
           }
           
           
           @media screen and (max-width: 830px) {
           .hidbtn{
           display:none;
           }
           .hadrPosition {
            position: fixed;
           }
                     .topnav .hedClass:not(:first-child) {display: none;}
           .hadImg {
            text-align: left;
           }
           .hidUser {
           display: none;
           }
           .topnav .hedClass.icon {
           float: right;
           display: block;
           }
           .topnav.responsive {position: relative;}
           .topnav.responsive .icon {
           position: absolute;
           right: 0;
           top: 0;
           }
           .topnav.responsive .hedClass  {
           float: none;
           display: block;
           text-align: left;
           }
           .contanerBdy {
            padding: 0% 0% 0% 0%;
            min-width: 0px;
           } 
           
           .mobBtnPnl{
            display:block;
           }
           .dtBtnPnl{
            display:none;
           }
           }
           
          
           
           @media only screen and (min-width: 830px){
           .hadImg {
            width: 35%;
            text-align: left;
           }
           }
           
           
            </style>
            <script>
            function myFunction() {
           var x = document.getElementById("myTopnav");
           if (x.className === "topnav") {
               x.className += " responsive";
           } else {
               x.className = "topnav";
           }
       }
            function searchcontract(){
                var name = document.getElementById("contractnamesearch").value;
                //alert(name);
                search(name);
            }
            function refresh(){
                document.getElementById("contractnamesearch").value = '';
                search();
            }
            function downloadFile(id){
                window.open('/sfc/servlet.shepherd/version/download/'+id);
            }
            
            function downloadAllFile(){
            
               var records = '';
                <apex:repeat value="{!content}" var="con"> 
                    records += '/'+'{!con.id}';  
                </apex:repeat> 
                
                   window.open('/sfc/servlet.shepherd/version/download'+records );
                
            }
            
            function showData(){
                $(".boxed").show();
            }
            </script>
        </head>
        <body style="background-color:#edf0f1;">
           
           <div class="contanerFix ">
    <div class="topnav" id="myTopnav">
        <div class="slds-tabs_scoped hadrPosition contanerFix "  style="background-color: #edf0f1;width:100%;z-index:200;">
           <div class="hedClass  hadImg "  style="width:80%;">
                                    <apex:image url="{!$Resource.NbcUniversal}" width="100px;" height="auto" style="position: relative;height: auto; width: 164px;" />
               
                                        <span style="position: relative;color:#4c119c;font-size:12pt;top: 2px;">| NDA Request Tool</span>
                                        </div>
           
           <div class="hedSize hidbtn" style="float:right;margin:15px;">
                <a href="/apex/NDARequesterDashboard" target="_blank" style="color:#4c119c;text-decoration: none !important;">Requester Dashboard</a>
           </div>
           
           
           <div class="hedClass hedSize hadLink">
                <a href="/apex/NDARequesterDashboard" target="_blank" style="color:#4c119c;text-decoration: none !important;">Requester Dashboard</a>
           </div>
           <div  class="icon hedClass" >
               <i class="fa fa-bars" id="myTopnav1" style="color:#4c119c;" onclick="myFunction()"></i>
           </div>
           
           <div class="hedSize">
           <div class="" style="height:60px;"></div>
           <div style="background-image: linear-gradient(-9deg, #0DB04A 0%, #038ACF 25%,#635EAB 42%, #C9244A 58%, #F27021 75%,#FCBA12 100% );height:3px;"></div>
          </div>
       </div>
     </div>
           
   </div>
   
            <div class="effect aside-float aside-bright mainnav-lg " id="main-div" style="padding-top:50px;">
                <div class="boxed">
                
             <!--CONTENT CONTAINER-->
                    <div id="container">
                        <div id="page-content">
             
  
       <div style="margin-left:28px;" class="modal fade" id="myModal9" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="text-align:center;">
            <p><b>IMPORTANT REMINDER:</b> Files should only be downloaded to appropriate devices and should not be downloaded to a public computer (hotel, airport, etc).</p>
            </div>
            <div class="modal-footer" style="text-align: center;">
              <button type="button" data-dismiss="modal" class="btn btn-default" style="background: #0d3449 !important; color:white !important; Padding: 8px;margin-left:2%;width:200px;height:2.9em; font-size:1em" >Cancel</button>
                <apex:commandLink onclick="downloadAllFile();" styleClass="btn btn-default" style="background: #0d3449 !important; color:white !important; Padding: 8px;margin-left:2%;width:200px;height:2.9em; font-size:1em;text-decoration:none;" value="Download"/>
            </div>
          </div>
        </div>
      </div>
                        
                        
                         
                        
                            <div class="row"  style="padding-top:15px;">
                                <apex:outputPanel id="DetailsPanel">
                               
                                    <div class="col-lg-7">  <!-- Contract Details Column -->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <div style="padding-top: 15px;">
                                                    <h3 class="panel-title" style="color:#25476A;font-weight: bold;">
                                                        NDA Details
                                                    </h3> 
                                                    <a style="background:transparent;color:#838383;float:right;cursor:pointer;padding-top: 10px;padding-right: 25px;" onclick="refreshContractDetails();">
                                                        <i class="fa fa-refresh" style="font-size:1.4em !important;vertical-align: middle;" aria-hidden="true"/>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="panel-body" id="fieldset" style="max-height:1000px;min-height:250px;">
                                                <div class="table-responsive scrollbar" id="style-1">
                                                    <table style="width:100%;">
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="NBCU Legal Entity Name:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!contract.NBCU_Legal_Entity_Name__c}"/></th>
                                                        </tr>
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="NBCU Signer Name:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!contract.NBCU_Signer_Name__c}"/></th>
                                                        </tr>
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="NBCU Signer Title:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!contract.NBCU_Signer_Title__c}"/></th>
                                                        </tr>
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Counterparty Entity Name:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!contract.Counterparty_Entity_Name__c}" style="word-break:break-word;"/></th>
                                                        </tr>
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Counterparty Country:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!contract.Counterparty_Country__c}" style="word-break:break-word;"/></th>
                                                        </tr>
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Counterparty Contact Name:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!contract.Counterparty_Contact_Name__c}"/></th>
                                                        </tr>
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Counterparty Email:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputField value="{!contract.Counterparty_Signer_Email__c}"/></th>
                                                        </tr>
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="NDA Type:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputField value="{!contract.NDA_Type__c}"/></th>
                                                        </tr>
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Will any of the discussions with this firm be pertaining to a potential merger, acquisition or joint venture?:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputField value="{!contract.Discussions_with_this_firm__c}"/></th>
                                                        </tr>
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Purpose:"/></th>
                                                            <th style="white-space: normal;word-break: break-all;" class="pad-btm"><apex:outputField value="{!contract.Purpose__c}" /></th>
                                                        </tr>
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Is there intent to disclose PII (Personally Identifiable Information)?:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputField value="{!contract.Is_there_intent_to_disclose_PII__c}"/></th>
                                                        </tr>
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Is there intent to pay parties under this agreement?:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputField value="{!contract.Aware_of_an_existing_agreement__c}"/></th>
                                                        </tr>
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Is there intent to disclose information outside of the U.S. or to a foreign nationals?:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputField value="{!contract.Intent_to_disclose_information__c}"/></th>
                                                        </tr>
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Is there intent for NBCU to disclose hardware, software or technology (including but not limited to: blueprints, plans, diagrams, models, formulae, tables, engineering designs, specifications, manuals, instructions, whether written or recorded, on other media or devices such as a disk, tape and read-only memory)?:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputField value="{!contract.intent_for_NBCU_to_disclose_HW_SW_Tech__c}"/></th>
                                                        </tr>
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Have discussions already taken place?:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputField value="{!contract.Have_discussions_already_taken_place__c}"/></th>
                                                        </tr>
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Date Of Prior Discussion:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputField value="{!contract.Date_Of_Prior_Discussion__c}"/></th>
                                                        </tr>
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Are you aware of an existing agreement with the counterparty, e.g., MSA, prior NDA, consulting agreement or other?:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputField value="{!contract.Aware_of_an_existing_agreement__c}"/></th>
                                                        </tr>
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="What is the term of this NDA?:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputField value="{!contract.Term_Duration_years__c}"/></th>
                                                        </tr>
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Effective Date:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputField value="{!contract.Effective_Date__c}"/></th>
                                                        </tr>
                                                        
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </apex:outputPanel>
                                <div class="col-lg-5"> 
                                    <div class="panel panel-body">
                                        <div class="table-responsive" style="max-height:1000px; min-height:380px">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th style="font-size:1.1em"><span style="vertical-align: -webkit-baseline-middle;">Files/Attachments</span>
                                                           
                                                         <div style="float:right;">
                                                            <apex:commandLink style="color:#1d7caf" html-data-toggle="modal" html-data-target="#myModal9" reRender="nothing" > Download All </apex:commandLink>
                                                               &nbsp;&nbsp;&nbsp;
                                                            <a style="background: transparent;color: #838383;float:right;cursor:pointer" onclick="refreshContentDetails();" >
                                                                <i class="fa fa-refresh" style="font-size:1.3em !important;vertical-align: middle;" aria-hidden="true"/>
                                                            </a>
                                                          </div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                            </table>
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <apex:repeat value="{!content}" var="con">
                                                            <table class="table table-striped">
                                                                <tr>
                                                                    <th class="text-semibold" style="Width:35%;word-wrap: break-word;">
                                                                          <apex:commandLink action="{!createPublicPreviewLink}" style="word-wrap: break-word;white-space: normal;" styleclass="btn-link text-semibold" value="{!con.Title}" id="ContentTitle"  target="_blank">
                                                                        <apex:param name="recordId" assignTo="{!recordIDforAAp}" value="{!con.Id}"/>
                                                                    </apex:commandLink>                                      
                                                                    </th>
                                                                    <th class="text-semibold" style="Width:30%"><div style="max-width:134px !important;width:100%;background-color:#1d7caf;" class="{!If(con.Attachment_Type__c == 'Contract','label label-table',
                                                                                                                            IF(con.Attachment_Type__c == 'Legal Memo','label label-table',
                                                                                                                            If(con.Attachment_Type__c == 'Justification Memo','label label-table','label label-table')))}">
                                                                        <apex:outputText value="{!If(con.Attachment_Type__c!='',con.Attachment_Type__c,'Other')}" id="AType"/></div></th>
                                                                    <th class="text-semibold" style="Width:35%;word-wrap: break-word;"><div style="white-space: normal;"><apex:outputText value="{!If(con.Description!='',con.Description,'N/A')}" id="Description"/></div></th>
                                                                    <th> <apex:commandLink style="border:none;" html-data-toggle="modal" html-data-target="#myModal8{!con.Id}" reRender="nothing" > <i class="material-icons" style="font-size:20px;position: relative;">save_alt</i> </apex:commandLink>
                                                                    <div style="margin-left:28px;" class="modal fade" id="myModal8{!con.Id}" role="dialog">
                                                                        <div class="modal-dialog">
                                                                          <div class="modal-content">
                                                                            <div class="modal-header">
                                                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                            </div>
                                                                            <div class="modal-body" style="text-align:center;">
                                                                                <p style="word-wrap: break-word;"><b>IMPORTANT REMINDER:</b> Files should only be<br/>downloaded to appropriate devices and should<br/>not be downloaded to a public computer<br/>(hotel, airport, etc).</p>
                                                                            </div>
                                                                            <div class="modal-footer" style="text-align: center;">
                                                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                                               <button type="button" data-dismiss="modal" class="btn btn-default" style="background: #0d3449 !important; color:white !important; Padding: 8px;margin-left:2%;width:200px;height:2.9em; font-size:1em" >Cancel</button>
                                                                             </div>
                                                                             <div class="col-lg-6 col-md-6 col-sm-12">
                                                                               <apex:commandLink onclick="downloadFile('{!con.Id}');" styleClass="btn btn-default" style="background: #0d3449 !important; color:white !important; Padding: 8px;margin-left:2%;width:200px;height:2.9em; font-size:1em;text-decoration:none;" value="Download"/>
                                                                            </div>
                                                                            </div>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                    </th>
                                                                </tr>
                                                            </table>
                                                        </apex:repeat>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <apex:outputPanel id="ApprovalLog">
                                                <div class="table-responsive">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr> 
                                                                <th>Date</th>
                                                                <th>NDA Status</th>
                                                               <!-- <th>NewValue</th>
                                                                <th>OldValue</th>-->
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <apex:repeat value="{!ndaHstryWprList}" var="AL">
                                                                <tr>
                                                                  <th>
                                                                  <apex:outputText value="{!AL.ndaDate}" styleClass="text-semibold" id="CreatedDate"/>
                                                                  <!--<apex:outputText value="{0, date, MMMM d','  yyyy 'at' HH:mm:ss }" styleClass="text-semibold">
                                                                        <apex:param value="{!AL.ndaDate}" id="CreatedDate"/> 
                                                                        </apex:outputText>-->
                                                                        </th>
                                                                    <th>
                                                                        <apex:outputText value="{!AL.ndaStatus}" styleClass="text-semibold" id="Field"/>
                                                                    </th>
                                                                 <!--   <th><apex:outputText value="{!AL.NewValue}" styleClass="text-semibold" id="NewValue"/></th>
                                                                    
                                                                    <th><apex:outputText value="{!AL.OldValue}" styleClass="text-semibold" id="OldValue"/></th>
                                                               --> </tr>
                                                            </apex:repeat>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </apex:outputPanel>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <!--End page content-->
                        </div>
                        <br/>
                        <br/>
                        <div class="footer-fixed" style="text-align:center; font-size: x-small;">
                         <br/> Logged in as: {!$User.FirstName} {!$User.LastName} <br/>
                            {!$Label.CAFfooter4} <a href="mailto:Legal_Technology_Support@Comcast.com">Legal_Technology_Support@Comcast.com</a> <br/>
                            {!$label.CAFfooter1} <br/>
                        </div>
                        <!--END CONTENT CONTAINER-->
                    </div>
                </div>
            </div>
        </body>
        <apex:actionFunction action="{!deletePublicPreviewLink}" name="deletePreviewLink" reRender="">
            
        </apex:actionFunction>
        <apex:actionFunction action="{!createPublicPreviewLink}" reRender="openFileScript" name="createPreviewLink" oncomplete="openFile();">
            <apex:param name="recordId" value="" assignTo="{!recordIDforAAp}"/>
        </apex:actionFunction>
        <apex:actionFunction action="{!getContractDetails}" reRender="DetailsPanel" name="refreshContractDetails"/>
        <apex:actionFunction action="{!getContent}" reRender="ContentTitle,AType,Description" name="refreshContentDetails"/>
        <apex:actionFunction action="{!getApprovalDetails}" reRender="ApprovalLog" name="refreshApprovalDetails"/>
        
    </apex:form>
</apex:page>