<apex:page Controller="OneWayPdfController" showHeader="false" sidebar="false" applyBodyTag="false" standardStylesheets="false" renderAs="pdf">
    <head>
        <style type="text/css" media="print">
            @page:first
            { 
                @bottom-left{
                content: element(footer);
                }
            
                @top-center{
                content: element(headerFirst);
            }
            
            } 
        
            @page
            {
        <!--    size: A4 landscape;  -->
            margin-left:10px;
            margin-right:10px;
            margin-bottom:90px;
            margin-top:20px;
            
            @top-left{
            content: element(header);
            }
            @bottom-left {
                content: element(footer);
             
                }
            }
            
            div.header {
            position: running(header);  
            }
             
            div.headerFirst {
            position: running(headerFirst);  
            }
               
            div.content {
            position: relative;
            }
            
            div.footer {
            display: block;
            padding: 2px;
            bottom: 0;
            position: running(footer);
            
            }
            
            .container {
                position: relative;
                
            }
            
            div.footerLast {
            display: block;
            position: relative;  
         
            }
           
            #lastPage{
                margin-top: 55em;
            }
            
            div.right {
            float: left;
            font-size: 14px;
            font-family: Arial;
            padding-left: 5.5em;
            color: #424242;
            }
            
            div.left {
            float:;
            font-size: 14px;
            font-family: sans-serief;
            align:;
            color: #424242;
            padding-top: 0px;
            
            }
               .pagenumber:before {
            content: counter(page);
            }
            
           /* .pagecount:before {
            content: counter(pages);
            } */
            
            .tableHeader {
            border-width: 0px 0px 1px 0px;
            border-color: #000;
            border-style: solid;
            }
            
            .sectionHeader {
            width: 100%;
            background-color: #eee;
            font-size: 16pt;
            padding: 5px;
            margin: 20px 0px;
            font-weight: bold;
            }
            
            body {
            font-family:;
            font-size: 13px;
            margin: 0px;
            width: 100%;
            position: relative;
            }
            
            .centered {
            text-align: center;
            }
            
            .tablegroup{
            
            border-right: 1px solid #000;
            border-top: 1px solid #000;
            border-color:#333333;
            border-spacing: 0px;
            } 
     
        </style>
    </head>
    <div class="container">
  
   <div class="header" width="100%" style="vertical-align: top;">
   <!--     <p style="margin: 2.5em; margin-left: 4em; margin-right: 4em;text-align: left; font-family:; font-weight: normal; font-size: 16px; padding-top: 0px; color: #424242;">[NBCUniversal is Disclosing Party] [Note:  If your deal contains or may lead to an M&amp;A transaction, a joint venture, or an equity transfer of any type, <u>do not proceed with this form.</u>Instead, please contact the Corporate Development Group at Comcast Corporate.]</p>
   -->  </div>

    <div class="footer" margin-top="0em">
        <div class="left" align="center"><span class="pagenumber"/></div>
        <div class="right" padding="0px">NBCUniversal:2220191v1<span class="pagenumber"/><span class="pagecount"/></div>
        <p>&nbsp;</p>
    </div>
    
    <div class="content" style="width:100%; height:auto; margin-top: 0px;">
        <p align="center" style="padding-left: 0em; font-weight:bold; font-color:#191919; font-size:16px;">NONDISCLOSURE&nbsp;AGREEMENT</p> 
            
             <div style="text-align: left; font-family:; font-weight:normal; font-size:15px; padding-left: 70px; padding-right: 55px;
              padding-top: 0px; line-height: 1.2; color: #424242; ">
              
                  <span style="padding-left:0px; color: #000000;">This Nondisclosure Agreement (this “Agreement”) is made as of &nbsp;<apex:outputText value="{0,date,MMMM' 'dd', 'yyyy}"><apex:param value="{!lstNDARecrd[0].Effective_Date__c}" /></apex:outputText> (the “Effective Date”) between {!lstNDARecrd[0].NBCU_Legal_Entity_Name__c} (“NBCUniversal”) and 
                  <i><b style="color:#000000">{!lstNDARecrd[0].Counterparty_Entity_Name__c} </b></i>(“Company”). In consideration of NBCUniversal disclosing Confidential Information (as defined herein) to Company and the parties committing time and resources to discuss a potential business relationship (a “Potential Transaction”), NBCUniversal and Company agree as follows: <span style="word-break: break-all;"><apex:outputField value="{!lstNDARecrd[0].Purpose__c}"  /> </span>
                  </span>
                  
               </div>  
            
            <ol>
               <li style="padding-left: 50px; padding-right: 55px; padding-top: 1em; color: #000000; font-size:16px; width:;"><u><b style="color:#000000">Definition of Confidential Information.</b></u> 
               <span>&nbsp;&nbsp;“<u>Confidential Information</u>” means certain information that one party (the “<u>Disclosing Party</u>”) discloses to the other party (the “<u>Receiving Party</u>”) that is designated as confidential or proprietary, or that a reasonable person would expect to be confidential or proprietary.  
               Confidential Information includes the parties’ trade secrets, business, technical and financial information, programming and production plans and schedules, business and editorial practices, pricing terms, product information and personnel information.  Confidential Information also includes this Agreement, the discussions about the Potential Transaction and that the parties have disclosed Confidential Information.  
               Confidential Information does not include information that (a) is or becomes generally available to the public other than as a result of a disclosure by the Receiving Party in violation of this letter agreement, (b) was or becomes available to the Receiving Party on a non-confidential basis from a source that was not known to be prohibited from disclosing such information to the Receiving Party or (c) was 
               independently developed by or on behalf of the Receiving Party through individuals who have not had access to or knowledge of the Confidential Information.</span></li>
                
               <li style="padding-left: 50px; padding-right: 55px; padding-top: 1em; color: #000000; font-size:16px; width:;"><u><b style="color:#000000">Treatment of Confidential Information.</b></u> 
               <span>&nbsp;&nbsp;The Receiving Party and its affiliates, and their respective directors, officers, employees, agents or other representatives (including attorneys, accountants, consultants and other advisors) (collectively, “<u>Representatives</u>”) shall use commercially reasonable efforts to keep the Confidential Information confidential (which efforts shall be no less than those used by the Receiving Party to keep its own similar 
               information confidential) and shall not disclose the Confidential Information in any manner whatsoever except as expressly permitted herein, or use the Confidential Information other than for the purpose of evaluating, negotiating and/or consummating any Potential Transaction.  Moreover, the Receiving Party shall only disclose the Confidential Information to its Representatives on a “need-to-know” basis. The Receiving 
               Party shall be responsible for any breach of this Agreement by its Representatives.</span></li>
                
                
               <li style="padding-left: 50px; padding-right: 55px; padding-top: 1em; color: #000000; font-size:16px; width:;"><u><b style="color:#000000">Disclosure of Confidential Information.</b></u> 
               <span>&nbsp;&nbsp;If the Receiving Party or anyone to whom it transmits the Confidential Information becomes legally required, or receives a request from any governmental agency, to disclose any of the Confidential Information, the Receiving Party shall provide prompt notice to the Disclosing Party so that the Disclosing Party may seek a protective order or other appropriate remedy.  If such protective order or other remedy is 
               not obtained, the Receiving Party shall furnish only that portion of the Confidential Information that is legally required or that the Receiving Party otherwise determines to be reasonably necessary to respond to a governmental request, provided that the Receiving Party exercises its reasonable efforts, at the Disclosing Party’s request and expense, to obtain reliable assurance that confidential treatment will be 
               accorded the Confidential Information so disclosed.  As specified in 18 USC Sec. 1833(b), the Receiving Party shall not be held criminally or civilly liable under any federal or state trade secret law for the disclosure of a trade secret that is made: (a) in confidence to a federal, state or local government official, either directly or indirectly, or to an attorney, and solely for the purpose of reporting or 
               investigating a suspected violation of law, or (b) in a complaint or other document filed in a lawsuit or other proceeding, if such filing is made under seal.</span></li>
                
               <li style="padding-left: 50px; padding-right: 55px; padding-top: 1em; color: #000000; font-size:16px; width:;"><u><b style="color:#000000">Return or Destruction of Confidential Information.</b></u> 
               <span>&nbsp;&nbsp;Upon request by the Disclosing Party, the Receiving Party shall promptly return to the Disclosing Party or, at the Receiving Party’s option, destroy all copies of the Confidential Information in its or its Representatives’ possession.  Notwithstanding the foregoing, (a) the Receiving Party shall be permitted to retain one copy of such materials as may be necessary to document its consideration of any Potential 
               Transaction solely for archival or litigation purposes; and (b) neither the Receiving Party nor any of its Representatives shall be required to destroy or erase any electronic copy of such materials that is created pursuant to such person’s standard electronic backup and archival procedures.  All Confidential Information that is not returned or destroyed shall remain subject to this Agreement for so long as such materials are retained.</span></li>
               
               <li style="padding-left: 50px; padding-right: 55px; padding-top: 1em; color: #000000; font-size:16px; width:;"><u><b style="color:#000000">Proprietary Rights.</b></u> 
               <span>&nbsp;&nbsp;All proprietary and intellectual property rights in and to the Confidential Information shall remain the sole property of the Disclosing Party.  The disclosure of Confidential Information does not grant the Receiving Party a license, option or other right, title or interest in or to Confidential Information. The Receiving Party further agrees that it shall not, and shall not allow others on its behalf to, 
               reverse engineer, decompile or disassemble any equipment, media, software or other Information disclosed to it pursuant to this Agreement. </span></li>
                
               <li style="padding-left: 50px; padding-right: 55px; padding-top: 1em; color: #000000; font-size:16px; width:;"><u><b style="color:#000000">Disclaimer of Warranties.</b></u> 
               <span>&nbsp;&nbsp;The Disclosing Party discloses the Confidential Information without any express or implied representation or warranty hereunder and except in the case of fraud, the Disclosing Party expressly disclaims any and all liability that may be based on the Confidential Information or any errors therein or omissions therefrom.</span></li>
                
               <li style="padding-left: 50px; padding-right: 55px; padding-top: 1em; color: #000000; font-size:16px; width:;"><u><b style="color:#000000">Injunctive Relief.</b></u> 
               <span>&nbsp;&nbsp;Each party acknowledges and agrees that remedies at law would be inadequate to protect against a breach or threatened breach of this Agreement, and it agrees that the other party shall be entitled to seek injunctive relief without the posting of a bond or other security as a remedy for any such breach or threatened breach. Such relief shall not be the exclusive relief for a breach by either party but shall 
               be in addition to all other remedies available at law or equity.</span></li>
                
               <li style="padding-left: 50px; padding-right: 55px; padding-top: 1em; color: #000000; font-size:16px; width:;"><u><b style="color:#000000">Term.</b></u> 
               <span>&nbsp;&nbsp;This Agreement shall terminate automatically on the second anniversary of the Effective Date; provided that the provisions of Sections 5 through 10 and the last two sentences of Section 4 shall survive indefinitely, and any claim for violation of this Agreement shall survive until the expiration of the applicable statute of limitations.  Nothing herein shall be construed to waive, abridge or otherwise limit 
               any protections afforded under applicable law to Confidential Information that consists of trade secrets even if such protections are greater and/or longer than the protections provided for under this Agreement.</span></li>
                
               <li style="padding-left: 50px; padding-right: 55px; padding-top: 1em; color: #000000; font-size:16px; width:;"><u><b style="color:#000000">Governing Law; Waiver of Jury Trial.</b></u> 
               <span>&nbsp;&nbsp;This Agreement shall be governed and construed in accordance with the laws of the State of New York (without regard for principles of conflicts of laws).  Each of the parties waives trial by jury in any action or legal proceeding relating to or arising out of this Agreement.</span></li>
                
               <li style="padding-left: 50px; padding-right: 55px; padding-top: 1em; color: #000000; font-size:16px; width:;"><u><b style="color:#000000">General.</b></u> 
               <span>&nbsp;&nbsp;Neither party shall be liable for any indirect, incidental or consequential damages of any nature or kind resulting from or arising in connection with any breach of this Agreement.  Neither this Agreement nor any of the rights or obligations hereunder may be assigned by either party without the prior written consent of the other party.  This Agreement contains the entire agreement between the parties 
               concerning the confidentiality of the Confidential Information, and no modifications or waivers of this Agreement or any part hereof shall be binding upon either party, except pursuant to a signed writing.  This Agreement may be signed in any number of counterparts (including by fax, PDF or similar electronic means) with the same effect as if the signatures to each counterpart were upon a single instrument, and all 
               such counterparts together shall be deemed an original of this Agreement.</span></li>
           
        <!--        <p align="center" id="signature" style="padding-top: 2em; font-size:16px; font-style: italic; color: #424242;">[signature page follows]</p>   -->
            </ol>
            <p>&nbsp;</p>
             <table width ="100%" height="auto">
                <tbody>
                  <tr>
                      <td width="50%">
                          <table width ="100%" style="text-align: left; font-family:; font-weight: normal; font-size: 16px; padding-left: 83px; padding-right: 50px; line-height: 1em; color: #000000;">
                               <tr>
                                   <td style="padding-bottom: 1em;">Acknowledged and agreed:</td>
                               </tr>
                               <tr>
                                  <td style="">NBCUniversal&nbsp;Media,&nbsp;LLC</td>
                               </tr>
                               <tr>
                                  <td></td>
                              </tr> 
                               <tr>
                                  <td style="">30&nbsp;Rockefeller&nbsp;Plaza</td>
                               </tr>
                               <tr>
                                  <td></td>
                              </tr> 
                               <tr>
                                  <td style="">New&nbsp;York,&nbsp;New&nbsp;York&nbsp;10112</td>
                              </tr>
                          </table>
                      </td>
                      
                      <td width="50%">
                          <table width ="100%" style="text-align: left; font-family:; font-weight: normal; font-size: 16px; padding: 0px;line-height:1em; color: #000000;">
                              <tr>
                                   <td style="padding-bottom: 1em;">{!lstNDARecrd[0].Counterparty_Entity_Name__c}</td>
                              </tr> 
                               <tr>
                                  <td style=""><span style="color:white;">CAddRess1</span></td>
                               </tr>
                               <tr>
                                  <td></td>
                              </tr>
                               <tr>
                                  <td style=""><span style="color:white;">CAddRess2</span></td>
                               </tr>
                               <tr>
                                  <td></td>
                              </tr>
                               <tr>
                                  <td style=""><span style="color:white;">CAddRess3</span></td>
                               </tr> 
                          </table>
                      </td>
                  </tr>
                </tbody>
              </table>
    </div>
        <br/><br/>
     
     <div class = "content1">
             
            <table width ="100%" height="auto">
                <tbody>
                  <tr>
                      <td width="50%">
                          <table width ="100%" style="margin-top: 2em; text-align: left; font-family:; font-weight: normal; font-size: 16px; padding-left: 83px; padding-right: 50px; line-height: 1em; color: #000000;">
                          
                              <tr>
                                  <td style="">By:<span style="color:white;">N</span></td>
                              </tr>
                              <tr>
                                  <td></td>
                              </tr>
                              <tr>
                                  <td></td>
                              </tr>
                              <tr>
                                  <td></td>
                              </tr>
                               <tr>
                                  <td style="">Name:  {!lstNDARecrd[0].NBCU_Signer_Name__c}</td>
                               </tr> 
                               <tr>
                                  <td></td>
                              </tr>
                               <tr>
                                  <td style="">Title:  {!lstNDARecrd[0].NBCU_Signer_Title__c}</td>
                               </tr> 
                               
                          </table>
                      </td>
                      
                      <td width="50%" style="">
                          <table width ="100%" style="margin-top: 2em; text-align: left; font-family:; font-weight: normal; font-size: 16px; padding: 0px;line-height:1em; color: #000000;">
                               
                              <tr>
                                  <td style="">By:<span style="color:white;">C</span></td>
                              </tr>
                               <tr>
                                  <td></td>
                              </tr>
                              <tr>
                                  <td></td>
                              </tr>
                              <tr>
                                  <td></td>
                              </tr>  
                               <tr>
                                  <td style="">Name:<span style="color:white;">C</span></td>
                               </tr> 
                               <tr>
                                  <td></td>
                              </tr>
                               <tr>
                                  <td style="">Title:<span style="color:white;">C</span></td>
                               </tr> 
                               
                          </table>
                      </td>
                  </tr>
                </tbody>
              </table>
      </div>
    
 </div>
</apex:page>