<apex:page standardController="REVVY__MnContract__c">
    <apex:stylesheet value="{!URLFOR($Resource.REVVY__slds2, 'assets/styles/salesforce-lightning-design-system.min.css')}" />

    <apex:includeScript value="{!URLFOR($Resource.REVVY__jquery, 'js/jquery-1.7.1.min.js')}" />

    <apex:sectionHeader title="File Upload" subtitle="Upload Document to Feed"/>
    <div class="slds-form-element">
    <button class="slds-button" type="submit" name="returnToContract" onclick="mnNavigateToUrl('{!$Site.Prefix}/{!$CurrentPage.parameters.Id}');">Return to Contract</button>
    </div>
    <!--<input id="returntocontractbutton" value="Return to Contract" class="zen-btn zen-highlightBtn" name="returntocontractbutton" onclick="mnNavigateToUrl('{!$Site.Prefix}/{!$CurrentPage.parameters.Id}');"/>-->
    <!--<input id="returntocontractbutton" value="Return to Contract" class="slds-button" name="returntocontractbutton" onclick="mnNavigateToUrl('{!$Site.Prefix}/{!$CurrentPage.parameters.Id}');"/>-->
    <chatter:feed entityId="{!$CurrentPage.parameters.Id}"></chatter:feed>
    <script>
       var j$=jQuery.noConflict();
       j$(function() {
           j$('#publisherAttachContentPost').trigger('click');
           j$('#publisherAttachTextPost').hide();
           j$('#publisherAttachLinkPost').hide();
           j$('#publisherAttachPollPost').hide();
           j$('#publisherAttach09D41000006fadB').hide();
           j$('#publisherDropdown').hide();
           j$('#chatterUploadFileAction').trigger('click');
           j$('#publishersharebutton').attr("value","Upload");
           j$('.clearContentPanelButtonContainer').hide();
       });
    </script>
    <script src="{!$Resource.REVVY__staticui}/mnadmin/ui/src/js/mnNav.js"></script>
</apex:page>