<apex:page standardController="REVVY__MnContract__c" extensions="ReviewCAFController" sidebar="false" id="pg" showHeader="false" docType="html-5.0" cache="false">
   <apex:form >    
        <head>
            <meta charset="utf-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/bootstrap.min.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/ionicons.min.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/nifty.min.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/pace.min.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/bootstrap-select.min.css')}"/> 
            <!-- <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/plugin/pace.min.css')}"/> For Progress bar while loading
            <apex:includeScript value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/plugin/pace.min.js')}"/> -->
            <apex:includeScript value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/jquery.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/bootstrap.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/nifty.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/bootstrap-select.min.js')}"/>
            <apex:includeLightning />
            <apex:includeScript value="/lightning/lightning.out.js" />
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
 
            <script>
            $(document).ready(function(){
                $("#sort").click(function(){
                    $("#sortdiv").addClass("open");
                });
            });
            window.onload = function() {
                refreshContractDetails();
                refreshContentDetails();
                refreshApprovalDetails();
                if(!window.location.hash) {
                    window.location = window.location + '#loaded';
                    window.location.reload();
                }
            };
            </script>
            <style>
                #style-1::-webkit-scrollbar-track
                {
                -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
                border-radius: 10px;
                background-color: #FFF;
                }
                #style-1::-webkit-scrollbar
                {
                width: 3px;
                background-color: #FFF;
                }
                #style-1::-webkit-scrollbar-thumb
                {
                border-radius: 1px;
                -webkit-box-shadow: inset 0 0 6px rgba(122,135,142,0.3);
                background-color: #7a878e;
                }
                #style-1:hover { overflow-y:auto; }
                .scrollbar
                {
                height: 550px;
                overflow-y: hidden;
                }
                .header-details{
                color:#25476A;
                width:45%; /*40%*/
                padding-right:50px;
                white-space: normal;
                vertical-align: top;
                }
                .header-approvers{
                color:#25476A;
                white-space: normal;
                }
                .pad-bot{
                padding-bottom:25px;
                }
                textarea {
                   resize: none;
                }
                
           .hadrPosition {
            position: fixed;
           }
                .hadImg {
            width: 85%;
            text-align: left;
           }
           .hidUser {
           float: left;
           color: #f2f2f2;
           padding: 7px 16px;
           text-decoration: none;
           font-size:  1.3rem;
           }
           .contanerBdy {
            padding: 0% 8% 0px 8%;
            width: 85%;
            min-width: 600px;
           } 
           .topnav {
           overflow: hidden;
           background-color: #0d3449;
           }
           
           .topnav .hedClass {
           float: left;
           color: #f2f2f2;
           padding: 14px 16px;
           text-decoration: none;
           font-size:  1.3rem;
           }
           .hadLink {
           display: none;
           }
           .topnav .icon {
           display: none;
           }
           
           .modal-dialog{
           top:0px;
           }
           .mobBtnPnl{
            display:none;
           }
           
           
           @media screen and (max-width: 800px) {
           .hidbtn{
           display:none;
           }
           .hadrPosition {
            position: fixed;
           }
                     .topnav .hedClass:not(:first-child) {display: none;}
           .hadImg {
            text-align: left;
           }
           .hidUser {
           display: none;
           }
           .topnav .hedClass.icon {
           float: right;
           display: block;
           }
           .topnav.responsive {position: relative;}
           .topnav.responsive .icon {
           position: absolute;
           right: 0;
           top: 0;
           }
           .topnav.responsive .hedClass  {
           float: none;
           display: block;
           text-align: left;
           }
           .contanerBdy {
            padding: 0% 0% 0% 0%;
            min-width: 0px;
           } 
           
           .mobBtnPnl{
            display:block;
           }
           .dtBtnPnl{
            display:none;
           }
           }
           
          
           
           @media only screen and (min-width: 800px){
           .hadImg {
            width: 35%;
            text-align: left;
           }
           }
           
           
            </style>
            <script>
            function myFunction() {
           var x = document.getElementById("myTopnav");
           if (x.className === "topnav") {
               x.className += " responsive";
           } else {
               x.className = "topnav";
           }
       }
            function searchcontract(){
                var name = document.getElementById("contractnamesearch").value;
                //alert(name);
                search(name);
            }
            function refresh(){
                document.getElementById("contractnamesearch").value = '';
                search();
            }
            function downloadcsv(){
                window.open('{!$Site.BaseUrl}/apex/ContractstoExcel','_blank');
            }
          /*  function approveContract(){
                var url = '/apex/EmbeddedManageApprovals?EmailConId={!contract.Id}&EmailConName={!contract.Name}&EmailSource=ApproveWeb';
                url+='&resource=approvalbundle&entry=approvalHistory#/approval/contract/';
                window.open(url);
            }*/
            function downloadFile(id){
                                  $('#myModal8'+id).modal('hide');
                window.open('/sfc/servlet.shepherd/version/download/'+id);
                
                var isIE = /*@cc_on!@*/false || !!document.documentMode;

                if(isIE){
                newWindow.onload = function() {
                  newWindow.close();
                };
                }
            }
            
            function downloadAllFile(){
            
                $('#myModal9').modal('hide');
                
               var records = '';
                <apex:repeat value="{!content}" var="con"> 
                    records += '/'+'{!con.id}';  
                </apex:repeat> 
                
                   window.open('/sfc/servlet.shepherd/version/download'+records );
                
                var isIE = /*@cc_on!@*/false || !!document.documentMode;

                if(isIE){
                newWindow.onload = function() {
                  newWindow.close();
                };
                }

            }
            
            function openFile(ext,id){
              /*  if(ext == 'pdf'){
                    window.open('/apex/DocumentViewer?id='+id);
                }else{
                    window.open('/sfc/servlet.shepherd/version/download/'+id);
                }*/
               // window.open('/sfc/servlet.shepherd/version/download/'+id);
               
                $("#filePreview").html('<embed src="/_swf/1996007/sfc/flex/DocViewer.swf" flashvars="shepherd_prefix=/sfc/servlet.shepherd&v='+id+'&mode=chatterfilepreview&in_tests=false" width="100%" height="500px" align="middle" id="renditionLarge" quality="high" bgcolor="#f3f3f3" name="renditionLarge" allowscriptaccess="sameDomain" allowfullscreen="true" pluginspage="http://www.adobe.com/go/getflashplayer" wmode="opaque" type="application/x-shockwave-flash"> </embed>');
                
                ApproverAuditReport(id);
                return false;
            }
            function showData(){
                $(".boxed").show();
            }
            </script>
        </head>
        <body style="background-color:#f9f9f9;">
            
            <apex:outputpanel id="openFileScript">
                <script>
                
                function openFile(){
                    $(".boxed").hide();
                    $("#filePreview").html('<apex:iframe src="{!previewLink}" ></apex:iframe>');                                        
                    ApproverAuditReport('{!recordIDforAAp}');
                    return false;
                }
                </script>
            </apex:outputpanel>
            
            
            
            
            <div class="contanerFix " >
    <div class="topnav" id="myTopnav">

       <div class="slds-tabs_scoped hadrPosition contanerFix "  style="background-color: #0d3449;width:100%;z-index:200;">
           <div class="hedClass  hadImg "  >
               <span><apex:image url="{!$Resource.ComcastLogoNew}" width="auto" height="28px"/></span>
               <span style="position: relative;top: 9px;">| eCAF Request Tool</span>
           </div>
           <div class="hidUser hedSize " style="float:right;">
                <i class="material-icons" style="font-size:20px;position: relative;top: 6px;">person</i>
               
               {!$User.FirstName} {!$User.LastName}
           </div>
           <div class="hedSize hidbtn"  style="float:right;margin:15px;">
                <a href="/apex/ContractApprovalDashboard" target="_self" style="color:#ffffff;text-decoration: none !important;">Approver Dashboard</a>
           </div>
           <div class="hedSize hidbtn" style="float:right;margin:15px;">
                <a href="/apex/ContractRequesterDashboard" target="_self" style="color:#ffffff;text-decoration: none !important;">Requester Dashboard</a>
           </div>
           <div class="hedClass hedSize hadLink">
                <a href="/apex/ContractRequesterDashboard" target="_self" style="color:#ffffff;text-decoration: none !important;">Requester Dashboard</a>
           </div>
           <div class="hedClass hedSize hadLink">
                <a href="/apex/ContractApprovalDashboard" target="_self" style="color:#ffffff;text-decoration: none !important;">Approver Dashboard</a>
           </div>
           
           <div  class="icon hedClass" >
               <i class="fa fa-bars" id="myTopnav1" onclick="myFunction()"></i>
           </div>
           
           <div class="hedSize">
           <div class="" style="height:54px;"></div>
           <div style="background-image: linear-gradient(-9deg, #0DB04A 0%, #038ACF 25%,#635EAB 42%, #C9244A 58%, #F27021 75%,#FCBA12 100% );height:3px;"></div>
          </div>
       </div>
     </div>    
   </div>
   
            
            
       
      
            
            <div class="effect aside-float aside-bright mainnav-lg " id="main-div" style="padding-top:50px;">
                <div class="boxed">
                
              <!--  <apex:slds/>
                <div class="slds-tabs_scoped slds-is-fixed"   style="background-color: #0d3449;width:100%;z-index:200;min-width:1250px;">
            <ul class="slds-tabs_scoped__nav" role="tablist" style="background-color: #0d3449;padding:10px;">
            <li class="slds-tabs_scoped__item" role="presentation" style="color:#ffffff;font-size: 0.8rem;width:25%;">
                <span><apex:image url="{!$Resource.ComcastLogoNew}" width="72px" height="72px"/></span>
                <span style="position: relative;top: 10px;">| eCAF Request Tool</span>
            </li>
            <li class="slds-tabs_scoped__item" role="presentation" style="color:#ffffff;width:41%;">
            
            </li>
            <li class="slds-tabs_scoped__item" role="presentation" style="color:#ffffff;font-size: 0.8rem;width:12%;position: relative;top: 8px;">
            <a href="/apex/ContractRequesterDashboard" target="_blank" style="color:#ffffff;text-decoration: none !important;">Requester Dashboard</a>
            </li>
            <li class="slds-tabs_scoped__item" role="presentation" style="color:#ffffff;font-size: 0.8rem;width:12%;position: relative;top: 8px;">
            <a href="/apex/ContractApprovalDashboard" target="_blank" style="color:#ffffff;text-decoration: none !important;">Approver Dashboard</a>
            </li>
            <li class="slds-tabs_scoped__item" role="presentation" style="color:#ffffff;font-size: 0.8rem;width:10%;position: relative;top: 0px;">
    <i class="material-icons" style="font-size:20px;position: relative;top: 6px;">person</i>
              
                      {!$User.FirstName} {!$User.LastName}
            </li>
            </ul>
         </div>
              -->
             <!--CONTENT CONTAINER-->
                    <div id="container">
                        <div id="page-content">
                        
                             
            
            
           
            <!-- Modal -->
  <div style="margin-left:28px;" class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
        <!--  <button type="button" class="close" data-dismiss="modal">&times;</button>-->
        </div>
        <div class="modal-body">
          <p>By approving the contract, you acknowledge that you have reviewed the contract to the degree reasonably required for you to grant your approval of this transaction.</p>
        </div>
        <div class="modal-footer" style="text-align: center;">
              <button type="button" data-dismiss="modal" class="btn btn-default" style="background: #0d3449 !important; color:white !important; Padding: 8px;width:200px;height:2.9em; font-size:1em" >Cancel</button>
          <apex:commandButton value="Continue"  html-data-dismiss="modal"  html-data-toggle="modal" html-data-target="#myModal6" reRender="ApprovalLog,ButtonsPanel,ButtonsPanel1,approveStatus,approveStatus1" action="{!approveContract}"  style="background: #0d3449 !important; color:white !important;  Padding: 8px;width:200px;height:2.9em; font-size:1em"  styleClass="btn" />
          
        </div>
      </div>
      
    </div>
  </div>
            
            
            
                   <!-- Modal -->
  <div style="margin-left:28px;" class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
        <!--  <button type="button" class="close" data-dismiss="modal">&times;</button>-->
        </div>
        <div class="modal-body">
          <p>Editing and resubmitting the request form will restart the CAF Approval from the beginning.</p>
        </div>
        <div class="modal-footer" style="text-align: center;">
          <button type="button" data-dismiss="modal" class="btn btn-default" style="background: #0d3449 !important; color:white !important; Padding: 8px;width:200px;height:2.9em; font-size:1em" >Cancel</button>
          <apex:commandButton value="Continue" action="{!resubmitContract}"  style="background: #0d3449 !important; color:white !important;  Padding: 8px;width:200px;height:2.9em; font-size:1em"  styleClass="btn" />
        </div>
      </div>
      
    </div>
  </div>
            
            
            
  <div style="margin-left:28px;" class="modal fade" id="myModal13" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header">
        <!--  <button type="button" class="close" data-dismiss="modal">&times;</button>-->
        </div>
        <div class="modal-body" style="text-align: center;">
          Please add your rejection comments.<br/><br/>
          <apex:inputTextarea cols="40"  value="{!rejectComment}" rows="3" />
        </div>
        <div class="modal-footer" style="text-align: center;">
          <button type="button" data-dismiss="modal" class="btn btn-default" style="background: #0d3449 !important; color:white !important; Padding: 8px;margin-left:2%;width:200px;height:2.9em; font-size:1em" >Cancel</button>
          <apex:commandButton html-data-dismiss="modal" value="Continue" reRender="ApprovalLog,ButtonsPanel,ButtonsPanel1,rejectStatus,rejectStatus1"  html-data-toggle="modal" html-data-target="#myModal5"  action="{!rejectContract}"  style="background: #0d3449 !important; color:white !important;  Padding: 8px;width:200px;height:2.9em; font-size:1em"  styleClass="btn" />
        </div>
      </div>
      
    </div>
  </div>
            
                    
            
                   <!-- Modal -->
  <div style="margin-left:28px;position:relative; top:0px;height:auto!important;" class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog" style="width:100%;height:100%;">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
         <!-- <button type="button" class="close" data-dismiss="modal" onClick="deletePreviewLink();return false;">&times;</button>-->
        </div>
        <div class="modal-body" id="filePreview"  style="height:500px;overflow-y:auto;">
        
        </div>
        <div class="modal-footer" style="text-align: center;">
          <button type="button" data-dismiss="modal" class="btn btn-default" style="background: #0d3449 !important; color:white !important; Padding: 8px;width:200px;height:2.9em; font-size:1em"  onClick="showData();deletePreviewLink();return false;">Close</button>
        </div>
      </div>
      
    </div>
  </div>      
   
   
   <div style="margin-left:28px;" class="modal fade" id="myModal5" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
        <!--  <button type="button" class="close" data-dismiss="modal">&times;</button>-->
        </div>
        <div class="modal-body" style="text-align:center;">
        <apex:outputPanel id="rejectStatus">
            <apex:outputPanel rendered="{!if(isProcessSucc=='',true,false)}">Processing...</apex:outputPanel>
            <apex:outputPanel rendered="{!if(isProcessSucc=='Reject',true,false)}">Your Request has been rejected.</apex:outputPanel>
            <apex:outputPanel rendered="{!if(isProcessSucc=='RejectError',true,false)}">Error processing your request.</apex:outputPanel>
        </apex:outputPanel>
        </div>
        <div class="modal-footer" style="text-align: center;">
        <apex:outputPanel id="rejectStatus1">
            <apex:outputPanel rendered="{!if(isProcessSucc=='',true,false)}">
                <button disabled="disabled" type="button" class="btn btn-default" style="background: #0d3449 !important; color:white !important; Padding: 8px;margin-left:2%;width:200px;height:2.9em; font-size:1em" >Close</button>
            </apex:outputPanel>
        <apex:outputPanel rendered="{!if(isProcessSucc=='',false,true)}">
          <button type="button" data-dismiss="modal" onclick="location.reload();" class="btn btn-default" style="background: #0d3449 !important; color:white !important; Padding: 8px;margin-left:2%;width:200px;height:2.9em; font-size:1em" >Close</button>
        </apex:outputPanel>
        </apex:outputPanel>
        </div>
      </div>
      
    </div>
  </div>
  
   
   <div style="margin-left:28px;" class="modal fade" id="myModal6" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
        <!--  <button type="button" class="close" data-dismiss="modal">&times;</button>-->
        </div>
        <div class="modal-body" style="text-align:center;">
        <apex:outputPanel id="approveStatus">
            <apex:outputPanel rendered="{!if(isProcessSucc=='',true,false)}">Processing...</apex:outputPanel>
            <apex:outputPanel rendered="{!if(isProcessSucc=='Approve',true,false)}">Your Request has been approved.</apex:outputPanel>
            <apex:outputPanel rendered="{!if(isProcessSucc=='ApproveError',true,false)}">Error processing your request.</apex:outputPanel>
        </apex:outputPanel>
        </div>
        <div class="modal-footer" style="text-align: center;">
        <apex:outputPanel id="approveStatus1">
            <apex:outputPanel rendered="{!if(isProcessSucc=='',true,false)}">
                <button disabled="disabled" type="button" class="btn btn-default" style="background: #0d3449 !important; color:white !important; Padding: 8px;margin-left:2%;width:200px;height:2.9em; font-size:1em" >Close</button>
            </apex:outputPanel>
        <apex:outputPanel rendered="{!if(isProcessSucc=='',false,true)}">
          <button type="button"  onclick="location.reload();" data-dismiss="modal" class="btn btn-default" style="background: #0d3449 !important; color:white !important; Padding: 8px;margin-left:2%;width:200px;height:2.9em; font-size:1em" >Close</button>
        </apex:outputPanel>
        </apex:outputPanel>
        </div>
      </div>
      
    </div>
  </div>
  
   
   <div style="margin-left:28px;" class="modal fade" id="myModal7" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
        <!--  <button type="button" class="close" data-dismiss="modal">&times;</button>-->
        </div>
        <div class="modal-body" style="text-align:center;">
        <apex:outputPanel id="recallStatus">
            <apex:outputPanel rendered="{!if(isProcessSucc=='',true,false)}">Processing...</apex:outputPanel>
            <apex:outputPanel rendered="{!if(isProcessSucc=='Recall',true,false)}">Your Request has been recalled.</apex:outputPanel>
            <apex:outputPanel rendered="{!if(isProcessSucc=='RecallLTO',true,false)}">Your request has been recalled. Someone from the Legal Technology Operations team will reach out to you shortly.</apex:outputPanel>
            <apex:outputPanel rendered="{!if(isProcessSucc=='RecallError',true,false)}">Error processing your request.</apex:outputPanel>
        </apex:outputPanel>
        </div>
        <div class="modal-footer" style="text-align: center;">
        
        <apex:outputPanel id="recallStatus1">
            <apex:outputPanel rendered="{!if(isProcessSucc=='',true,false)}">
                <button disabled="disabled" type="button" class="btn btn-default" style="background: #0d3449 !important; color:white !important; Padding: 8px;margin-left:2%;width:200px;height:2.9em; font-size:1em" >Close</button>
            </apex:outputPanel>
        <apex:outputPanel rendered="{!if(isProcessSucc=='',false,true)}">
          <button type="button" data-dismiss="modal" class="btn btn-default" style="background: #0d3449 !important; color:white !important; Padding: 8px;margin-left:2%;width:200px;height:2.9em; font-size:1em" >Close</button>
        </apex:outputPanel>
        </apex:outputPanel>
        </div>
      </div>
      
    </div>
  </div>
  
       <div style="margin-left:28px;" class="modal fade" id="myModal9" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
           <!--   <button type="button" class="close" data-dismiss="modal">&times;</button>-->
            </div>
            <div class="modal-body" style="text-align:center;">
            <p><b>IMPORTANT REMINDER:</b> Files should only be downloaded to appropriate devices and should not be downloaded to a public computer (hotel, airport, etc).</p>
            </div>
            <div class="modal-footer" style="text-align: center;">
              <button type="button" data-dismiss="modal" class="btn btn-default" style="background: #0d3449 !important; color:white !important; Padding: 8px;margin-left:2%;width:200px;height:2.9em; font-size:1em" >Cancel</button>
                <apex:commandLink onclick="downloadAllFile();" styleClass="btn btn-default" style="background: #0d3449 !important; color:white !important; Padding: 8px;margin-left:2%;width:200px;height:2.9em; font-size:1em;text-decoration:none;" value="Download"/>
            </div>
          </div>
        </div>
      </div>
                        
        
       <div style="margin-left:28px;" class="modal fade" id="myModal17" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
           <!--   <button type="button" class="close" data-dismiss="modal">&times;</button>-->
            </div>
            <div class="modal-body" style="text-align:center;">
            <p>Are you sure you want to recall this request.</p>
            </div>
            <div class="modal-footer" style="text-align: center;">
              <button type="button" data-dismiss="modal" class="btn btn-default" style="background: #0d3449 !important; color:white !important; Padding: 8px;margin-left:2%;width:200px;height:2.9em; font-size:1em" >Cancel</button>
                <apex:commandButton html-data-dismiss="modal" value="Continue" reRender="ApprovalLog,ButtonsPanel,ButtonsPanel1,recallStatus,recallStatus1" html-data-toggle="modal" html-data-target="#myModal7"  action="{!recallContract}"  style="background: #0d3449 !important; color:white !important;  Padding: 8px;width:200px;height:2.9em; font-size:1em"  styleClass="btn" />
              </div>
          </div>
        </div>
      </div>
                        
                        
                           <apex:outputPanel id="ButtonsPanel" styleClass="dtBtnPnl">
                           <center>
                               <apex:commandButton rendered="{!isRecall}"  html-data-toggle="modal" html-data-target="#myModal17"    reRender="nothing" styleClass="btn" value="Recall"
                                                   style="background: #fff!important; color:#1d7caf !important; Padding: 8px;width:200px;height:2.9em; font-size:1emborder: 5px #1d7caf !important;"  />             
                                
                             <!-- <apex:commandButton rendered="{!isRecalled}" value="Cancel"  style="background: #fff !important; color:#1d7caf !important; 
                                                               Padding: 8px;width:200px;height:2.9em; font-size:1emborder: 5px #1d7caf;" reRender="nothing" styleClass="btn" />
                            
                              <apex:commandButton rendered="{!isRecalled}" html-data-toggle="modal" html-data-target="#myModal2"   value="Edit and Resubmit"  style="background: #fff !important; color:#1d7caf !important; 
                                                               Padding: 8px;width:200px;height:2.9em; font-size:1emborder: 5px #1d7caf;" reRender="nothing" styleClass="btn" /> --> 
                            
                             <apex:commandButton rendered="{!isApprovalReview}" html-data-toggle="modal" html-data-target="#myModal"   value="Approve"  style="background: #fff !important; color:#1d7caf !important; 
                                                               Padding: 8px;width:200px;height:2.9em; font-size:1emborder: 5px #1d7caf;" reRender="nothing" styleClass="btn" />
                                   
                             <apex:commandButton rendered="{!isApprovalReview}" value="Reject"  html-data-toggle="modal" html-data-target="#myModal13"
                                     style="background: #fff !important; color:#1d7caf !important;Padding: 8px;width:200px;height:2.9em; font-size:1emborder: 5px #1d7caf;"  styleClass="btn" reRender="ApprovalLog,ButtonsPanel,ButtonsPanel1,rejectStatus" />
                           
                             <apex:commandButton rendered="{!isApprovalReview}" value="Reassign / Add Approver" action="{!reviewContract}" style="background: #fff !important; color:#1d7caf !important; 
                                                               Padding: 8px;width:200px;height:2.9em; font-size:1emborder: 5px #1d7caf;"  styleClass="btn" />
                             
                             </center>
                            </apex:outputPanel>
                        
                        
                            <div class="row"  style="padding-top:15px;">
                                <apex:outputPanel id="DetailsPanel">
                                <!--<div style="padding-bottom:10px;">
                                   <a href="/apex/ContractRequesterDashboard" style="background: #1d485d !important; color:white !important;margin-left:20px; Padding: 8px;width:200px;height:2.9em; font-size:1em" Class="btn" onClick="BackToDashboard();" >  <i class="fa fa-arrow-left"></i> Back to Dashboard</a>
                                </div>-->
                                    <div class="col-lg-7">  <!-- Contract Details Column -->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <div style="padding-top: 15px;">
                                                    <h3 class="panel-title" style="color:#25476A;font-weight: bold;">
                                                        Contract Detail
                                                    </h3> 
                                                    <a style="background:transparent;color:#838383;float:right;cursor:pointer;padding-top: 10px;padding-right: 25px;" onclick="refreshContractDetails();">
                                                        <i class="fa fa-refresh" style="font-size:1.4em !important;vertical-align: middle;" aria-hidden="true"/>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="panel-body" id="fieldset" style="max-height:1000px;min-height:380px;">
                                                <div class="table-responsive scrollbar" id="style-1">
                                                    <table style="width:100%;">
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Requester Name:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!contract.Requester_Formula__c}"/></th>
                                                        </tr>
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Requester Email:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!contract.Contract_Owner_Email__c}"/></th>
                                                        </tr>
                                                        
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Contract Request Number:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!contract.REVVY__ContractId__c}"/></th>
                                                        </tr>
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Choose the appropriate Contract Approval Form (“CAF”):"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!contract.CAF_Type__c}"/></th>
                                                        </tr>
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Business Unit:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!If(contract.Business_Unit__c == '','N/A',contract.Business_Unit__c)}"/></th>
                                                        </tr>
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Contract Name:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!contract.Name}" style="word-break:break-word;"/></th>
                                                        </tr>
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Counterparty (Legal Entity):"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!contract.Counterparty__c}" style="word-break:break-word;"/></th>
                                                        </tr>
                                                      <!--  <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Currency:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!contract.REVVY__Currency__c}"/></th>
                                                        </tr>-->
                                                        
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Contract Value:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputField value="{!contract.Contract_Value__c}"/></th>
                                                        </tr>
                                                        
                                                        
                                                    <!--Professional Services Sourcing-->    
                                                        <tr style="{!If(AND(contract.CAF_Type__c != 'Cable Division',contract.CAF_Type__c != 'Cable Division - Advertising',contract.CAF_Type__c !='Cable Division - Comcast India'),'display:none','')}"> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Is this a Professional Services Sourcing contract?"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!contract.Is_Sourcing_Contract__c}"/></th>
                                                        </tr>
                                                        
                                                        <!--Is the Contract based-->  
                                                        <tr style="{!If(AND(contract.CAF_Type__c != 'Cable Division',contract.CAF_Type__c != 'Cable Division - Advertising',contract.CAF_Type__c !='Cable Division - Preferred Vendor'),'display:none','')}"> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Is the Contract based on an unmodified form previously approved by the Law Department?"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!contract.Unchanged_legal_provided_template_used__c}"/></th>
                                                        </tr>
                                                             
                                                        <!--Corporate Development contract-->        
                                                        <tr style="{!If(AND(contract.CAF_Type__c != 'Cable Division',contract.CAF_Type__c != 'Cable Division - Advertising',contract.CAF_Type__c !='Cable Division - Comcast India',contract.CAF_Type__c !='CAF - Leisure Arts', contract.CAF_Type__c !='CAF - Corporate Division'),'display:none','')}"> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Binding Corporate Development contract?"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!contract.Is_Binding_Corporate_Dev_Contract__c}"/></th>
                                                        </tr>
                                                         
                                                      <!--Crypto-->  
                                                        <tr > 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Involves Crypto Currency, Derivatives, Letter of Credit, or Comcast obligations of a non-wholly owned subsidiary?"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!contract.Crypto_Do_any_apply_below_question__c}"/></th>
                                                        </tr>
                                                        <tr style="{!If(!Lessthan100kBoolean,'display:none','')}"> 
                                                            <th class="text-semibold header-details pad-btm">Contract under $100K that requires Legal Approval?</th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!contract.Above_statements_applicable_to_Contract__c}"/></th>
                                                        </tr>
                                                        
                                                        <!--Are any of the below true?-->  
                                                      <!--  <tr style="{!If(AND(contract.CAF_Type__c != 'Cable Division',contract.CAF_Type__c != 'Cable Division - Advertising',contract.CAF_Type__c !='Cable Division - Comcast India'),'display:none','')}"> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Are any of the below true?"/></th>
                                                            <th style="white-space: normal;" class="pad-btm"><apex:outputText value="{!contract.SW_extension_processed_by_Procurement__c}"/></th>
                                                        </tr>-->
                                                          
                                                        
                                                        <tr> 
                                                            <th class="text-semibold header-details pad-btm"><apex:outputText value="Brief Summary:"/></th>
                                                            <th style="white-space: normal;" class="pad-btm bq-sm"><apex:outputText id="briefsummary" value="{!contract.Brief_Summary__c}" escape="false" style="word-break:break-word;"/></th>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </apex:outputPanel>
                                <div class="col-lg-5"> <!-- Files/Attachments Column -->
                                    <div class="panel panel-body">
                                        <div class="table-responsive" style="max-height:1000px; min-height:380px">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th style="font-size:1.1em"><span style="vertical-align: -webkit-baseline-middle;">Files/Attachments</span>
                                                            <!-- <apex:commandButton value="Refresh" reRender="ContentTitle,AType,Description" action="{!getContent}" 
                                                                    style="background: #b052c0 !important; color:white !important; Padding: 1px 8px 1px 8px; float:right" 
                                                                    styleClass="btn btn-purple"/> -->
                                                         <div style="float:right;">
                                                            <apex:commandLink style="color:#1d7caf" html-data-toggle="modal" html-data-target="#myModal9" reRender="nothing" > Download All </apex:commandLink>
                                                               &nbsp;&nbsp;&nbsp;
                                                            <a style="background: transparent;color: #838383;float:right;cursor:pointer" onclick="refreshContentDetails();" >
                                                                <i class="fa fa-refresh" style="font-size:1.3em !important;vertical-align: middle;" aria-hidden="true"/>
                                                            </a>
                                                          </div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                            </table>
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <apex:repeat value="{!content}" var="con">
                                                            <table class="table table-striped">
                                                                <tr>
                                                                    <th class="text-semibold" style="Width:35%">
                                                                        <apex:commandLink action="{!createPublicPreviewLink}" style="word-wrap: break-word;white-space: normal;" styleclass="btn-link text-semibold" value="{!con.Title}" id="ContentTitle"  target="_blank">
                                                                        <apex:param name="recordId" assignTo="{!recordIDforAAp}" value="{!con.Id}"/>
                                                                    </apex:commandLink>                                        
                                                                      <!--   <a href="/" onclick="createPreviewLink('{!con.Id}');return false;" class="btn-link text-semibold" data-toggle="modal" data-target="#myModal4" data-backdrop="static" data-keyboard="false" style="color:#3f8bd9;">{!con.Title}</a>
                                                                        <apex:commandLink onclick="openFile('{!con.FileExtension}','{!con.Id}');" styleclass="btn-link text-semibold" value="{!con.Title}" id="ContentTitle"/>-->
                                                                    </th>
                                                                    <th class="text-semibold" style="Width:30%"><div style="max-width:134px !important;width:100%;background-color:#1d7caf;" class="{!If(con.Attachment_Type__c == 'Contract','label label-table',
                                                                                                                            IF(con.Attachment_Type__c == 'Legal Memo','label label-table',
                                                                                                                            If(con.Attachment_Type__c == 'Justification Memo','label label-table','label label-table')))}">
                                                                        <apex:outputText value="{!If(con.Attachment_Type__c!='',con.Attachment_Type__c,'Other')}" id="AType"/></div></th>
                                                                    <th class="text-semibold" style="Width:35%;word-wrap: break-word;"><div style="white-space: normal;"><apex:outputText value="{!If(con.Description!='',con.Description,'N/A')}" id="Description"/></div></th>
                                                                    <th> <apex:commandLink style="border:none;" html-data-toggle="modal" html-data-target="#myModal8{!con.Id}" reRender="nothing" > <i class="material-icons" style="font-size:20px;position: relative;">save_alt</i> </apex:commandLink>
                                                                    <div style="margin-left:28px;" class="modal fade" id="myModal8{!con.Id}" role="dialog">
                                                                        <div class="modal-dialog">
                                                                          <div class="modal-content">
                                                                            <div class="modal-header">
                                                                            <!--  <button type="button" class="close" data-dismiss="modal">&times;</button>-->
                                                                            </div>
                                                                            <div class="modal-body" style="text-align:center;">
                                                                                <p style="word-wrap: break-word;"><b>IMPORTANT REMINDER:</b> Files should only be<br/>downloaded to appropriate devices and should<br/>not be downloaded to a public computer<br/>(hotel, airport, etc).</p>
                                                                            </div>
                                                                            <div class="modal-footer" style="text-align: center;">
                                                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                                               <button type="button" data-dismiss="modal" class="btn btn-default" style="background: #0d3449 !important; color:white !important; Padding: 8px;margin-left:2%;width:200px;height:2.9em; font-size:1em" >Cancel</button>
                                                                             </div>
                                                                             <div class="col-lg-6 col-md-6 col-sm-12">
                                                                               <apex:commandLink onclick="downloadFile('{!con.Id}');" styleClass="btn btn-default" style="background: #0d3449 !important; color:white !important; Padding: 8px;margin-left:2%;width:200px;height:2.9em; font-size:1em;text-decoration:none;" value="Download"/>
                                                                            </div>
                                                                            </div>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                    </th>
                                                                </tr>
                                                            </table>
                                                        </apex:repeat>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <apex:outputPanel id="ApprovalLog">
                                                <div class="table-responsive">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr> 
                                                                <th>Approver Status</th>
                                                                <th width="25%">Approver Title</th>
                                                                <th>Approver Name</th>
                                                                <th>Date</th>
                                                                <th><span style="vertical-align: -webkit-baseline-middle;">Comments</span>
                                                                    <a style="background:transparent;color:#838383;float:right;cursor:pointer" onclick="refreshApprovalDetails();">
                                                                        <i class="fa fa-refresh" style="font-size:1.5em !important;vertical-align: middle;" aria-hidden="true"/>
                                                                    </a>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <apex:repeat value="{!ApprovalLog}" var="AL">
                                                                <tr>
                                                                    <!--<th width="25%"><div class="{!If(AL.REVVY__Status__c == 'Approved','text-success',
                                                                                    IF(AL.REVVY__Status__c == 'Not Started','text-mint',
                                                                                    If(AL.REVVY__Status__c == 'Pending Approval','text-warning',
                                                                                    If(AL.REVVY__Status__c == 'Rejected','text-danger','text-info'))))}">
                                                                        <apex:outputText value="{!AL.REVVY__StepInst__r.Name}" styleClass="text-semibold" id="ApprovalTitle"/></div>
                                                                    </th>-->
                                                                   <!-- <th><div class="label label-table" style="max-width:125px !important;min-width: 85px !important; overflow: visible;{!If(AL.REVVY__Status__c == 'Initializing','background-color:#0089cf;',
                                                                                    IF(AL.REVVY__Status__c == 'Resolving Approvers','background-color:#0089cf;',
                                                                                    IF(AL.REVVY__Status__c == 'Not Started','background-color:#625ea9;',
                                                                                    IF(AL.REVVY__Status__c == 'Pending Approval','background-color:#0089cf;',
                                                                                    IF(AL.REVVY__Status__c == 'Rejected','background-color:#f44336;',
                                                                                    IF(OR(AL.REVVY__Status__c == 'Approved',AL.REVVY__Status__c == 'Reassigned'),'background-color:#7fc42e;',
                                                                                    IF(AL.REVVY__Status__c == 'Skipped','background-color:#838383;',
                                                                                    If(AL.REVVY__Status__c == 'Recalled','background-color:#838383;',
                                                                                    If(AL.REVVY__Status__c == 'Process Rejected','background-color:#f44336;','')))))))))}">
                                                                        <apex:outputText value="{!AL.REVVY__Status__c}" styleClass="text-semibold" id="Status"/></div></th>-->
                                                                        
                                                                        <th><div class="label label-table" style="max-width:125px !important;min-width: 85px !important; overflow: visible;background-color:#1d7caf;">
                                                                        <apex:outputText value="{!AL.REVVY__Status__c}" styleClass="text-semibold" id="Status"/></div></th>
                                                                    
                                                                    
                                                                    <th width="25%"><div style="color:#4d627b;">
                                                                        <apex:outputText value="{!AL.REVVY__StepInst__r.Name}" styleClass="text-semibold" id="ApprovalTitle"/></div>
                                                                    </th>
                                                                    <th><apex:outputText value="{!AL.REVVY__AssignedUser__r.Name}" styleClass="text-semibold" id="Approver"/></th>
                                                                    <th><apex:outputText value="{0, date, MMMM d','  yyyy}" styleClass="text-semibold">
                                                                        <apex:param value="{!AL.REVVY__ActionDate__c}" id="ActionDate"/> 
                                                                        </apex:outputText></th>
                                                                    <th><apex:outputText value="{!AL.REVVY__ApprovalComments__c}" styleClass="text-semibold" id="Comments"/></th>
                                                                </tr>
                                                            </apex:repeat>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </apex:outputPanel>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                           <apex:outputPanel id="ButtonsPanel1" styleClass="mobBtnPnl">
                           <center>
                               <apex:commandButton rendered="{!isRecall}"  html-data-toggle="modal" html-data-target="#myModal17"    reRender="nothing" styleClass="btn" value="Recall"
                                                   style="background: #fff!important; color:#1d7caf !important; Padding: 8px;width:200px;height:2.9em; font-size:1emborder: 5px #1d7caf !important;"  />              
                                
                            <!--  <apex:commandButton rendered="{!isRecalled}" value="Cancel"  style="background: #fff !important; color:#1d7caf !important; 
                                                               Padding: 8px;width:200px;height:2.9em; font-size:1emborder: 5px #1d7caf;" reRender="nothing" styleClass="btn" />
                            
                              <apex:commandButton rendered="{!isRecalled}" html-data-toggle="modal" html-data-target="#myModal2"   value="Edit and Resubmit"  style="background: #fff !important; color:#1d7caf !important; 
                                                               Padding: 8px;width:200px;height:2.9em; font-size:1emborder: 5px #1d7caf;" reRender="nothing" styleClass="btn" /> --> 
                            
                             <apex:commandButton rendered="{!isApprovalReview}" html-data-toggle="modal" html-data-target="#myModal"   value="Approve"  style="background: #fff !important; color:#1d7caf !important; 
                                                               Padding: 8px;width:200px;height:2.9em; font-size:1emborder: 5px #1d7caf;" reRender="nothing" styleClass="btn" />
                                   
                             <apex:commandButton rendered="{!isApprovalReview}" value="Reject"  html-data-toggle="modal" html-data-target="#myModal13"
                                     style="background: #fff !important; color:#1d7caf !important;Padding: 8px;width:200px;height:2.9em; font-size:1emborder: 5px #1d7caf;"  styleClass="btn" reRender="ApprovalLog,ButtonsPanel,ButtonsPanel1,rejectStatus" />
                           
                             <apex:commandButton rendered="{!isApprovalReview}" value="Reassign / Add Approver" action="{!reviewContract}" style="background: #fff !important; color:#1d7caf !important; 
                                                               Padding: 8px;width:200px;height:2.9em; font-size:1emborder: 5px #1d7caf;"  styleClass="btn" />
                             
                             </center>
                            </apex:outputPanel>
                        
                        
                            
                            <!--End page content-->
                        </div>
                        <br/>
                        <br/>
                        <div class="footer-fixed" style="text-align:center; font-size: x-small;">
                         <br/> Logged in as: {!$User.FirstName} {!$User.LastName} <br/>
                            {!$Label.CAFfooter4} <a href="mailto:Legal_Technology_Support@Comcast.com">Legal_Technology_Support@Comcast.com</a> <br/>
                            {!$label.CAFfooter1} <br/>
                          <!--  {!$label.CAFfooter1} <br/>
                            <!--<apex:outputLink value="{!$Label.CAFPrivacyLink}" target="_blank">{!$Label.CAFfooter2}</apex:outputLink> {!$label.CAFfooter3} -->
                        </div>
                        <!--END CONTENT CONTAINER-->
                    </div>
                </div>
            </div>
        </body>
        <apex:actionFunction action="{!deletePublicPreviewLink}" name="deletePreviewLink" reRender="">
            
        </apex:actionFunction>
        <apex:actionFunction action="{!createPublicPreviewLink}" reRender="openFileScript" name="createPreviewLink" oncomplete="openFile();">
            <apex:param name="recordId" value="" assignTo="{!recordIDforAAp}"/>
        </apex:actionFunction>
        <apex:actionFunction action="{!ApproverAuditReport}" reRender="" name="ApproverAuditReport">
            <apex:param name="recordId" value="" assignTo="{!recordIDforAAp}"/>
        </apex:actionFunction>
        <apex:actionFunction action="{!getContractDetails}" reRender="DetailsPanel,ButtonsPanel,ButtonsPanel1" name="refreshContractDetails"/>
        <apex:actionFunction action="{!getContent}" reRender="ContentTitle,AType,Description,ButtonsPanel,ButtonsPanel1" name="refreshContentDetails"/>
        <apex:actionFunction action="{!getApprovalDetails}" reRender="ApprovalLog,ButtonsPanel,ButtonsPanel1" name="refreshApprovalDetails"/>
        
    </apex:form>
</apex:page>