<apex:page standardController="Contract_Intake_Form__c" extensions="ReviewContractsExt" action="{!init}">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <head>
            <style>
                .bPageTitle{
                width:100%;
                padding: 0% !important;
                }
                .slds-truncate{
                text-align:left;
                }
                .Search-lookup-field{
                color: #16325c;
                border: 1px solid #d8dde6;
                border-radius: .25rem;
                width: 80%;
                transition: border .1s linear,background-color .1s linear;
                display: inline-block;
                padding: 0 1rem 0 .75rem;
                line-height: 1.875rem;
                min-height: calc(1.875rem + (1px * 2));
                }
                
                .required-symbol{
                border-left:2px solid  red !important;
                } 
                .required-symbol1{
                border-left:4px solid  red !important;
                }
                .requiredInput a{
                border:none !important;
                }
                
                .slds-scope a {
                color: #0070d2;
                text-decoration: none;
                transition: color .1s linear;
                border: none !important;
                }
                
                .slds-table th{
                background: #0070d2;
                color: white;
                }
                
                .modal {
                display: none; 
                position: fixed; 
                z-index: 1; 
                padding-top: 100px; 
                left: 0;
                top: 0;
                width: 100%; 
                height: 100%; 
                overflow: auto; 
                background-color: rgb(0,0,0); 
                background-color: rgba(0,0,0,0.4); 
                }
                
                .modal-content {
                background-color: #fefefe;
                margin: auto;
                padding: 20px;
                border: 1px solid #888;
                width: 50%;
                }
                .para_heading{
                font-size: 1.7em;
                font-weight: bold;
                background: #deecf1;
                padding: 0.4% !important;
                border: 1px solid;
                margin-bottom: 8px !important;
                margin-top: 8px !important;
                box-shadow: 5px 5px 5px #ccc;
                }
            </style>
        </head>
        
        <style type="text/css">
            .dateFormat {
            padding: 0 2px;
            display: none;
            }
            .datePicker{
            z-index: 99999 ;
            }
        </style>
        <script>
        function selectValue(value,valindex){
            selectValue1(value,valindex);
        }    
        </script>
        <apex:slds />
        <apex:outputPanel id="demo">
        </apex:outputPanel>
        <apex:form id="frm1">
            <apex:pagemessages escape="false"></apex:pagemessages>
            <apex:actionStatus id="sts" style="align:center;">
                <apex:facet name="start">
                    <div style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.25; z-index: 99999; background-color: black;">
                        &nbsp;
                    </div>
                    <div style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 99999; margin: 15% 50%">
                        <div style="display: inline-block; padding: 2px; background-color: #fff; width: 125px;">
                            <img src="/img/loading.gif" style="float: left; margin: 8px;" />
                            <span style="display: inline-block; padding: 10px 0px;">Please Wait...</span>
                        </div>
                    </div>
                </apex:facet>
            </apex:actionStatus>
            <apex:actionFunction action="{!save}" status="sts" rerender="demo" name="save"/>
            <apex:actionfunction name="selectValue1" action="{!valueSelection}" status="sts" rerender="demo">
                <apex:param name="value"  value=""/>
                <apex:param name="valindex"  value=""/>
            </apex:actionfunction>
            <body class="slds-scope">
                <div class="message errorM3" role="alert" id="errorMsg" style="display:none">
                    <table border="0" cellpadding="0" cellspacing="0" class="messageTable" style="padding:0px;margin:0px;">
                        <tbody>
                            <tr valign="top">
                                <td>
                                    <img alt="ERROR" class="msgIcon" src="/s.gif" title="ERROR"/>
                                    
                                </td>
                                <td class="messageCell">
                                    <h4>Errors</h4>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td id="dynamicError">
                                    <!--Please Fill all Required Fields.-->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br/>
                <p class="para_heading">Review Contract Assignment</p>
                <table class="slds-table slds-table_bordered slds-table_cell-buffer" width="100%">
                    <thead>
                        <tr class="slds-text-title_caps">
                            <th scope="col">
                                <div class="slds-truncate" title="Contract Intake Form Number">Contract Intake Form Number</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate" title="Client">Client</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate" title="Accept">Accept</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate" title="Reject">Reject</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate" title="Need More Info">Need More Info</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate" title="Description">Description</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <apex:variable var="index" value="{!0}" />
                        <apex:repeat value="{!listContracts}" var="obj" id="dataTable">
                            <tr>
                                <td scope="row">
                                    <div class="slds-form-element__control">
                                        <apex:outputField value="{!obj.name}" styleClass="slds-input" />
                                    </div>
                                </td>
                                <td scope="row">
                                    <div class="slds-form-element__control">
                                        <apex:outputField value="{!obj.Client_Name_and_business_unit__c}" styleClass="slds-input" />
                                    </div>
                                </td>
                                <td scope="row">
                                    <div class="slds-form-element__control">
                                        <span class="slds-radio">
                                            <input type="radio" id="accept{!index}" name="options{!index}" value="Accepted" checked="checked" onClick="selectValue(this.value,{!index});"/>
                                            <label class="slds-radio__label" for="accept{!index}">
                                                <span class="slds-radio_faux"></span>
                                            </label>
                                        </span>
                                    </div>
                                </td>
                                <td scope="row">
                                    <div class="slds-form-element__control">
                                        <span class="slds-radio">
                                            <input type="radio" id="reject{!index}" name="options{!index}" value="Rejected" onClick="selectValue(this.value,{!index});" />
                                            <label class="slds-radio__label" for="reject{!index}">
                                                <span class="slds-radio_faux"></span>
                                            </label>
                                        </span>
                                    </div>
                                </td>
                                <td scope="row">
                                    <div class="slds-form-element__control">
                                        <span class="slds-radio">
                                            <input type="radio" id="needMoreInfo{!index}" name="options{!index}" value="Need More Info"  onClick="selectValue(this.value,{!index});"/>
                                            <label class="slds-radio__label" for="needMoreInfo{!index}">
                                                <span class="slds-radio_faux"></span>
                                            </label>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="slds-form-element__control">
                                        <apex:inputField value="{!obj.Description__c}" styleClass="slds-input" />
                                    </div>
                                    <apex:variable var="index" value="{!index + 1}" />
                                </td>
                            </tr>
                        </apex:repeat>
                    </tbody>
                </table>
                <br/>
                <center>
                    <button type="button" class="slds-button slds-button_brand" id="submitButtonId" onclick="save();">Save</button>&nbsp;
                    <apex:commandButton styleClass="slds-button slds-button_brand" action="{!cancel}" value="Cancel" immediate="true" status="sts"/>
                </center>
            </body>
        </apex:form>
    </html>
</apex:page>