<apex:page standardController="Account" id="thePage" sidebar="false" showHeader="false" docType="HTML-5.0">
        <head>
            <meta charset="UTF-8"/>
            <title>bootstrap4</title>
            
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
            <apex:stylesheet value="{!URLFOR($Resource.summernote,'dist/summernote-lite.css')}"/>
                <script src="{!URLFOR($Resource.summernote,'dist/summernote-lite.js')}"></script>
        </head>
        <body>
            <form method="post">
  <textarea id="summernote" name="editordata"></textarea>
</form>
            <script>
            var markupStr = 'test';
          $('#summernote').summernote('code', markupStr);
            </script>
        </body>
</apex:page>