<apex:page standardController="REVVY__MnContract__c" action="{!displayContractApprovals}" extensions="ReviewCAFController03082019" sidebar="false" id="pg" showHeader="false" docType="html-5.0">
    <apex:form id="DashboardForm">    
        <head>
            <meta charset="utf-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/bootstrap.min.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/ionicons.min.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/nifty.min.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/pace.min.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/bootstrap-select.min.css')}"/> 
            <!-- <apex:stylesheet value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/plugin/pace.min.css')}"/> For Progress bar while loading
            <apex:includeScript value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/plugin/pace.min.js')}"/> -->
            <apex:includeScript value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/jquery.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/bootstrap.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/nifty.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.CAFReviewBootstrap, 'css/bootstrap-select.min.js')}"/>
            <apex:includeLightning />
            <apex:includeScript value="/lightning/lightning.out.js"/> 
            <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"/>
            <style>
                #PAText:hover{
                    transform: scale(1.2);
                }
                #CAText:hover{
                    transform: scale(1.2);
                }
                #TCText:hover{
                    transform: scale(1.2);
                }
                #DText:hover{
                    transform: scale(1.2);
                }
                .ease-in{
                    margin-Left: 100%;
                    width:300%;
                    transition: 0.5s;
                }
                .ease-out{
                    margin-left: -250%;
                    transition: 0.5s;
                }
                .fade-in {
                    opacity: 1 !important;
                    animation-name: fadeInOpacity;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-in;
                    animation-duration: 0.5s;
                }
                @keyframes fadeInOpacity {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
                .header-details{
                color:#25476A;
                width:40%;
                white-space: normal;
                vertical-align: top;
                }
                .header-approvers{
                color:#25476A;
                white-space: normal;
                }
                .pad-bot{
                padding-bottom:25px;
                }
                ol,li {
                margin-left: 0 !important;
                }
                .down{
                content: "";
                border-color:#fff;
                border-style: solid;
                border-width: 0 .1em .1em 0;
                display: inline-block;
                height: .55em;
                left: 0;
                position: relative;
                top: -.1em;
                width: .55em;
                padding: 0;
                margin-left: 1ex;
                margin-right: 1.7ex;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                }
                .dropdown {
                position: relative;
                display: inline-block;
                }
                .dropdown-content {
                display: none;
                position: absolute;
                min-width: 160px;
                z-index: 1;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                }
                .dropdown-content a {
                color: white;
                text-decoration: none;
                display: block;
                }
                .dropdown-content a:hover {color: white}
                .dropdown:hover .dropdown-content {
                display: block;
                }
            </style>
            <script>
            //search contract name while you type
            function searchcontract(source){
                if(source.id == 'contractnamesearch'){
                    search(source.value);
                }
            }
            //when DOM is ready add class to the id
            $(document).ready(function() {
                $('#1').addClass('active');
            });
            //drop down function 
            function enableDropDown(contentClass){
                if($(contentClass).css('display') == 'none'){
                    $(contentClass).css('display','block');
                }else{
                    $(contentClass).css('display','none');
                }
            }
            //on load of the page add animation
            window.onload = function(){
                var Panels = document.getElementById('Panels');
                Panels.style.marginLeft = "0%";
                Panels.style.width = "100%";
                setTimeout(addAnimations,500);
            };
            function addAnimations(){
                $("#FadeApprovalsDiv").addClass('fade-in');
                setTimeout(addAnotherAnimation,500);
            }
            function addAnotherAnimation(){ 
                var NowshowingSpan = document.getElementById('Nowshowing');
                NowshowingSpan.style.marginLeft = "0%";
            }
            //returns currency format of string
            function convertToLocale(num){
                var parts = num.toString().replace(",","").split(".");
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                return parts.join(".");
            } 
            var ContractId = '';
            var ContractName = '';
            $(document).on('show.bs.modal','#ReviewCAFModal', function (event) {
                var Id = $(event.relatedTarget).data('contract');
                ContractId = Id;
                //fetch contract details to modal pop up
                Visualforce.remoting.Manager.invokeAction(
                    '{!$RemoteAction.ReviewCAFController03082019.getContractModal}',
                    Id, 
                    function(result, event){
                        if (event.status) {
                            document.getElementById('pg:DashboardForm:CAFType').innerHTML = result.CAF_Type__c;
                            document.getElementById('pg:DashboardForm:Name').innerHTML = result.Name;
                            ContractName = result.Name;
                            document.getElementById('pg:DashboardForm:BusinesUnit').innerHTML = result.Business_Unit__c === undefined ? "N/A" : result.Business_Unit__c;
                            document.getElementById('pg:DashboardForm:Counterparty').innerHTML = result.Counterparty__c;
                            document.getElementById('pg:DashboardForm:Currency').innerHTML = result.REVVY__Currency__c;
                            document.getElementById('pg:DashboardForm:Contractvalue').innerHTML = convertToLocale(result.Contract_Value__c);
                            document.getElementById('pg:DashboardForm:Legal').innerHTML = result.Unchanged_legal_provided_template_used__c;
                            document.getElementById('pg:DashboardForm:Sourcing').innerHTML = result.Is_Sourcing_Contract__c;
                            document.getElementById('pg:DashboardForm:Binding').innerHTML = result.Is_Binding_Corporate_Dev_Contract__c;
                            document.getElementById('pg:DashboardForm:Applicable').innerHTML = result.Above_statements_applicable_to_Contract__c;
                            document.getElementById('pg:DashboardForm:Lessthan').innerHTML = result.Less_Than_100K__c;
                            document.getElementById('pg:DashboardForm:briefsummary').innerHTML = $('<div/>').html(result.Brief_Summary__c).text().replace(/<\/?[^>]+(>|$)/g, "");
                            if(result.CAF_Type__c!='Cable Division' && result.CAF_Type__c!='Cable Division - Advertising' && result.CAF_Type__c!='Cable Division - Preferred Vendor'){
                                document.getElementById('unmod').style.display = 'none';
                            }
                            if(result.CAF_Type__c!='Cable Division' && result.CAF_Type__c!='Cable Division - Advertising'){
                                document.getElementById('Less').style.display = 'none'; 
                            }
                            if(result.CAF_Type__c!='Cable Division' && result.CAF_Type__c!='Cable Division - Advertising' &&
                              result.CAF_Type__c!='Cable Division - Comcast India' && result.CAF_Type__c!='CAF - Leisure Arts'){
                                document.getElementById('BCD').style.display = 'none';  
                            }
                            if(result.CAF_Type__c!='Cable Division' && result.CAF_Type__c!='Cable Division - Advertising' &&
                              result.CAF_Type__c!='Cable Division - Comcast India'){
                                document.getElementById('PSS').style.display = 'none';  
                            }
                            
                        } else if (event.type === 'exception') {
                            console.log('Exception - '+event.message+' at '+event.where);
                        } else {
                            console.log('Error - '+event.message);
                        }
                    }, 
                    {escape: true}
                );
                // fetch files to modal pop up
                Visualforce.remoting.Manager.invokeAction(
                    '{!$RemoteAction.ReviewCAFController03082019.getContentModal}',
                    Id, 
                    function(result, event){
                        if (event.status) {
                            if(result != null){
                                var table = '<table class="table table-striped" style="margin-bottom:0!important"><thead><tr><th style="font-size:1.1em"><span style="vertical-align: -webkit-baseline-middle;">Files/Attachments</span></th></tr></thead></table>';
                                table+='<table class="table table-striped" style="margin-bottom:0!important"><thead><tr></tr></thead></table><table class="table table-striped" style="margin-bottom:0!important"><thead>';
                                for(let i=0;i<result.length;i++){
                                    let attachmenttype = result[i].Attachment_Type__c === undefined? 'Other' : result[i].Attachment_Type__c;
                                    let description = result[i].Description === undefined? "N/A" : result[i].Description;
                                    table+='<tr><th class="text-semibold" style="Width:35%"><a href=/sfc/servlet.shepherd/version/download/'+result[i].Id+ ' target="_blank" class="btn-link text-semibold">'+result[i].Title+'</a></th>';
                                    table+='<th class="text-semibold" style="Width:30%"><div style="max-width:134px !important;width:100%">'+attachmenttype+'</div></th>';
                                    table+='<th class="text-semibold" style="Width:35%"><div style="white-space: normal;">'+description+'</div></th></tr>';
                                }
                                table+='</thead></table>';
                                document.getElementById('FilesTable').innerHTML=table;
                            }
                        }else if(event.type === 'exception'){
                            console.log('Exception - '+event.message+' at '+event.where);
                        }else{
                            console.log('Error - '+event.message);
                        }
                    },{escape: true}
                );
                // fetch approval history to modal pop up
                Visualforce.remoting.Manager.invokeAction(
                    '{!$RemoteAction.ReviewCAFController03082019.getApprovalLogModal}',
                    Id, 
                    function(result, event){
                        if (event.status) {
                            if(result != null){
                                var table='';
                                for(let i=0;i<result.length;i++){
                                    let comment = result[i].REVVY__ApprovalComments__c === undefined ? 'N/A' : result[i].REVVY__ApprovalComments__c;
                                    table+='<tr><th width="25%"><div style="color:#4d627b;"><span class="text-semibold">'+result[i].REVVY__StepInst__r.Name+'</span></div></th>';
                                    table+='<th><span class="text-semibold">'+result[i].REVVY__AssignedUser__r.Name+'</span></th>';
                                    table+='<th><span class="text-semibold">'+result[i].REVVY__Status__c+'</span></th>';
                                    table+='<th><span class="text-semibold">'+moment(result[i].REVVY__ActionDate__c).format('MMMM DD, YYYY')+'</span></th>';
                                    table+='<th><span class="text-semibold">'+comment+'</span></th></tr>';
                                    
                                }
                                document.getElementById('ApprovalHistory').innerHTML=table;
                            }
                        }else if(event.type === 'exception'){
                            console.log('Exception - '+event.message+' at '+event.where);
                        }else{
                            console.log('Error - '+event.message);
                        }
                    },{escape: true}
                );
            })
            </script>
        </head>
        <body>
            <div class="effect aside-float aside-bright mainnav-lg" id="main-div">
                <div class="boxed">
                    <!--CONTENT CONTAINER-->
                    <div id="container">
                        <header id="navbar">
                            <div id="navbar-container" class="boxed">
                            </div>
                        </header>
                        <div class="boxed">
                            <div id="content-container" style="padding-top:0 !important">
                                <div id="page-head">
                                    <div id="page-title" style="padding-right:0 !important">
                                        <ol class="breadcrumb">
                                            <li class="page-header text-overflow">{!$User.FirstName}'s CAF Approver Dashboard</li>
                                            <div style="border:0px !important;font-size:1.1em !important;font-weight:400 !important;padding:-5px 0 10px ! important;">
                                                <a style="color: #fff !important;text-decoration: underline;" href="/apex/ContractRequesterDashboard03082019">Switch to CAF Requester Dashboard</a>
                                            </div>
                                            <!--<div  class="dropdown" onClick="enableDropDown('.content2');" style = "float:right;padding: 16px 0px;">
                                                <i class="down"></i>
                                            </div>
                                            <div class="dropdown-content content2" style="margin-top:-0.5%;right:0;margin-right:27px;">
                                                <a href="/secur/logout.jsp" style="text-align:center">Logout</a>
                                            </div>
                                            <li style = "float:right;position: relative;padding:16px 0 10px;">Welcome {!$User.FirstName}</li>-->
                                        </ol>
                                    </div>
                                    <div class="form-group" style="float:right;margin-right:15px;">
                                        <a class="btn btn-default btn-mint" style="padding: 6px 12px;border: 1px solid #26a69a;
                                                                                   background: #ffffff;color:#0d3449;"
                                           href="/apex/IETestCAFCopy02192019" target="_blank">
                                            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
                                            New eCAF Request
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="page-content">
                            <div class="row">
                                <div class="panel">
                                    <div class="panel-body">
                                        <div id="Panels" class="ease-in">
                                            <div class="col-md-3">
                                                <div class="panel panel-colorful media middle pad-all" style="cursor:pointer;background-color:#0089cf;color: white;" 
                                                     onclick="$('#Nowshowing').css('margin-left','-250%');$('#Nowshowing').removeClass('ease-out');pendingApprovalFunction()">
                                                    <div class="media-body" id="PAText"  style="height:50px;font-weight:400;font-size:1.1em;text-align:center;">
                                                        My Approvals
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3" style="cursor:pointer">
                                                <div class="panel  panel-colorful media middle pad-all"  style="background-color:#f44336;color: white;" 
                                                     onclick="$('#Nowshowing').css('margin-left','-250%');$('#Nowshowing').removeClass('ease-out');inProcessFunction();">
                                                    <div class="media-body" id="DText" style="height:50px;font-weight:400;font-size:1.1em;text-align:center;">
                                                        In-Process Approvals
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="panel panel-colorful media middle pad-all" style="cursor:pointer;background-color:#7fc42e;color: white;" 
                                                     onclick="$('#Nowshowing').css('margin-left','-250%');$('#Nowshowing').removeClass('ease-out');completedApprovalFunction()">
                                                   <div class="media-body" id="CAText" style="height:50px;font-weight:400;font-size:1.1em;text-align:center;">
                                                        <apex:outputText value="{!$Label.CompletedApproval}"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3" style="cursor:pointer" onclick="$('#Nowshowing').css('margin-left','-250%');$('#Nowshowing').removeClass('ease-out');totalApprovalsFunction()" >
                                                <div class="panel  panel-colorful media middle pad-all"  style="background-color:#1d485d;color: white;">
                                                    <div class="media-body" id="TCText" style="height:50px;font-weight:400;font-size:1.1em;text-align:center;">
                                                        Total Approvals
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pad-btm form-inline">
                                            <div class="row">
                                                <div class="col-sm-6 table-toolbar-left">
                                                    <div class="media-right" style="padding:0">
                                                        <span id="Nowshowing" class="text-main ease-out" style="font-size:18px"><apex:outputText value="{!NowShowing}" id="nowshowing"/></span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 table-toolbar-right">
                                                    <div class="form-group" style="margin-right:10px;">
                                                        <!--<input type="text" autocomplete="off" class="form-control" 
                                                               placeholder="Search Contract Name" id="contractnamesearch" 
                                                               onkeydown="searchcontract(this);"/>-->
                                                      <!--  <button class="btn btn-default" style="background: transparent;color: purple;width:35px;height:33px;" type="submit" id="refresh" onclick="approvalrefresh()">
                                                            <i class="fa fa-refresh" style="font-size:1.8em !important;vertical-align: middle;" aria-hidden="true"/>
                                                        </button> -->
                                                        <a onclick="approvalrefresh()" id="refresh" class="btn btn-default" style="background:transparent;padding: 5px 7px 8px 7px;"><i class="fa fa-refresh" style="font-size:1.5em !important;vertical-align: middle;cursor:pointer;color:#838383;" aria-hidden="true"/></a>
                                                        <!--  <a onclick="downloadcsv()" class="btn btn-default" style="background:transparent; padding: 5px 7px 8px 7px;">
                                                            <i class="fa fa-cloud-download" style="font-size:1.5em !important;vertical-align: middle;cursor:pointer;color:#838383;" aria-hidden="true"/>
                                                        </a>
                                                        <button class="btn btn-default" style="background: transparent;color: purple;width:35px;height:33px;" onclick="downloadcsv();">
                                                            <i class="fa fa-cloud-download" style="font-size:1.8em !important;vertical-align: middle;" aria-hidden="true"/>
                                                        </button> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <apex:outputPanel id="PendingApprovals">
                                            <div class="table-responsive" id="FadeApprovalsDiv" style="opacity:0;">
                                                <apex:outputPanel id="PendingApprovalsTable">
                                                    <script>
                                                    function downloadcsv(){
                                                        window.open('{!$Site.BaseUrl}/apex/ContractstoExcel?NowShowing={!NowShowing}','_blank');
                                                    }
                                                    function activatePageNumber(source){
                                                        //alert('No. of Pages- {!NumberOfPages}, setcon- {!setCon.pageNumber}, current- {!CurrentPage}, Next- {!NextPage}, Previous- {!PreviousPage}');
                                                        if('{!setCon.pageNumber}'=='{!PreviousPage}'){
                                                            $("#Previous").addClass("active");
                                                            $("#Next").removeClass("active");
                                                            $("#Current").removeClass("active");
                                                        }
                                                        else if('{!setCon.pageNumber}'=='{!CurrentPage}'){
                                                            $("#Previous").removeClass("active");
                                                            $("#Next").removeClass("active");
                                                            $("#Current").addClass("active");  
                                                        }
                                                            else if('{!setCon.pageNumber}'=='{!NextPage}'){
                                                                $("#Previous").removeClass("active");
                                                                $("#Next").addClass("active");
                                                                $("#Current").removeClass("active");
                                                            }
                                                    }
                                                    </script>
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr> 
                                                                <th><apex:outputText value="Requester"/>
                                                                    <a onclick="requestersort()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                </th>
                                                                <th><apex:outputText value="Contract Name"/>
                                                                    <a onclick="contractnamesort()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                </th>
                                                                <th><apex:outputText value="Counterparty"/>
                                                                    <a onclick="counterpartysort()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                </th>
                                                                <th><apex:outputText value="Business Unit"/>
                                                                    <a onclick="businessunitsort()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                </th>
                                                                <th><apex:outputText value="Contract Value"/>
                                                                    <a onclick="contractvaluesort()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                </th>
                                                                <th><apex:outputText value="Request Date"/>
                                                                    <a onclick="submissiondatesort()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                </th>
                                                                <th class="text-center">Status</th>
                                                                <th><apex:outputText value="Current Approver"/>
                                                                    <a onclick="approversort()"><i class="fa fa-sort" aria-hidden="true" style="cursor:pointer"/></a>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <apex:repeat value="{!Approvals}" var="CL">
                                                                <tr>
                                                                    <th><apex:outputText value="{!CL.Requester}" styleClass="text-semibold"/></th> 
                                                                    <th style="width:25%"><a href="/apex/ReviewCAF03082019?id={!CL.ContractId}" target="_blank" class="btn-link text-semibold"><apex:outputText value="{!CL.ContractName}"/></a></th>
                                                                    <th><apex:outputText value="{!CL.Counterparty}" styleClass="text-semibold"/></th>
                                                                    <th><span class="text-muted"><apex:outputText value="{!If(CL.BusinessUnit == '','N/A',CL.BusinessUnit)}" styleClass="text-semibold"/></span></th>
                                                                    <th><apex:outputText value="{0, Number, $###,###,###,###,##0}" styleClass="text-semibold">
                                                                        <apex:param value="{!If(CL.ContractValue == null,0,CL.ContractValue)}"/>
                                                                        </apex:outputText></th>
                                                                    <th><apex:outputText value="{0, date, MMMM d','  yyyy}" styleClass="text-semibold">
                                                                        <apex:param value="{!CL.SubmissionDate}" /> 
                                                                        </apex:outputText></th>
                                                                    <th class="text-center text-semibold">
                                                                        <div class="label label-table label-success" style="max-width:125px !important;min-width: 100% !important;">
                                                                            <apex:outputText value="{!If(AND(CL.Status == 'CAF Request', CL.StatusCheck = 'In Process'),'Requester',If(AND(CL.Status == 'CAF Request', CL.StatusCheck = 'Admin Review', CL.Rejected == False),'Admin Review',IF(CL.Status == 'Approval','CAF In-Process',If(AND(CL.Status == 'CAF Request', CL.StatusCheck = 'Admin Review', CL.rejected == true),'Rejected',IF(CL.Status == 'Signature','Contract Execution',If(CL.Status == 'Active','Active','Inactive'))))))}"/>
                                                                       </div>
                                                                    </th>
                                                                    <th><apex:outputText value="{!If(CL.Approver != NULL,CL.Approver,'N/A')}" styleClass="text-semibold"/></th>
                                                                </tr>
                                                            </apex:repeat>
                                                        </tbody>
                                                    </table>
                                                </apex:outputPanel>
                                            </div>
                                            <hr class="new-section-xs"/>
                                            <!-- Functions that hit apex controller -->
                                            <apex:actionFunction action="{!refresh}" name="approvalrefresh" reRender="PendingApprovalsTable" />
                                            <apex:actionFunction name="search" action="{!Search}" reRender="PendingApprovalsTable">
                                                <apex:param assignTo="{!contractsearchstring}" value="" name="name"/>
                                            </apex:actionFunction>
                                            <apex:actionFunction action="{!RequesterASC}" name="requestersort" reRender="PendingApprovalsTable"/>
                                            <apex:actionFunction action="{!contractNameASC}" name="contractnamesort" reRender="PendingApprovalsTable"/>
                                            <apex:actionFunction action="{!CounterpartyASC}" name="counterpartysort" reRender="PendingApprovalsTable"/>
                                            <apex:actionFunction action="{!BusinessunitASC}" name="businessunitsort" reRender="PendingApprovalsTable"/>
                                            <apex:actionFunction action="{!contractValueASC}" name="contractvaluesort" reRender="PendingApprovalsTable"/>
                                            <apex:actionFunction action="{!submissionDateASC}" name="submissiondatesort" reRender="PendingApprovalsTable"/>
                                            <apex:actionFunction action="{!ApproverASC}" name="approversort" reRender="PendingApprovalsTable"/>
                                            <apex:actionFunction name="pendingApprovalFunction" action="{!setPendingStatus}" reRender="PendingApprovalsTable,nowshowing,Pagination" 
                                                                 oncomplete="setTimeout(addAnotherAnimation,500);"/>
                                            <apex:actionFunction name="completedApprovalFunction" action="{!setCompletedStatus}" reRender="PendingApprovalsTable,nowshowing,Pagination"
                                                                 oncomplete="setTimeout(addAnotherAnimation,500);"/> 
                                            <apex:actionFunction name="totalApprovalsFunction" action="{!setTotalRequests}" reRender="PendingApprovalsTable,nowshowing,Pagination"
                                                                 oncomplete="setTimeout(addAnotherAnimation,500);"/>
                                            <apex:actionFunction name="inProcessFunction" action="{!setInprocessStatus}" reRender="PendingApprovalsTable,nowshowing,Pagination"
                                                                 oncomplete="setTimeout(addAnotherAnimation,500);"/>
                                            <!-- Functions End -->
                                            <apex:outputPanel id="Pagination">
                                                <div class="pull-right">
                                                    <ul class="pagination text-nowrap mar-no">
                                                        <li class="{!If(!setCon.hasPrevious,"page-pre disabled","page-pre")}">
                                                            <!-- <a href="#">&lt;</a> -->
                                                            <apex:commandLink action="{!Newer}" value="← Newer" oncomplete="activatePageNumber(this);" reRender="PendingApprovalsTable,Pagination"/>
                                                        </li>
                                                        <li class="page-number active" id="Previous">
                                                            <apex:commandLink action="{!goBack}" value="{!PreviousPage}" oncomplete="activatePageNumber(this);" reRender="PendingApprovalsTable,Pagination"/>
                                                        </li>
                                                        <li class="{!If(NumberOfPages <= 1 ,"page-number disabled","page-number")}" id="Current">
                                                            <apex:commandLink action="{!movePage}" value="{!CurrentPage}" oncomplete="activatePageNumber(this);" reRender="PendingApprovalsTable,Pagination"/>
                                                        </li> <!-- !setCon.hasNext, -->
                                                        <li class="{!If(OR(NumberOfPages <= 2),"page-number disabled","page-number")}" id="Next">
                                                            <apex:commandLink action="{!goForward}" value="{!NextPage}" oncomplete="activatePageNumber(this);" reRender="PendingApprovalsTable,Pagination"/>
                                                        </li>
                                                        <li>
                                                            <span>...</span>
                                                        </li>
                                                        <li class="page-number">
                                                            <apex:commandLink action="{!last}" value="last" oncomplete="activatePageNumber(this);" reRender="PendingApprovalsTable,Pagination"/>
                                                        </li>
                                                        <li class="{!If(!setCon.hasNext,"page-next disabled","page-next")}">
                                                            <!-- <a href="#">&gt;</a> -->
                                                            <apex:commandLink action="{!Older}" value="Older →" oncomplete="activatePageNumber(this);" reRender="PendingApprovalsTable,Pagination" />
                                                        </li>
                                                    </ul>
                                                </div>
                                            </apex:outputPanel>
                                        </apex:outputPanel>
                                    </div>
                                </div>
                            </div>
                            <!--End page content-->
                        </div>
                        <div class="footer-fixed" style="text-align:center; font-size: x-small;">
                        <apex:image url="{!$Resource.FooterLogo}" width="72px;" height="auto;"/><br/>
                        Logged in as: {!$User.FirstName} {!$User.LastName} <br/>
                            {!$Label.CAFfooter4} <a href="mailto:Legal_Technology_Support@Comcast.com">Legal_Technology_Support@Comcast.com</a> <br/>
                            {!$label.CAFfooter1} <br/>
                           <!-- {!$label.CAFfooter1} <br/>
                            <!--<apex:outputLink value="{!$Label.CAFPrivacyLink}" target="_blank">{!$Label.CAFfooter2}</apex:outputLink>{!$label.CAFfooter3} --> 
                        </div>
                        <!--END CONTENT CONTAINER-->
                    </div>
                    <!-- Modal window starts here -->
                    <div class="modal fade" id="ReviewCAFModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content" style="background-color:#ECF0F5">
                                <!--Modal header-->
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" style="margin-top:0!important">
                                        <i class="pci-cross pci-circle"></i>
                                    </button>
                                </div>                                
                                <!--Modal body-->
                                <div class="modal-body">
                                    <div class="boxed">
                                        <div id="container">
                                            <div id="page-content">
                                                <!-- Details Section -->
                                                <div class="row">
                                                    <div class="panel">
                                                        <div class="panel-heading">
                                                            <div style="padding-top: 15px;">
                                                                <h3 class="panel-title" style="color:#25476A;font-weight: bold;">
                                                                    Details
                                                                </h3>
                                                            </div>
                                                        </div>
                                                        <div class="panel-body" id="fieldset" style="min-height:380px;">
                                                            <div class="table-responsive">
                                                                <table style="width:100%;">
                                                                    <tr> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="CAF Type:"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm"><apex:outputText id="CAFType"/></th>
                                                                    </tr>
                                                                    <tr> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Contract Name:"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm"><apex:outputText id="Name"/></th>
                                                                    </tr>
                                                                    <tr> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Business Unit:"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm"><apex:outputText id="BusinesUnit"/></th> 
                                                                    </tr>
                                                                    <tr> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Counterparty:"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm"><apex:outputText id="Counterparty"/></th>
                                                                    </tr>
                                                                    <tr> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Currency:"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm"><apex:outputText id="Currency"/></th>
                                                                    </tr>
                                                                    <tr> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Contract Value:"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm">$<apex:outputText id="Contractvalue"/></th>
                                                                    </tr>
                                                                    <tr id="unmod"> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Are you using an unmodified legal provided contract?"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm"><apex:outputText id="Legal"/></th>
                                                                    </tr>
                                                                    <tr id="PSS"> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Is this a Professional Services Sourcing contract?"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm"><apex:outputText id="Sourcing"/></th>
                                                                    </tr>
                                                                    <tr id="BCD"> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Binding Corporate Development contract?"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm"><apex:outputText id="Binding"/></th>
                                                                    </tr>
                                                                    <tr id="Less"> 
                                                                        <th class="text-semibold header-details pad-btm">If any of these apply, answer yes below:<br/> <apex:outputText id="Lessthan"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm"><apex:outputText id="Applicable"/></th>
                                                                    </tr>
                                                                    <tr> 
                                                                        <th class="text-semibold header-details pad-btm"><apex:outputText value="Brief Summary:"/></th>
                                                                        <th style="white-space: normal;" class="pad-btm bq-sm"><apex:outputText id="briefsummary" escape="false" style="word-break:break-word;"/></th>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Files Section -->
                                                <div class="row">
                                                    <div class="panel">
                                                        <div class="panel-body">
                                                            <div class="table-responsive" id="FilesTable" style="max-height:1000px;">
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- History Section -->
                                                <div class="row">
                                                    <div class="panel">
                                                        <div class="panel-body">
                                                            <div class="table-responsive">
                                                                <table class="table table-striped">
                                                                    <thead>
                                                                        <tr> 
                                                                            <th width="25%">Title</th>
                                                                            <th>Name</th>
                                                                            <th>Status</th>
                                                                            <th>Date</th>
                                                                            <th><span style="vertical-align: -webkit-baseline-middle;">Comments</span></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="ApprovalHistory">
                                                                        
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Buttons -->
                                             <!--   <div class="row" style="display: flex !important;justify-content: center !important;">
                                                    <apex:commandButton onclick="window.open('/apex/EmbeddedManageApprovals?resource=approvalbundle&entry=approvalHistory#/approval/contract/'+ContractName+'/'+ContractId);return false;" value="Manage Approvals"
                                                                        style="background: #1d485d !important; color:white !important; 
                                                                               Padding: 8px;width:300px;height:2.9em; font-size:1em" 
                                                                        styleClass="btn"  rendered="{!If(AND($UserRole.Id == CAFApproversRole,$User.ProfileId == CAFViewersProfile,isApprover),true,false)}" /> 
                                                    <apex:commandButton value="Approve" onclick="window.open('/apex/EmbeddedManageApprovals?resource=approvalbundle&EmailSource=ContractApprove&entry=approvalHistory#/approval/contract/'+ContractName+'/'+ContractId);return false;" 
                                                                        style="background: #1d485d !important; color:white !important; 
                                                                               Padding: 8px;width:200px;height:2.9em; font-size:1em" 
                                                                        styleClass="btn" />
                                                    <apex:commandButton value="Reject" onclick="window.open('/apex/EmbeddedManageApprovals?resource=approvalbundle&EmailSource=ContractReject&entry=approvalHistory#/approval/contract/'+ContractName+'/'+ContractId);return false;" style="background: #1d485d !important; color:white !important; 
                                                                                                                                                                                                                                                                                            Padding: 8px;width:200px;height:2.9em; font-size:1em" 
                                                                        styleClass="btn" rendered="{!If(AND($UserRole.Id == CAFApproversRole,$User.ProfileId == CAFViewersProfile,isApprover),true,false)}"/>
                                                    <apex:commandButton value="Reassign / Add Approver" onclick="window.open('/apex/EmbeddedManageApprovals?resource=approvalbundle&EmailSource=ContractReview&entry=approvalHistory#/approval/contract/'+ContractName+'/'+ContractId);return false;" style="background: #1d485d !important; color:white !important; 
                                                                                                                                                                                                                                                                                                             Padding: 8px;width:200px;height:2.9em; font-size:1em" 
                                                                        styleClass="btn" />
                                                </div> --> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal window ends here -->
                </div>
            </div>
        </body>
    </apex:form>
</apex:page>